
%br
%br

.two-thirds
  %h4 Our copywriting and editing services
  %div
    %p Copywriting at Gigavine comes in different sizes and shapes.

    %ul
      %li Give us a brief and we can write what you need from scratch
      %li Give us a set of notes and we’ll turn them into working copy
      %li Give us what you’ve written and we can edit any way you want – shorten it, expand upon it, sharpen it, relax it

    %p Furthermore, our copywriting services include long and short copy, conceptual work or explanatory or descriptive text. We can:

    %ul
      %li Generate headline concepts for adverts, home pages, leaflets or direct mail
      %li Craft long copy for customer emails and letters, articles, blog posts, brochures, newsletters, annual reports or direct mail marketing
      %li Write radio ads or packaging copy
      %li Rewrite a piece of technical information so it becomes accessible to a wide audience

    %p If you want to communicate your services or ideas powerfully and persuasively, ask us about our copywriting services.


.box.equalized.azure.expand
  %h4 Copywriting
  %div
    %p You know what you want to say but you don’t know exactly how to put it. Or you’ve written something but you need advice and input on how it could be improved.
    %p Either way, using a professional copywriting service means you know you’re communicating your offer in a memorable and persuasive way.
    %p After all, what’s the point of building a great business if you can’t persuade people to use it?
    %p It’s too easy to slip into clichés, go on far too long or use confusing jargon. Your text needs to be fresh and original, concise and hard hitting, and above all it needs to establish a relationship, to engage and communicate.
