
%br
%br

.two-thirds
  %h4 Design and artwork
  %div
    %p Great design brings together a wide range of graphic characteristics in one original visual statement. It has to be fresh, immediate and pleasing, yet it must adhere to the brand, and make commercial sense too.
    %p This calls for a delicate balance of skills: sheer inventiveness combined with hard headed practicality. Gigavine offers that combination to our clients.
    %p We create visual designs across a wide range of applications, including logos, packaging, the full range of print collateral including brochures, business cards and promotional materials, direct mail and of course web and interactive design.
    %p In addition we provide comprehensive artworking services – that’s the process of optimising and perfecting layouts and the imagery within them ready for publication. We include high quality image manipulation and retouching in our artworking department.

.box.equalized.azure.expand
  %h4 Our key design services
  %div
    %p Logos
    %p Stationery
    %p Brochures
    %ul
      %li Annual reports
      %li Product sheets
    %p Case studies
    %p Sales sheets
    %p Presentations
    %ul
      %li Manuals
    %p Publications
    %p Direct mail campaigns