
%br
%br

.two-thirds
  %h4 Mobile website development
  %div
    %p The key change that kickstarted this market was when mobile operators introduced flat rate plans for mobile data usage. Now, in the UK market alone, over a quarter of mobile users have browsed the internet from their phones. This is a massive potential marketplace, one which most of the world’s biggest brands have already recognised by building their own mobile portals with content designed specifically for handheld devices.
    %p All of which means your customers are likely to be looking for your digital presence via a mobile phone.
    %p Because of the way mobiles use WAP browsers, many websites don’t render correctly on mobile phones. If that’s true for your site, it’s important to do something about it. Even if your site looks the same on a mobile as it does on a desktop browser, unless you optimise it for mobile use it can be very difficult to use.
    %p Gigavine has developed phone-based applications successfully for clients across three continents, and we work with following platforms:
    %ul
      %li iPhone
      %li Symbian
      %li Windows Mobile
      %li J2ME
      %li Android
      %li Blackberry
      %li BREW
      %li Palm software development

.box.equalized.azure.expand
  %h4 Interactive
  %div
    %p As the market for new interactive devices expands rapidly, the digital world is changing fast. At the same time the need for businesses to adapt to this new media landscape is becoming more urgent every month.
    %p Gigavine has the experience and the skills to help businesses to take advantage, whether they’re interested in creating content for handheld devices such as mobile phones, or other media such as ebook readers. We have strong software development and testing teams with wide experience of working with the new interactive technologies, and we make sure we stay right on the cutting edge of the latest developments – which means we can offer you valuable consultancy and strategic advice on how best to solve your business requirements using the latest applications.

%br.clear
%br

.two-thirds
  %h4 Ebooks
  %div
    %p Ebooks are the next big step forward in digital publishing and they’re just beginning to achieve critical mass. We create ebooks that can be read on handheld devices or personal computers, and are compatible with any of these devices and formats:

    %ul
      %li Palm
      %li Handspring
      %li Pocket PC
      %li eBookman
      %li Kindle
      %li iPad
      %li Microsoft Reader
      %li Adobe
      %li OeB
      %li Rocketbook
      %li SoftBook

    %p We are able to create an ebook from hard copy, including images, as well as from electronic formats such as HTML and Quark Xpress. The imaging and document management standards we achieve match or exceed European and US standards. We can also provide pre-press services such as data conversion and typesetting.
    %p In other words, if you need an ebook created, we can offer you a seamless service.


.box.equalized.blue.expand
  %h4 Multimedia presentations
  %div
    %p Audiences’ expectations when they’re presented with a multimedia presentation have grown exponentially. These days it’s not enough to have some bullet points and the odd image. If you want the biggest visual impact and the maximum audience retention, you need to use a far wider palette of tools.
    %p At Gigavine we can design a professionally designed multimedia presentation for you, one which will not only captivate your audience but also match your brand perfectly.
    %p Using graphics, animation, video or flash, the possibilities for delivering a powerful multimedia message for your business are endless.