-# content_for :main do
%h2
  Welcome
%p
  This online portal is built to manage and enhance translations through a central glossary management, project management and communication tools. 
%p
  Please look through the interface, search for already defined and translated terms and get a feel of the language style. If you are concerned about a conflicting or a misspelled term and you believe it needs revision, you can flag it to be reviewed by editors.
%p
  We would like to know if you have any functions in mind that will make your job as a translator or reviewer easier, or will optimise the online portal.
%p
  The application will feature an easy to use approval system, advanced filter and search options, tagging, flagging, file sharing and commenting to facilitate communication between users and improve the overall outcome.
%p
  Every user is granted specific permissions according to level of contribution.
%p
  Please contact <a href="mailto:admin@gigavine.com">admin@gigavine.com</a> for any further information or guidance.