.two-thirds
  %h3 Cultural consultancy
  %div
    %p If you’re developing materials for a foreign market it’s crucial you test them to ensure they’re appropriate for the culture you’re entering. We can provide detailed feedback and recommendations from a local cultural and creative perspective. We’ll advise on the appropriateness of the text and imagery from a political, social, ethnic or gender specific point of view, and highlight any issues that arise.
    %p Our services include:
    %ul
      %li Concept testing – providing structured feedback on product names, slogans and straplines
      %li Language technology – helping you choose which specific technology, such as author memory or machine translation, is the right option for you
      %li Language specifics – giving expert input on regional variations, such as the differences between European and South American Spanish, and different writing systems, supported by a multilingual font library


.box.equalized.azure.last
  %h4 Reducing the risk of global product launches
  %div
    %p Our cultural assessment service involves evaluating your product before launch to identify any barriers to its success. Our assessments are extremely thorough and comprise several different and complementary elements:
    %ul
      %li Analysis of the product from the cultural point of view to uncover historical, social or commercial conflicts
      %li In-country focus groups
      %li Brand polling to measure the suitability of your brand/product in the target market
      %li Brand perception testing to identify unwanted associations that your imagery, colours, etc, may have
    %p We would always recommend undertaking a cultural assessment before you begin a product launch.
