#ticker.languages
  .text
    %h2 Languages
    %p
      %span DID YOU KNOW
      our experts Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .picture
    %img{:src => '/images/pages/language_ticker.jpg'}

.two-thirds
  %h3 Terminology management
  %div
    %p Our terminology management process takes things a step further than glossaries. It is the process of capturing your internal jargon and formalising it, and then creating systems to store, distribute and update it. This can include:
    %ul
      %li Reviewing existing glossaries, style guides, etc, to establish the core terminology
      %li Building a process to catalogue and distribute terminology to all employees who need to use it
      %li Creating a single accepted translation for each term in each target language
      %li Giving access to the approved term base to internal authors, marketing communicators and external consultants
      %li Integrating terminology management with the translation process, so translators are alerted to the correct term as they work
    %p Our consultants and terminology architects will establish a reliable process to eliminate confusion and inconsistencies and dramatically reduce the costs of localisation.


.box.equalized.azure.last
  %h4 Glossary creation
  %div
    %p When large numbers of documents are circulating in multinational companies, accurate and consistent terminology which all parties understand is essential for effective and efficient communication. Without this consistency damaging and costly misunderstandings can easily occur – within the company and, even worse, when dealing with clients.
    %p Gigavine’s custom-made glossaries save time and reduce risks, so that when different staff work on projects they are brought into line with consistent corporate standards.

%br.clear
.box.small-equalized.green
  %h4 Online tools
  %div
    %p Inconsistent terminology is a very significant cost factor in globalisation projects. Gigavine offers the tools to eliminate these costs and build a reliable and consistent internal processes.

= render :partial => 'form'

#contact.box
  %h4 Contact us at Gigavine
  %p Please get in contact with us and we’ll see how we can assist.
  %p
    Call us on 020 3167 4370 or use our
    %a{:href => '/contact'} contact form