<p style="font:12px Arial, Helvetica, sans-serif;">
Dear <%= @talent %>,
<br><br>
Congratulations, you succesfully registered with Gigavine. Now you can login by using following details :
<br><br>
Username: <%= @unm %>
<br>
Password: <%= @pass %>
<br><br>
If you have any questions, concerns or need support, you may contact us at:  <a href="mailto:support@gigavine.com">support@gigavine.com</a>
<br>
<br>

