
<p style="font:12px Arial, Helvetica, sans-serif;">
Dear <%= @invite.recipient.first_name %>,
<br><br>
Follow this link to complete your registration :
<a href="http://gigavine.com/contact/signup/<%= @invite.token %>">http://gigavine.com/contact/signup/<%= @invite.token %></a>
<br><br>
Upon registration you will gain access to the project management system where you can monitor activities, share documents and utilise our centralised translation glossary.
<br><br>
If you have any questions, concerns or need support, you may contact us at:  <a href="mailto:support@gigavine.com">support@gigavine.com</a>
<br>
<br>

Best Regards, <br>
Nord Anglia Education<br>
</p>