Dear <%= @invite.gigaclient.first_name %>,
  
		Please find your invite link for the Signup process with gigavine project.

<a href="http://gigavine.com/signup/<%= @invite.token %>">http://gigavine.com/signup/<%= @invite.token %></a>

Once registere with us you can login and manage the projects easily of your own and can invite the people to your website.


