#leftcolumn
  / vertical menu
  .glossymenu
    %a.menuitem.statusicon_1{:href => "employees/dashboard"}
      %img{:src => "/images/new_page/view_details.png"}/
      Dashboard
    %a.menuitem.submenuheader{:href => "#"} Employees
    .submenu
      %ul
        %li
          %a{:href => "#"} Work Group
        %li
          %a{:href => "#"} Marketing
        %li
          %a{:href => "#"} Sales

    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}/
      Clients
    %a.menuitem.submenuheader{:href => "#"} Leads
    .submenu
      %ul
        %li
          %a{:href => "#"} Hot
        %li
          %a{:href => "#"} Warm
        %li
          %a{:href => "#"} Cold

    %a.menuitem.submenuheader{:href => "#"} Talents
    .submenu
      %ul
        %li
          %a{:href => "#"} Web Designers
        %li
          %a{:href => "#"} Developers

    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}/
      Suppliers
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}/
      Partners
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}/
      Competitors
    .clear_all    
/ <div id="footer"><a href="http://www.gigavine.com/style/">Gigavine</a></div>