#contentwrapper
  #contentcolumn
    .innertube-1
      / head block wrapper
      .head_block_wrapper
        / New leads
        .heading_inner_blocks
          %h2 Dashboard
        %br.clear_all/
        / New leads end
      .spacer.clear_all
        %span  
      #services_revenews.fl_left
        %img{:alt => "Under Contruction", :height => "207", :src => "/images/new_page/services_revenew.jpg", :title => "Under Contruction", :width => "360"}/
      #full_graph.fl_left
        %img{:alt => "Under Construction", :height => "207", :src => "/images/new_page/full_graph.jpg", :width => "360"}/
      .clear_all.spacer{:style => "height:20px"}


      .graph_display{:style => "width:100%"}
        = raw(@graph)
    .clear_all
= render :partial => 'admin/leads/leftmenu'