.two-thirds
  %h4 E-learning
  %div
    %p At its best e-learning technology can improve education outcomes, increase engagement with learners, add flexibility (and fun), and improve organisational performance, while delivering substantial cost and time savings.
    %p But it’s easy to get wrong. A confusing interactive environment with complicated tools or content which hasn’t been designed to be used interactively can drive learners offline, never to return.
    %p We work closely with our clients on all our e-learning projects to ensure the technical solution works hand in hand with the content to create an engaging, refreshing and highly effective learning space.

.box.equalized.azure.expand
  %h4 Consultancy and guidance
  %div
    %p Working with you, we analyse the unique goals and requirements of your e-learning project and then draw up a strategy and solution tailored to your resources. We’ll recommend the most appropriate tools and resources for your project out of the many on the market.
    %p Our purpose is to become a part of your team, taking on board your constraints and objectives, so everything we do takes the most effective path towards the right solution for you.

%br.clear
.box.equalized.blue.expand
  %h4 Course content development
  %div.content
    %p It’s often a minefield trying to take offline course content and convert into engaging interactive materials. What is appropriate for online learning? What can stay the same and what needs to change? What’s missing?
    %p We’ll draw on our experience to cut through the confusion and solve the technical challenges, while helping you make even the most difficult of subjects come alive in the e-learning environment.

.box.equalized.red.expand
  %h4 E-learning quizzes and games
  %div.content
    %p The key to all learning is attention, and games and quizzes are a very useful way of keeping learners engaged and active. Used through a learning course or module, they make e-learning more interactive and they’re also useful for evaluating the progress of the learner. In addition, they can provide insights into the effectiveness of your course content.
    %p At Gigavine we build all kinds of quizzes and games – simple or complex – using various tools such as flash, HTML and Articulate, which can not only deliver a powerful experience for the learning but collect data at the same time.

.box.equalized.yellow.expand
  %h4 Bespoke learning management system development
  %div
    %p Sometimes off the shelf learning management systems just won’t fit the kind of e-learning project you’re planning. Trying to force things to fit a rigid and inappropriate system can save money in the short term but lead to serious problems later on.
    %p If nothing fits we can design, develop and build a bespoke LMS to your precise requirements, integrating with your website and your payment gateways and any other third party systems as necessary, and we’ll include your input and sign-off every step of the way.

%br.clear
.box.equalized.yellow.expand
  %h4 Learning management systems and virtual learning environments
  %div.content
    %p A learning management system (LMS) or virtual learning environment (VLE) is the software system that puts e-learning in place. It handles the learners’ and the tutors’ interactions with the system, and it enables you to publish materials, communicate with students, etc. It is the heart of your e-learning environment, and the choice of LMS you make has far-reaching consequences.
    %p There are many of those packages available, open source and commercial, and picking the best one for your purposes is a difficult decision. We can help you make that decision. Alternatively we can build you a bespoke system to meet your exact needs.

= render :partial => 'form'

#contact.box
  %h4 Contact us at Gigavine
  %p Please get in contact with us and we’ll see how we can assist.
  %p
    Call us on 020 3167 4370 or use our
    %a{:href => '/contact'} contact form