
%br
%br
%br

%h4 Web security
%div
  %p Even as internet fraud escalates, your customers expect that you offer a secure environment for them. If you fail to give them that and a phishing attack or identity theft succeeds, your reputation can take a nasty hit.
  %p SSL or Secure Socket Layers certificates – the technology that activates the yellow padlock or green address bar – are essential for e-commerce websites. They give customers protection they can trust. We offer those certificates at very competitive prices, and provide three types:
  %ul
    %li Domain validated – a basic certificate
    %li Organisation validated – a standard certificate
    %li Extended validation – an advanced certificate
  %p Each type is available as standard (for a single domain and its sub-domains), Wildcard SSL (allowing extended types of sub-domains with the format xxx.domain.com) or Unified Communications SSL (for multiple domains).
  %p With a Gigavine Domain SSL you know you have future-proof 2048-bit SSL security. When you need a certificate, we can issue them rapidly – just get in contact with us.
