// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

@import "compass/css3";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "partials/mixin";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "partials/footer";
@import "partials/nivo";
@import "partials/ad-gallery";

html, body {height: 100%;}
body{
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  margin: 0;

  #wrapper{
    width:  $blueprint-container-size + 40px;
    margin: 0px auto;
    overflow: auto;

    #container{
      @include container;
      margin: 0px 5px 0px 20px;
      float: left;
      overflow: hidden;
    }
  }

  a{
    color: #89D1DF;
    text-decoration: none;
    &:hover   {color: #92DFEC; text-decoration: underline;}
    &:visited {color: #89D1DF; text-decoration: underline;}//3B5A5F
  }
}

#locale-selection{
  text-align: right;
  color: #cccccc;
  background-color: #747f87;
  span {color: #cccccc};
  span#locale-current {color: $gigavine-white;}
  height: 2em;
  padding-top:   0.25em;
  margin-bottom: 0.50em;
  @include border-radius(0px 0px 6px 6px);
  a#locale-change{
    margin-left:  4px;
    margin-right: 4px;
    @include replace-text('/images/downarrow.png', 50%, 50%, 19px, 19px);
    float:right;
    &.active1, &:hover {
      @include replace-text('/images/downarrow_lit.png', 50%, 50%, 19px, 19px);
      float:right;
    }
  }
}
#locale-options{
  width: 15px;
  float: left;
  margin-top: 0.25em;
  ul{
    list-style:none;
    display: inline;
    margin: 0; padding: 0;
    a {margin-top: 4px; margin-bottom: 4px;}
    a.en {@include replace-text('/images/locales/en.png', 50%, 50%, 15px, 10px)}
    a.ar {@include replace-text('/images/locales/ar.png', 50%, 50%, 15px, 10px)}
    a.es {@include replace-text('/images/locales/es.png', 50%, 50%, 15px, 10px)}
    a.fr {@include replace-text('/images/locales/fr.png', 50%, 50%, 15px, 10px)}
    a.de {@include replace-text('/images/locales/de.png', 50%, 50%, 15px, 10px)}
  }
}

#header {
  height:        15em;
  overflow:      hidden;
  color: $gigavine-dark-blue;

  #header-left {
    @include column(4);
    #logo {
      @include replace-text('/images/logo.png', 50%, 50%, 144px, 107px);
      margin-bottom: 0;
      margin-top: 4px;
    }
  }

  #header-right {
    @include column(20, last);
    #header-tools {
      height: 86px;
      margin-left: 10px;
      p {float: left; height: 3em; margin-bottom: 0.5em;}
      form{
        clear: both;
        float:right;
        margin-top: -0.50em;
        label{font-weight: normal; margin-right: 4px;}
        input[type=text] {
          width: 117px;
          @include border-radius;
        }
        input[type=submit]{
          &.go{
            &.red {
              @include replace-text('/images/search_go_red.gif');
              &.hover {
                @include replace-text('/images/search_go_red_hover.gif');
              }
            }
            &.green {
              @include replace-text('/images/search_go_green.gif');
              &.hover {
                @include replace-text('/images/search_go_green_hover.gif');
                color: red;
              }
            }
          }
          border: 0;
          height: 19px;
          width:  19px;
          overflow: hidden;
          margin-top: 0.7em;
          margin-left: 4px;
          margin-right: 4px;
          background-color: $gigavine-white;
          cursor: pointer; /* hand-shaped cursor */
          cursor: hand; /* for IE 5.x */
        }
      }
    }

    #navigation {
      @include column(20);
      border-top: 2px dotted;
      border-bottom: 2px dotted;
      height: 21px;
      ul{
        position: relative;
        float: right;
        @include horizontalist(4px);
        margin: 0; padding: 0;
        li span.bull {
          font-weight:  900;
          font-size:    1.2em;
          display:      inline;
          overflow:     hidden;
          margin-left:  6px;
          margin-right: 6px
        }
        a {color: $gigavine-medium-grey; display: inline-block; height: 21px; }
        a:hover   {text-decoration: none;}
        a:visited {text-decoration: none;}

        li#nav-company{
          &.current a, a:hover{color: $accent-company}
          span{color:     $accent-company}
          ul { right: 180px; }
          ul li {
            color: $accent-company;
            a{color: $accent-company;}
          }
        }
        li#nav-creative{
          &.current a, a:hover{color: $accent-creative}
          span{color:     $accent-creative}
          ul li {
            li{color: $accent-creative;}
            a{color: $accent-creative;}
          }
        }
        li#nav-languages{
          &.current a, a:hover{color: $accent-languages }
          span{color:     $accent-languages}
          ul li {
            li{color: $accent-languages;}
            a{color: $accent-languages;}
          }
        }
        li#nav-technology{
          &.current a, a:hover{color: $accent-technology}
          span{color:     $accent-technology}
          ul li {
            li{color: $accent-technology;}
            a{color: $accent-technology;}
          }
        }
        li#nav-contact{
          &.current a, a:hover{color: $accent-contact}
          span{color:     $accent-contact}
        }

        li{
          height: 80px;
          ul{
            top: 26px;
            right: 0px;
            position: absolute;

            span{margin-left: 4px;}

            a{
              text-decoration: none;
              &:hover{text-decoration: none;}
            }
            display: none;
          }
          &.current ul {
            display: block;
          }
        }
        overflow: visible;
      }
    }
  }

}

#section-mast{  
  #navigation-sub{
    height:        18px;
    margin-top:     3px;
    margin-bottom: 15px;

    ul{
      @include horizontalist(4px);
      float:right;
      margin-right: 6px;
      span{margin-left: 4px;}

      a{
        text-decoration: none;
        &.active{text-decoration: underline;}
      }

      &.company{
        color: $accent-company;
        a{color: $accent-company;}
      }
      &.creative{
        li{color: $accent-creative;}
        a{color: $accent-creative;}
      }
      &.languages{
        li{color: $accent-languages;}
        a{color: $accent-languages;}
      }
      &.technology{
        li{color: $accent-technology;}
        a{color: $accent-technology;}

      }
    }

    clear: both;
  }
}

form {
  @include blueprint-form; }


#ticker {
  @include column(24);
  @include border-radius(5px);
  margin-bottom: 18px;

  height: 144px;
  overflow: hidden;

  .text{
    display: inline;
    float: left;
    margin-right: 0px;
    width: 280px;
    height: 144px;
    z-index: 1000;

    p, h2 {
      margin-left: 9px; margin-right: 19px;
      color: $gigavine-white;
    }
  }

  .picture{
    @include column(17, last);
  }

  &.languages {
    .text{
      span {
        font-weight: 900;
      }
      background-color: $accent-languages;
    }
  }
}

#crousel {
  @include column(24);
  @include border-radius(5px);
  margin-top: 18px;
  margin-bottom: 18px;

  height: 239px;
  overflow: hidden;

  .text{
    display: inline;
    float: left;
    margin-right: 0px;
    width: 280px;
    height: 239px;
    z-index: 1000;
    background-color:  $gigavine-dark-gray;

    span {
      font-weight: 900;
    }


    p, h2, a {
      margin-left: 24px; margin-right: 19px;
      color: $gigavine-white;
    }

    h2{
      margin-top: 10px;
      margin-bottom: 0px;
    }
    a {
      height: 19px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      padding-right: 26px;
      cursor: pointer;
      background: url('/images/read_more.gif') right no-repeat;
    }
  }

  .picture{
    @include column(17, last);
  }
}

div#content {
  margin-bottom: 1.5em;
  h1, h2, h3, h4, h5, h6, p, q, pre, li {color: $gigavine-medium-grey;}
  h4 { margin: 0  0 .5em 0; font-size: 12px; font-weight: bold; }
  p  { margin: 0  0 .5em 0; }
  ul { margin: 0  0 .5em 0; padding-left: 2.5em; }

  @include column-base(last);
  width: $blueprint_grid_width * 24 + $blueprint_grid_margin * 24;

  .one-third, .two-thirds, .full { margin-bottom: 1em; }
  .one-third  {@include column(8);  }
  .two-thirds {@include column(16); }
  .full       {@include column(24); }

  #connect-bar{
    /*
    margin-right: 0px;
    width: $blueprint-container-size + $blueprint-grid-margin;
    ul{
    margin-right: 0; padding: 0;
    @include clearfix;
    list-style-type: none;
    li{
    @include column(4);
    }
    }*/

    margin-top: 20px;
    margin-bottom: 30px;
    @include column(24);

    h3 { margin: 0 4px 5px 0; }
    a  { color:  $gigavine-green; }
    ul {
      @include float-left;
      @include border-radius(5px);

      width: $blueprint-container-size - 2;
      margin: 0;
      padding: 0;
      border: 1px solid #cecece;
      background: #ececec;

      li {
        @include float-left;
        margin: 2;
        padding: 26px 22px;

        border-right: 1px solid #cecece;
        height: 70px;
        text-align: left;
        width: ($blueprint-container-size - 2) / 6 - 45;
        background: url('/images/icons/arrows.gif') no-repeat (($blueprint-container-size - 2) / 12 - 6) top;

        &.yellow   { background-position: (($blueprint-container-size - 2) / 12 - 6 - 0)   top; }
        &.red      { background-position: (($blueprint-container-size - 2) / 12 - 6 - 180) top; }
        &.fuchsia  { background-position: (($blueprint-container-size - 2) / 12 - 6 - 360) top; }
        &.blue     { background-position: (($blueprint-container-size - 2) / 12 - 6 - 540) top; }
        &.green    { background-position: (($blueprint-container-size - 2) / 12 - 6 - 720) top; }
        &.olive    { background-position: (($blueprint-container-size - 2) / 12 - 6 - 900) top; }
      }
      li.last {
        border: none;
      }
    }
  }

  div#highlight {
    h2 {
      text-transform: uppercase;
      margin: 0;
    }

    h3.border-bottom {
      padding-bottom: 6px;
      margin-bottom:  8px;
      background: url('/images/dotted_border_gray.png') repeat-x left bottom;
    }

    .header {
      height: 190px;
      padding: 25px;
      background: url('/images/highlights_header_background.jpg') no-repeat left top;

      p { width: 880px; font-size: 12px; }

      * { color: #fff; }
      a.signup-now { @include replace-text('/images/signup_now.png'); width: 176px; height: 43px; }
    }

    div.highlights {
      h4 {
        padding: 20px 60px;
        background: url('/images/dotted_border_gray.png') repeat-x left bottom;
      }

      .building {
        background: url('/images/highlights_building_icons.png') no-repeat;
      }

      .connectinog {
        background: url('/images/highlights_connectinog_icons.png') no-repeat;
      }

      .exposure {
        background: url('/images/highlights_exposure_icons.png') no-repeat;
      }
    }

    #feature-list {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      ul#tabs {
        @include column(8);
        li {
          display: block;
          height: 45px;
          width: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;
          a {
            display: block;
            cursor: pointer;
            padding:  18px 25px;
            font-size: 12px;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            background: url('/images/tabes.png') no-repeat left -45px;
            outline: none;
            &.first {
              background-position: left top;
            }
            &.current {
              background-position: left -90px !important;
            }
            &.last {
              background-position: left -135px;
            }
          }
        }
      }
      ul#output {
        @include column(16);
        li {
          margin: 0;
          padding: 0;
          position: absolute;
          div {
            @include column(8);

            &.text {
              h3 {
                margin-top: 18px;
              }
            }

            &.image {
              margin: 0;
            }
          }
        }
      }
    }
  }

  div.follow {
    padding: 5px 0;
    background: url('/images/signup-borders.gif') repeat-x;

    h3    { margin-right: 28px; font-size: 16px; }
    h3, p { display: inline; }
  }

  div#portoflio {
    div.header {
      margin: 20px 2px;
      /*background: url('/images/portoflio_header.jpg') no-repeat left top;*/
      overflow: hidden;


      div#descriptions {
        @include column(8);
        @include border-left-radius(5px);
        margin-right: 0;
        position: relative;
        height: 289px;
        background:  $gigavine-dark-gray;

        div.half-circle {
          width: 12px;
          height: 150px;
          position: absolute;
          right: -12px;
          background: url('/images/half_circle.gif') no-repeat left 100px;
          z-index: 9999;
        }
      }

      div.box {
        div.l {
          @include float-left;
          @include border-left-radius(5);
          height: 289px;

          background: red;
          margin: 0 ;
          margin-right: 10px;
        }
        div.r {
          @include float-left;
          height: 289px;
          background: url('/images/kkkkk.gif') no-repeat left 100px;
        }
      }
    }
  }

  .box  {
    @include column(8);
    h4 { padding-left: 10px; }
    > div {
      padding: 0.75em;
      @include border-radius(3px);
    }
  }
  .equalized {
    height: 24em;
    > div {height: 18em;}
  }
  .small-equalized{
    height: 12.5em;
    div {height: 9em;}
  }

  form {
    p { width: 570px; }
    label {
      display: inline-block;
      width: 150px;
      padding-top: 10px;
      margin: 0.5em 0;
      vertical-align: top;

      &.error {
        font-size: 11px;
        margin-left: 153px;
        background: #FBFCDA url('/images/x.png') no-repeat 5px;
        border: 1px solid #DBDBD3;
        width: 372px;
        margin-top: 2px;
        padding-left: 30px ;
      }
    }
    input.text, input.title, input[type="email"], input[type="text"], input[type="password"], textarea, select { width : 400px; padding: 5px; }
    select { width: 411px; }
    .submit input{
      float: right;
      padding: 5px 10px;
    }
  }
  .form-box  {
    @include column(8);
    @include border-radius(3px);
    height: 156px;
    margin-top: 8px;

    h4  {
      color: $gigavine-white;
      margin: 0.5em 0 0.75em 0.5em;
    }

    hr {
      width:99%; border-color: $gigavine-light-grey;
      opacity: 0.75;
      margin-top: 0.25em;
      margin-bottom: 0em;
    }

    form{
      margin: 0 10px;

      p { margin: 0;}

      label{
        font-weight: normal;
        color: $gigavine-white;
        margin-right: 4px;
        width: 40px;
        display: inline-block;
      }
      input[type=text], input[type=email] {
        width: 230px;
        @include border-radius;
      }

      p.file {margin-bottom: 0;}

      input[type=text].reform {
        width: 120px;
      }
      label.reform{
        width: auto;
        cursor: pointer;
        cursor: hand;
        display: inline-block;
        padding: 5px 5px;
        //margin-bottom: 15px;
        background-color: $gigavine-light-grey;
        @include border-radius(3px);
      }
      input[type=file].reform {
        position: relative;
        //text-align: right;
        //-moz-opacity:0 ;
        // //filter:alpha(opacity: 0);
        opacity: 0;
        width: 0px;
        //z-index: 2;
      }
      input[type=submit]{
        @include replace-text('/images/submit.png');
        background-color: transparent;
        display: inline;
        float: none;
        border: 0;
        height: 19px;
        width:  19px;
        overflow: hidden;
        margin-top: 0.7em;
        margin-left: 4px;
        margin-right: 40px;
        cursor: pointer;
        cursor: hand;
      }
    }
  }

  .form-box2 {
    float: left;
    display: inline-block;
    width: 288px;
    margin-top: 8px;
    padding: 10px;

    @include border-radius(3px);
    border: 1px solid #a7a7a7;

    p {
      float: left;
      width: 100%;
      * { font-weight: normal; }

      &.cost { color: #0060ff; font-weight: bold; margin: 8px 0 0; }
      &.bold,   &.bold   * { font-weight: bold; font-size: 110%;}
      &.bolder, &.bolder * { font-weight: bold; font-size: 120%; }
    }
    input, select {
      padding: 5px;
      @include border-radius(3px);
    }

    select{
      width: 280px;
    }
    span {
      display: inline-block;
      float: left;
    }
    .half {
      width: 140px;
      label { width: 100%; }
      input[type=text]{
        width: 90px;
      }
      &.right {
        float: right;
        text-align: right;
      }
    }

    .third {
      width: 90px;
      label { display: block }
    }

    h3 {
      color: #000;
      font-size: 13px;
      margin: 12px 0;
      padding: 0;
      font-weight: bold;
      clear: both;
    }
    .hr {
      font-size: 1px;
      height: 1px;
      background-color: #0006ff;
      clear: both;
    }

    .submit {
      text-align: right;
      input {
        margin: 0;
        color: #0060ff;
        font-weight: bold;
        border: 1px solid #a7a7a7;
        cursor: pointer;
        background-color: transparent;
      }
      &.calculate {
        padding-top: 14px;
      }
    }

    .disabled {
      text-decoration: line-through;
      color: gray;
    }
  }

  #languages-links {
    div.holder {
      @include column(16);
      @include border-radius(6px);
      margin-bottom: 8px;
      cursor: pointer;

      &.blue   {
        background-color: $accent-blue-bg;
        &.hover { background-color: #dbe9f7; }
        .h3 { color:       $accent-languages;  border-right: 2px solid #dfe8f1; }
      }
      &.red    {
        background-color: $accent-red-bg;
        &.hover { background-color: #f7e1ee; }
        .h3 { color:      $accent-technology;  border-right: 2px solid #eedde7; }
      }
      &.green  {
        background-color: $accent-azure-bg;
        &.hover { background-color: #ddf1f1; }
        .h3 { color:       #00656d;            border-right: 2px solid #e0e6e6; }
      }
      &.yellow {
        background-color: $accent-yellow-bg;
        &.hover { background-color: #f7eae3; }
        .h3 { color:       $accent-company;    border-right: 2px solid #efe6e1; }
      }
    }

    .h3, p { display: block; float: left; margin: 0; }
    .h3 {
      width: 90px;
      padding: 28px 20px;
      margin-top: 4px;
      margin-right: 10px;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
    }

    p {
      width: 480px;
      .center-container { height: 82px; }
    }
  }

  .center > .center-container {
    display: table;
    position: static;
  }
  .center-container {
    position: relative;
    span {
      display: inline-block;
      position: absolute;
      top: 50%;
    }
    span span {
      position: relative;
      top: -50%;
    }
    > span {
      display: table-cell;
      vertical-align: middle;
      position: static;
    }
  }


  /* commented */
  .clearbox {
    @include column(8);
    background-image: url('/images/balloon.png');
    background-repeat: no-repeat;
    background-position: 0 0px;

    h4  {
      margin-left: 34px;
      margin-bottom: 0.73em;
    }

    hr {width: 99%;
      margin-bottom: 0.5em;
      border-width:    2px 0 0 0;
      border-color:   $gigavine-medium-grey;
      border-style:   dotted;
    border-spacing: 2px 2px}

    &#contcat-us-box {
      background-image: url('/images/balloon.png');
    }
  }
  /* commented end */

  div#we-offer, div#news-feed, div#join , div#contact {
    background-repeat: no-repeat;
    background-position: left top;
    h4 {
      padding: 1em 40px;
      margin-bottom: 0;
      height: 28px;
      font-size: 11px;
      font-weight: bold;
      background: url('/images/dotted_border_gray.png') repeat-x left bottom;
    }
    ul { list-style: none; padding: 0; margin: 0; }
    p, li {
      margin: 0;
      padding: 0.5em 0 0.5em 0;
      list-style: none;
      &.dotted_border {
        background: url('/images/dotted_border_gray.png') repeat-x left bottom;
      }
      a { color:  $gigavine-green; }
    }
    div.hr {
      font-size: 2px;
      height: 2px;
      background: url('/images/dotted_border_gray.png') repeat-x left bottom;
    }
  }
  div#we-offer  { background-image: url('/images/icons/we_offer.png');  }
  div#news-feed { background-image: url('/images/icons/news_feed.png'); }
  div#join      { background-image: url('/images/icons/join.png');      }
  div#contact   { background-image: url('/images/icons/contact.png');   }

  #stackbox {
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      width: 350px;
      li {
        width: 230px;
        height: 84px;
        @include float-left;
        margin: 0 0 5px 0;
        h4, p { color: #fff;}
        h4 { margin: 6px  8px 0 8px; padding: 0; text-transform: uppercase; font-weight: bold; }
        p  { margin:  0   8px;       padding: 0; font-size: 11px; }
        &.create, &.deliver { @include border-top-left-radius(5px); margin-right: 4px; }
        &.create  { background-color:  $gigavine-fushia; }
        &.deliver { background-color:  $gigavine-dark-gray; }
        &.adapt   { background-color:  $gigavine-green; @include border-top-right-radius(5px); margin-left: 4px; }
        &.image   { width: 76px; }
      }
    }
  }

  .dark {
    color:            $gigavine-white;
    background-color: $gigavine-dark-grey;
  }


  .azure  div{
    background-color: $accent-azure-bg;
    .dragger_container { border-left: 1px dotted $accent-technology; }
    .dragger           { background: $accent-technology !important;  }
    .dragger_pressed   { background: $accent-technology !important;  }
  }
  .blue   div{
    background-color: $accent-blue-bg;
    .dragger_container { border-left: 1px dotted $accent-languages; }
    .dragger           { background: $accent-languages !important;  }
    .dragger_pressed   { background: $accent-languages !important;  }
  }
  .red    div{
    background-color: $accent-red-bg;
    .dragger_container { border-left: 1px dotted $accent-contact; }
    .dragger           { background: $accent-contact !important;  }
    .dragger_pressed   { background: $accent-contact !important;  }
  }
  .yellow div{
    background-color: $accent-yellow-bg;
    .dragger_container { border-left: 1px dotted $accent-company; }
    .dragger           { background: $accent-company !important;  }
    .dragger_pressed   { background: $accent-company !important;  }
  }
  .green  div{
    background-color: $accent-green-bg;
    .dragger_container { border-left: 1px dotted $accent-technology; }
    .dragger           { background: $accent-technology !important;  }
    .dragger_pressed   { background: $accent-technology !important;  }
  }

}

#footer{
  #footer-container{
    @include container;
  }
  //@include footer(140px);
  height: 99px;
  padding-top: 1.5em;
  padding-bottom: 2em;
  background-color: $gigavine-dark-grey;
  ul {margin: 0;}
  color: #cccccc;
  a {color: #cccccc;}
  h5 a, #footer-right li, #footer-right a{color: #EFF9F6;}

  @include box-shadow( 0px, 3px, 15px, $gigavine-dark-grey*0.4, inset);

  #footer-letterpress{
    @include column(4);
    h4 {
      @include replace-text('/images/light_logo.png', 50%, 50%, 67px, 66px);
      margin: 0.25em 41px 0 41px;
    }
  }
  .footer-map-section{
    &.company    h5 a:hover { color: $accent-company; }
    &.creative   h5 a:hover { color: $accent-creative;   }
    &.languages  h5 a:hover { color: $accent-languages;  }
    &.technology h5 a:hover { color: $accent-technology; }
    h5 {line-height: 1.5; font-size: 1em; margin-bottom: 0;}
    h5 a:hover { text-decoration: none; }
    ul {list-style: none; padding-left: 0;}
    @include column(3);
    margin-right: 20px;
  }
  #footer-right{
    height: 6em;
    float:right;
    text-align: right;
    ul{
      display: inline;
      float:right;
      @include horizontalist(6px);
      margin-bottom: 1.5em;

      span{margin-left: 6px;}
    }
    padding-right: 10px;
    #footer-details{
      clear:both;
      margin-top: 4.5em;
    }
  }
}

.mcs_container {
  .customScrollBox {
    position: relative;
    height: 100%;
    overflow :hidden;
    margin: 5px 0;
    .container {
      position: relative;
      width: 276px;
      top: 0;
      float: left;
    }
    .content { clear: both; }
    .content p{ }
  }

  .dragger_container {
    position:relative;
    width: 0px;
    height: 210px;
    float: left;
    margin: 0 0 0 10px;
    border-left: 1px dotted #555;
    cursor: pointer;
  }
  .dragger {
    position: absolute;
    width: 9px;
    height: 9px;
    background: #555;
    margin-left: -5px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    -moz-border-radius: 18px;
    -khtml-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
  }
  .dragger_pressed {
    position: absolute;
    width: 9px;
    height: 9px;
    background: #09C;
    margin-left: -5px;
    overflow: hidden;
    cursor: s-resize;
  }
}

#movie {
  width: 308px !important;
  height: 220px;
  @include border-radius(3px);
  border: 1px solid #a7a7a7;

  img.play {
    position: relative;
    top: -130px;
    left: 240px;
    cursor: pointer;
  }
}