// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

@import "compass/css3";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "partials/mixin";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "partials/liquid";
@import "partials/fixed";

html, body, #wrapper, #container {height:100%}

html, body, #wrapper, #container, #bar, #mid {min-width: $blueprint-liquid-container-min-width;}

body{
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  margin: 0;
  background-color: #F7F7E4;
  width: 100%;
  
  #wrapper{
    //margin: 0px 10px 0px 10px;
    margin: 0px 1px;
    #overflow: scroll;
    
    #container{
      @include container;
      @include footer-container(18px);
      
      width: 100%;
    }
  }
  
  a{
    color: #89D1DF;
    text-decoration: none;
    &:hover   {color: #92DFEC; text-decoration: underline;}
    &:visited {color: #3B5A5F; text-decoration: underline;}
  }
}

form {
  @include blueprint-form; }

// PAGE SECTIONS
$main-columns: ceil(2 * $blueprint-grid-columns / 3);
$parent-columns: floor($blueprint-grid-columns / 3);
#bar {
  padding-top: 10px;
  height: 55px;
  @include column($blueprint-grid-columns, last);
  background-color: #dbf043;
  @include linear-gradient(color-stops(#e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%));

  #room-switcher{@include fixed-column($parent-columns);}
  #room-controls{
    @include fixed-column(8);
  } // come up with elastic: specifies only the minimum width
  
  #bar-end {
    z-index: 1000;
    @include fixed-right-column(8,last);
    #control-panel{@include fixed-column(3);     }
    #account-panel{@include fixed-column(5,last);}
  }
}
#mid{
  @include column($blueprint-grid-columns, last);
  
  #parent {
    @include fixed-column($parent-columns);
    overflow-x: hidden;
    overflow-y: auto;
    //@include border(#333, 3px); overlay it with canvas?
    }
  #main {
    @include elastic-column($main-columns,last);
    }
}
#footer {
  @include footer(18);
  background-color: #dbf043;
  @include linear-gradient(color-stops(#d2e638 0%, #c3d825 10%, #dbf043 100%));
  h6 {color: #555; margin-left: 1em;}
}

// WIDGETS
@import 'partials/jquery_tools';
@import 'partials/widgets';

#room-controls{
  h1 {
    margin-top: 0.10em;
    font-size: 2.75em;
    margin-bottom: 0.40em;
    //font-weight: 400;
    color: #3C3A32;
    text-shadow:-1px 1px 1px #F0F09E;//D9E876
  }
}

// SECTIONS 
// TODO put them into partials and load them here (use an id to namespace them?)

#options{
  @include horizontalist;
  background: #eee;
  width: 100%;
}