// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
/*@import "partials/liquid";*/

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";

@import "compass/css3";
// @import "partials/two_col";

body{
  margin: 0;
  background-color: #F0F1F2;
  width: 100%;
  height: 100%;
  #wrapper{
      margin: 0px 10px 0px 10px;
    #container{
      border-top: 1px solid #999;
      @include container;
    }
  }
}

// PAGE SECTIONS
$main-columns: ceil(2 * $blueprint-grid-columns / 3);
$parent-columns: floor($blueprint-grid-columns / 3);
#bar {
  padding-top: 10px;
  height: 55px;
  @include column($blueprint-grid-columns, last);
  @include linear-gradient(color-stops(#BAEEFF, #90CBF0 22%, #7ABCE6 80%, #6CA2C4));
  
  #room-switcher{@include column(4);      height: 4.5em;}
  #room-controls{@include column(14);      height: 4.5em;}
  #control-panel{@include column(3);      height: 4.5em;}
  #account-panel{@include column(3,last); height: 4.5em;}
}
#mid{
  #parent {
    @include column($parent-columns);
    @include border(#333, 3px);
    height:100%;
    }
  #main {
    @include column($main-columns,last);
    }
}
#footer {
  @include column($blueprint-grid-columns, last);
  background-color: #bbb;
  h6 {color: #555;}
  }