/* Eric Meyer's css reset starts */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
input{border:0}
:focus{outline: 0;}
body {
	line-height: 1;
	/*color: black;
	background: white;
	background:url(../images/bg-header-strip.gif) repeat-x;
	min-width:1000px;*/
}
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
/* Eric Meyer's css reset ends */
body{
	font:75% Arial, Helvetica, sans-serif;
	color:#333;
	background:url(/images/new_page/body_bg.gif) repeat-x;
}
a{
	text-decoration:none;
	color:#0079be;
}
a:hover{text-decoration:underline;}
input,select,textarea{
	font:12px Arial, Helvetica, sans-serif;
	color:#000;
}
 textarea {
    resize: none;
} 
b{font-size: 110%;}
em{color: red;}
br.clear_all{ clear:both; line-height:0; font-size:0;}
.clear_all{ clear:both;}
#maincontainer{ margin:17px}
#topsection{
height: 90px; /*Height of top section*/
}
/*---------------Menu styles---------------*/
#menu{
	width:372px;
	height:56px;
	float:left;
	}	
#menu li{ width:50px;height:56px; float:left; display:inline;margin-right:26px}
#menu li a{ width:50px; height:59px; display:block; color:#000; float:left; text-align:center; font:13px "Myriad Pro",Arial, Helvetica, sans-serif;}
#menu li a span{ float:left; width:50px}
#menu li a:hover,#menu li.selected a{  /* IE 8 */

  text-decoration:none;color:#006db2;}
#menu li.last{margin-right:0}

/*New menu styles*/

#menu li a.admin{background:url(/images/clients/admin.png) no-repeat}
#menu li a.admin:hover,#menu li.selected a.admin{background:url(/images/clients/admin_hover.png) no-repeat;}

#menu li a.calendar{background:url(/images/clients/calendar.png) no-repeat}
#menu li a.calendar:hover,#menu li.selected a.calendar{background:url(/images/clients/calendar_hover.png) no-repeat;}

#menu li a.contacts{background:url(/images/clients/contacts.png) no-repeat}
#menu li a.contacts:hover,#menu li.selected a.contacts{background:url(/images/clients/contacts_hover.png) no-repeat;}

#menu li a.document{background:url(/images/clients/document.png) no-repeat}
#menu li a.document:hover,#menu li.selected a.document{background:url(/images/clients/document_hover.png) no-repeat;}

#menu li a.finance{background:url(/images/clients/finance.png) no-repeat}
#menu li a.finance:hover,#menu li.selected a.finance{background:url(/images/clients/finance_hover.png) no-repeat;}

#menu li a.glossary{background:url(/images/clients/glossary.png) no-repeat; padding:0}
#menu li a.glossary:hover,#menu li.selected a.glossary{background:url(/images/clients/glossary_hover.png) no-repeat;}

#menu li a.images{background:url(/images/clients/images.png) no-repeat}
#menu li a.images:hover,#menu li.selected a.images{background:url(/images/clients/images_hover.png) no-repeat;}

#menu li a.marketing{background:url(/images/clients/marketing.png) no-repeat}
#menu li a.marketing:hover,#menu li.selected a.marketing{background:url(/images/clients/marketing_hover.png) no-repeat;}

#menu li a.projects{background:url(/images/clients/projects.png) no-repeat}
#menu li a.projects:hover,#menu li.selected a.projects{background:url(/images/clients/projects_hover.png) no-repeat;}

#menu li a.sales{background:url(/images/clients/sales.png) no-repeat}
#menu li a.sales:hover,#menu li.selected a.sales{background:url(/images/clients/sales_hover.png) no-repeat;}


/*---------------avatar styles---------------*/
/*#topsection h1{
margin: 0;
padding-top: 15px;
}*/
#top-right-details{
	width:300px;
	height:59px;
	float:right;
	}
	#top-right-details .avatar{
		width:71px;
		height:78px;
		float:right;
		background:url(/images/new_page/avatar.png) no-repeat 100% 0;
		position:relative;
		}
	
	#top-right-details .avatar .red_alert{
		width:39px;
		height:30px;
		background:url(/images/new_page/mesg-notifier.png) no-repeat;
		position:absolute;
		top:30px;
		left:5px;
		color:#fff;
		}
    #top-right-details .avatar .red_alert span{
		float:left;
		width:39px;
		margin:7px 0 0 12px;
		font-weight:700
		}	
	 #top-right-details .avatar span.login_logout{
	 	color:#000;
		font-weight:400;
		text-align:right;
		margin:58px 0 0 0;
		position:absolute;
		right:2px;
		font-size:12px;
		width:100%;
		text-indent:20px
	 	}

.date_time{	
	float:left;
	font-size:11px;
	width:200px;
	text-align:right
	}
.date_time .link_d{ color:#20424c}
.click{ margin:5px 0}

/*---------------user actions---------------*/
#user_actions{
	height:30px;
	width:121px;
	float:right;
	margin-top:3px;
	}
#user_actions ul li{ float:left;display:inline;height:25px;}
#user_actions ul li a{display:block;height:25px; background:url(/images/new_page/top_links_hover.jpg) no-repeat;}
#user_actions ul li a:hover{background:url(/images/new_page/top_links_hover.jpg) no-repeat;}
#user_actions ul li a.member_ico{ background-position:0 0; width:29px;}
#user_actions ul li a.member_ico:hover{ background-position:0 0; width:29px}
#user_actions ul li a.phone_ico{ background-position:-30px 0; width:31px}
#user_actions ul li a.phone_ico:hover{ background-position:-31px 0; width:31px}
#user_actions ul li a.message_ico{ background-position:-62px 0; width:28px}
#user_actions ul li a.message_ico:hover{ background-position:-62px 0; width:28px}
#user_actions ul li a.log_ico{ background-position:-89px 0; width:32px}
#user_actions ul li a.log_ico:hover{background-position:-89px 0; width:32px}



/*---------------content styles---------------*/
#contentwrapper{
float: left;
width: 100%;
}

	#contentcolumn{
	margin-left: 220px;
	border:2px solid #000;
	background:#fff
	/*Set left margin to LeftColumnWidth*/
	}

	#contentcolumn .innertube-1{
		width:97%;
		margin:12px;
		float:left;
		}
	/*---------------inner content styles---------------*/
	.head_block_wrapper{
	width:100%;
	border-bottom:3px solid #000;
	}
	.heading_inner_blocks{
	float:left;
	width:auto;
	}
	.heading_inner_blocks h2{ font:400 1.5em Arial, Helvetica, sans-serif;}
	.approved-block{ width:234px; float:right;}
	.approved-block ul li{ float:left; border-right:1px solid #e2e2e3; padding:5px 10px;}
	.approved-block ul li.last{ border:0}
	.approved-block ul li a{ color:#424242; font-size:1em; }
	
/*filter option wrapper*/
#filter_option_wrapper{
	width:100%;
	padding:5px 0
	}
	#filter_option_wrapper td.filter{ vertical-align:middle; height:30px} 
	#filter_option_wrapper td.top_vbtm{ vertical-align:bottom}
	#filter_option_wrapper td select{ width:150px;}

/*---------------user action block---------------*/
.user_action_block{
	width:350px;
	float:left;

	}
.user_action_block .add_view{ background:#5a5a5a; float:left; width:294px; height:24px;-moz-border-radius: 13px;
-webkit-border-radius: 13px;}
.spacer{ height:6px;}
.user_action_block ul{margin-left:10px}
.user_action_block ul li{
	width:53px;
	height:24px;
	float:left;
	display:inline;
	}
	
.user_action_block ul li a{
	color:#fff;
	width:60px;
	height:24px;
	display:block;
	text-align:center;
	line-height:24px
}
.user_action_block ul li a:hover{
	background:#3f3f3f;
	text-decoration:none
	}
/*--user action 2 block--*/
.select_box_strech{
	width:150px;
	}
.bulk_action_block{
	width:310px;
	height:24px;
	float:right;
	}
input.apply-bg,input.import-bg{
	width:74px;
	background:url(/images/new_page/apply-bg.png) no-repeat;
	border:0;
	color:#fff;
	padding:6px 0;
	margin:0 3px;
	}
input.import-bg{ background:url(/images/new_page/import-bg.png) no-repeat; color:#616161}
/*---------------grid content block---------------*/
#grid_table{
	width:100%;
	background:#fff;
	border-spacing:1px;
	height:24px;
	}
	#grid_table th{ background:url(/images/new_page/table-grid-heading-bg.gif) repeat-x; height:19px; font-size:1.1em; text-align:left;line-height:20px;} 
/*	#grid_table td{word-wrap: break-word; font-size:11px;}*/
/*	#grid_table th .check{ width:12px; height:12px; float:left; vertical-align:top;}*/
	#grid_table th span{padding-left:2px; width:100px; float:left;}
    .alternate_color{ background:#eff6ff}
#inner_grid_table{ background:#fff;border-spacing:1px; }	
#inner_grid_table td{  padding:3px 0px; text-align:left;word-wrap:break-word;border-spacing:1px;}
#inner_grid_table td span{ padding-left:5px; width:100px; float:left}


/*---------------left column styles---------------*/
#leftcolumn{
float: left;
width: 200px; /*Width of left column*/
margin-left: -100%;
height:auto;
border:1px solid #999999; 
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
/*overflow:hidden;*/
}

/*---------------footer styles---------------*/
#footer{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

/* @group Reset */
.grid_wrapper{border:1px solid #c9cbcc;}
.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
    margin: 0;
	padding: 0;

	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

.fht-table {
    border-collapse: collapse;
    border-spacing: 0;
	}

/* @end */

/* @group Content */

div.fht-table-wrapper {
	overflow: hidden;
	}

div.fht-tbody {
    overflow-y: auto;
    overflow-x: auto;
	}

.fht-table .fht-cell {
	overflow: hidden;
    height: 1px;
	}

/* @end */

.divider {
	margin: 20px 0;
	}
	
.button {
	/* appearance */
	background-color: #3f3f3f;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.1) 50%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(100%,rgba(255,255,255,0.0)),
		color-stop(50%,rgba(255,255,255,0.1)));
	border: 1px solid #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(139,139,139,1) inset, 0 1px 0 rgba(88,88,88,1);
	-moz-box-shadow: 0 1px 0 rgba(139,139,139,1) inset, 0 1px 0 rgba(88,88,88,1);
	box-shadow: 0 1px 0 rgba(139,139,139,1) inset, 0 1px 0 rgba(88,88,88,1);
	cursor: pointer;
	
	/* position */
	display: inline-block;
	margin: 10px;
	
	/* size */
	padding: 0 10px;
	
	/* text */
	color: #eaeaea;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	white-space: nowrap;
	}
.button:hover {
	/* appearance */
	background-color: #6495ed;
	-webkit-box-shadow: 0 0 3px #6495ed;
	-moz-box-shadow: 0 0 3px #6495ed;
	box-shadow: 0 0 3px #6495ed;
	}

.myTableWrapper {
	width: 800px;
	height: 500px;
	}

.fancyTable td, .fancyTable th {
	/* appearance */
	border: 1px solid #fff;
	
	/* size */
	padding: 5px;
	white-space: nowrap;
	}

.fancyTable {
	/* text */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

.fancyTable tbody tr td,.fancyTable-1 tbody tr td{
	/* appearance */
	background-color: #eef2f9;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #262c31;
	font-size: 11px;
	white-space: nowrap;
	}

.fancyTable tbody tr.odd td,.fancyTable-1 tbody tr.odd td  {
	/* appearance */
	background-color: #d6e0ef;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}

.fancyTable thead tr th,
.fancyTable tfoot tr td {
	/* appearance */
	background-color: #e4e5e5;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #121517;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 1px #e8ebee;
	white-space: nowrap;
	}
	/* Clients Layout */
	th.sort_list{background:url(/images/new_page/sorting_bg.gif) no-repeat !important;}
a.sort_list_anchor{ color:#000 !important; display:block; width:50px; background:url(/images/new_page/sorting_up_arrow.png) no-repeat center right; margin-right:10px;}
a.sort_list_anchor:hover{background:url(/images/new_page/sorting_up_down.png) no-repeat center right !important;text-decoration:nones}
.fancyTable tbody tr td,.fancyTable-1 tbody tr td { background-color:#d8e7f0}	
.fancyTable-1 tbody tr.odd td { background-color:#f8f8f8 }
.fancyTable-1 th{font-size:11px; font-weight:700;}
.fancyTable-1 td,.fancyTable-1 th{ padding:2px 1px; }
.fancyTable-1 th div.head,.fancyTable-1 td div{ background:url(/images/new_page/head_bg.gif) repeat-x; border:1px solid #bcc5c1; padding:0 8px;}
.fancyTable-1 td div{ padding:4px 8px;}
.fancyTable-1 td div{ border:0; background:none}
.heading_block{	height:23px; background:#e6e6e6 url(/images/clients/project_icon.jpg) no-repeat 5px 4px; }
.heading_block h3{padding:3px 20px; font-size:16px; font-weight:700; color:#4b575f; height:23px;}
.extra_spacer{ height:20px;}
#comment_block{ width:85%; }
.status_comment{ height:10px; background:url(/images/clients/comment_heading_line.gif) repeat-x 0 4px; margin-top:4px;}
.status_comment span{ float:left; background:#fff; padding:0 5px; font-size:11px;}
.sts_comment_left_column{ width:123px; height:61px;font-size:9px; font-weight:700}
.sts_comment_left_column h4{ color:#006cc8;}
.sts_comment_left_column img{ margin-top:5px;}
.sts_comment_right_column p{ font-size:11px; padding-top:5px; padding-right:10px;}
.sts_comment_right_column{ width:450px; height:61px;padding-left:12px; border:1px solid #ececec; position:relative}
.sts_comment_right_inner{ width:12px;height:14px; position:absolute; top:7px; left:-12px;background:url(/images/clients/box_arrow.gif) no-repeat left center;}
.glossary{ font-size:14px; padding:8px 0 0}
.glossary b.numb{ color:#0071b9; font-style:italic}
	
	
		/* Clients Layout */

/* Fancy Dark Table */	
.fancyDarkTable .numeric {
	/* text */
	text-align: right;
	}

.fancyDarkTable td, .fancyDarkTable th {
	border: 1px solid #000000;
	padding: 5px;
}

.fancyDarkTable thead tr th {
	padding: 10px 5px 10px 5px;
	}

.fancyDarkTable {
	/*border-collapse: separate;*/
	
	/* text */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

.fancyDarkTable tbody tr td {
	/* appearance */
	background-color: #48535e;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.02) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.0)),
		color-stop(100%,rgba(255,255,255,0.02)));
	border-bottom-color: #22272e;
	border-top-color: #708090;
	border-right-color: #000;
	border-left-color: #3c454f;

	/* size */
	padding: 10px 5px 30px 5px;

	/* text */
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000000;
	}

.fancyDarkTable tbody tr.odd td {
	/* appearance */
	background-color: #3c454f;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.02) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.0)),
		color-stop(100%,rgba(255,255,255,0.02)));
	border-right-color: #000;
	}

.fancyDarkTable thead tr th,
.fancyDarkTable tfoot tr td {
	/* appearance */
	background-color: #0b0d10;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000;
	}
	
.fancyDarkTable .fht-head {
	-webkit-box-shadow: 0 5px 10px #000;
	z-index: 1;
	position: relative;
	}
	
th.sort_list{
	background:url(/images/new_page/sorting_bg.gif) no-repeat !important;
	}
a.sort_asc_anchor, a.sort_desc_anchor{ color:#000 !important; display:block; padding-right:10px; background:url(/images/new_page/sorting_up_arrow.png) no-repeat center right; padding-right:15px;}
a.sort_asc_anchor:hover, a.sort_desc_anchor{
	background:url(/images/new_page/sorting_up_down.png) no-repeat center right !important;
	text-decoration:none
	}

/*----------forms--*/
.wrapper_form{
	width:100%;
	height:auto;
	background:#cecece url(/images/new_page/pattern-bg.gif) repeat;
	
}
.wrapper_form_inner{
	width:97%;
	margin:12px;
	float:left;
	/*border:1px solid #999999; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;*/
	}

.form_head_highlight{
	width:108px;
	height:29px;
	background:url(/images/new_page/form_hd_highlight_left.gif) no-repeat left;
	text-align:center;
	line-height:29px;
	font-size:16px;
	}
.form_head_highlight span{ float:left; width:108px; height:29px; background:url(/images/new_page/form_hd_highlight_right.gif) no-repeat right; color:#fff;}

.form_other_information,.form_other_information span{
	width:176px;
}


.new_lead_block{ width:98%; padding:10px 0 15px 15px;background:url(/images/new_page/form_inner_pattern.gif) repeat; }
.new_lead_block label{ width:100%;}

/*Form fields*/
.fl_left{ float:left; margin-top:2px;} 
.fl_right{ float:right}
.title_width{ width:524px;}

.input_width_11{ width:524px; height:37px; background:url(/images/new_page/form_elements_bg.png) no-repeat 0 0;} 
.input_width_11 input{ width:500px;}
.input_width_12{ width:254px; height:37px; background:url(/images/new_page/form_elements_bg.png) no-repeat 0 -40px;}
.textarea_width_12{background:url(/images/clients/text_area_bg.png) no-repeat; height:71px;}
.input_width_12 input,.input_width_12 textarea{width:230px;border:0;}
.input_width_12 textarea{height:50px;}

.input_width_13{ width:412px; height:37px;background:url(/images/new_page/form_elements_bg.png) no-repeat 0 -122px;}
.input_width_13 input{ width:390px; }
.input_width_14,
.input_width_14 input{ width:412px; height:37px;}
.input_width_11 input,
.input_width_12 input,
.input_width_13 input,
.input_width_14 input,
.input_width_15 input,
.input_width_12 textarea,
.input_width_15 select{
	background:none; 
	color:#424242;
	margin:8px 0 0 10px; 
	font-size:13px;
	border:0
	}
.input_width_15 select{ width:110px}
.input_width_15s{ width:128px !important;}
.input_width_15{ width:128px; height:37px;background:url(/images/new_page/form_elements_bg.png) no-repeat 0 -80px;}
.input_width_15 input{ width:110px;}
.input_create_lead input{
	width:109px;
	height:38px;
	background:url(/images/new_page/create_lead.png) no-repeat;
	margin-left:5px;
	cursor:pointer
	}
	
.input_update_lead input{
	width:109px;
	height:38px;
	background:url(/images/new_page/update_lead.png) no-repeat;
	margin-left:5px;
	cursor:pointer;
	}	

.input_create_client input{
	width:109px;
	height:38px;
	background:url(/images/new_page/create-client.png) no-repeat;
	margin-left:5px;
	cursor:pointer
	}



.input_update_client input{
	width:109px;
	height:38px;
	background:url(/images/new_page/update_client.png) no-repeat;
	margin-left:5px;
	cursor:pointer
	}




.input_search_lead{vertial:bottom;height:35px}
.input_search_lead input{
	width:109px;
	height:27px;
	background:url(/images/new_page/search.png) no-repeat;
	margin-left:5px;
	cursor:pointer;
	margin-top:5px
	}

.input_create_contact input{
	width:119px;
	height:38px;
	background:url(/images/new_page/create_contact.png) no-repeat;
	margin-left:5px;
	cursor:pointer
	}


	
.input_width_00{ background:none}
.input_width_00 select{ width:254px; height:28px}
.title select{ width:90px}
.text_indent{ text-indent:5px;}
.text_indent span{ color:#f00; font-size:20px; float:none; }
.form_block_two{
	width:268px;
	}
.form_block_three{
	width:148px;
	}
.error_msg{ color:#f00; width:80%; padding:5px; margin:0 5px; display:none}
/*error message*/
.error_message{
	border: 1px solid #c9645a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#febebe url(/images/new_page/error_msg.png) no-repeat 10px 4px;
	padding:10px;
	margin-bottom:10px;
	color:#000;
	}
	.error_message span{ padding-left:30px}
#validation-error{ margin-left:30px;}
#validation-error h3{ font-size:16px; font-weight:700}
#validation-error ul{margin-left:15px;}
#validation-error ul li{ margin:5px 0}
/*success message*/
.success_message{
	border: 1px solid #97c9ed;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#ddf1fe url(/images/new_page/success.png) no-repeat 10px 4px;
	padding:10px;
	margin-bottom:10px;
	color:#007ED7;
	}
	.success_message span{ padding-left:30px}

/*Form fields end*/

.tooltip {
	background:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;
	border:1px solid #999999; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	/* outline radius for mozilla/firefox only */
/*	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;*/
}



/*---------------dashboard styles---------------*/
#services_revenews{
	width:360px;
	height:207px;
	margin-right:10px;
	}
#full_graph{
	width:350px;
	height:207px;
	}
	
/*---------------tabbing styles---------------*/	
.container {width: 60%;}
.graph_display{float:left; width:300px; background:#ccc}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 21px;
	/*border-bottom: 1px solid #999;*/
	/*border-left: 1px solid #999;*/
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 21px;
	line-height: 21px;
	/*border: 1px solid #999;*/
	border-left: none;
	margin-bottom: -1px;
	/*background: #e0e0e0;*/
	overflow: hidden;
	position: relative;
	
}

ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding-left:20px;
	/*border: 1px solid #fff;*/
	outline: none;
	
}
ul.tabs li a span{
	display: block;
	padding: 0 20px 0 0;
}
ul.tabs li a:hover{
	background:url(../images/tab_left_img.gif) no-repeat top left;
}
ul.tabs li a:hover span{
	background:url(../images/tab_right_img.gif) no-repeat top right;
}
html ul.tabs li.active a, html ul.tabs li.active a:hover  {
	background:url(../images/tab_left_img.gif) no-repeat top left;
}
html ul.tabs li.active, html ul.tabs li.active a:hover span{
background:url(../images/tab_right_img.gif) no-repeat top right;
}
.tab_container {
	/*border: 1px solid #999;*/
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #f2f2f2;
	-moz-border-radius-bottomright: 8px;
	-khtml-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-khtml-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-khtml-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-box-shadow: 3px 3px 4px #000;
	 -webkit-box-shadow: 3px 3px 4px #000;
	 box-shadow: 3px 3px 3px #000;
	 /* For IE 8 
	 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";*/
	 /* For IE 5.5 - 7 */
	/* filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=153, Color='#000000');
	 #margin-top:-8px;*/
	/* margin-top*/ /*\**//*: blue\9*/
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}	

/*Multiple edit leads form*/	

#basic-accordian{
	/*border:5px solid #EEE;*/
	/*padding:5px;*/
/*	width:350px;*/
/*	position:absolute;
	left:50%;
	top:50%;
	margin-left:-175px;*/
/*	z-index:2;
	margin-top:-100px;*/
}


.accordion_headings a{
	padding:5px;
	background:#cecece url(/images/new_page/plus_expand.png) no-repeat center right;
	color:#000;
	border-top:1px solid #000;
	cursor:pointer;
	font-weight:bold;
	display:block;
}


.accordion_headings a:hover{
	background:#4895c3 url(/images/new_page/plus_expand_hover.png) no-repeat center right;
	color:#fff
}


.accordion_child{
	padding:15px;
	background:#EEE;
}

a.header_highlight{
	background:#4895c3 url(/images/new_page/minus_contract.png) no-repeat center right;
	color:#fff;
	border-top:0;

}

























#dialog,#dialog1,#terms_services,#privacy_policy {
  width:300px; 
  height:auto;
  padding:10px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -webkit-border-radius: 15px;
  background:#464646;	
}

.inner_block_modal{
	width:300px;
	height:auto;
	background:#fff;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	color:#000;
	padding-bottom:25px;
/*	border:1px solid #a0a0a0*/
}
.inner_block_modal p{ padding:10px;}

.close{ display:block; width:32px; height:32px; background:url(/images/new_page/close.png) no-repeat; position:absolute; top:-10px; right:-10px}

#terms_services,#privacy_policy{ width:600px;}

#terms_services .inner_block_modal{ width:600px;}
#terms_services .inner_block_modal h2{color:#ef0202}
.inner_block_modal img.preview_block{border:5px solid #fff;	
   -moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;}
#privacy_policy .inner_block_modal{ width:600px;}
#privacy_policy .inner_block_modal h2{color:#ef0202}
/*.window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
.heading_block h3{background: url(/images/new_page/plus_expand.png) no-repeat right -5px;}
.heading_block h3.active{
background:url(/images/new_page/minus_contract.png) no-repeat right -5px;

}	

	
/*project management dashboard*/
	.head_project_wrapper{
	width:100%;
	border-bottom:3px solid #c8c9c9;
	}
	.heading_project_blocks{
	float:left;
	width:auto;
	}
	.heading_project_blocks h2{ font:400 1.2em Arial, Helvetica, sans-serif; padding-bottom:5px}
	
	/*glossary page*/
#alphabet_listing{
	width:100%;
}
#alphabet_listing li{
 float:left;
 display:inline;
 width:3.80%;
 height:24px;
 text-align:center;
 background:url(/images/clients/alphabet_bg.png) no-repeat;
 margin-top:5px;
}
#alphabet_listing li a{
	display:block;
	width:26px;
	height:24px;
	color:#fff;
	font:700 13px/24px Arial, Helvetica, sans-serif
}
#search_block{
	width:240px;
}
#search_block input.search_field{-moz-border-radius: 6px!important;-webkit-border-radius: 6px!important;border:1px solid #b5b5b5; padding:4px 5px; width:182px;}
input.search_input{background:url(/images/clients/search_image.png) no-repeat;width:30px; height:24px;margin-left:10px;}



 #tag_box_display,.tag_box_display{
width:100%;
font-size:10px;
padding:2px;
margin-top:5px;
float:left
}
.tag_box_display{ width:200px; padding:0; margin:0; margin-left:5px}
#tag_box_display ul{ margin-left:240px; width:auto;}


#tag_box_display ul li,.tag_box_display ul li{ float:left; margin-right:5px; margin-bottom:5px; display:inline}
#tag_box_display ul li div.tags,.tag_box_display ul li div.tags{ background:#e4e4e4;text-transform:uppercase;float:left;-moz-border-radius: 6px!important;-webkit-border-radius: 6px!important; padding:2px 2px 2px 4px;}
#tag_box_display ul li span,.tag_box_display ul li span{ background:#fff;-moz-border-radius: 5px!important;-webkit-border-radius: 5px!important;border:1px solid #b5b5b5; padding:0 5px;}
.tag_box_display ul li span{ background:none;  border:0;}
.tag_box_display ul li span a img{float:right;margin-top:2px;margin-right:3px}
#tag_box_display ul li div.tags a{color:#000}
#tag_box_display ul li div.tags{ background:#99C5EA}
#search_swap_block{
width:500px;
margin-top:10px;
}
#search_swap_block label{font-weight:700; float:left; line-height:18px; margin-right:5px;}

#search_swap_block img select{ float:left}
#search_swap_block label b{ font-size:16px;}
#table_grid{
	width:100%;
	background:#eaeaea;
}
#table_grid table{ border-spacing:1px;}
#table_grid table tr{background:#f8f8f8;}
#table_grid table th{ background:#fff}
#table_grid table td,#table_grid table th{padding:4px; font-weight:700;}
#table_grid th.first_td{
	width:20px;  
	}
#table_grid th.last_edit{
	width:170px;
	text-align:center
}
#table_grid tr.odd{ background:#ffffff}
.glossary_user_action_block{ width:170px; position:relative; height:18px}
.glossary_user_action_block .add_view_1{ background:#5a5a5a; float:left;width:170px;-moz-border-radius: 6px;-webkit-border-radius: 6px; height:20px; display:none; position:absolute; top:0}

.glossary_user_action_block .add_view_1 li a{ padding:0 2px;}
.glossary_user_action_block .add_view_1 li a:hover{ background:#3e858b}
.glossary_user_action_block .add_view_1 li,.glossary_user_action_block .add_view_1 li a{ font-size:10px; width:auto; height:20px; line-height:20px}

.glossary_user_action_block .glossary_links li a{ background:none!important;color:#000000;}
.glossary_user_action_block .glossary_links li a:hover{ text-decoration:underline;}
.glossary_user_action_block .glossary_links {background:none;}



#footer_glossary{
	width:100%;
	height:30px;
	border-top:2px solid #e0e0e0;
	}
	#footer_glossary p{ background:url(/images/clients/gigavine_logo.gif) no-repeat left center; padding-left:58px; line-height:30px; height:30px; float:left}

#footer_glossary ul{ float:right}
#footer_glossary ul li{ float:left; height:30px; line-height:30px; padding:0 5px;}
#footer_glossary ul li a{color:#7f7f7f; font-size:11px}
	
	/*Image Mangement*/
#image_mangement_wrapper{
	width:100%;
}
#image_mangement_wrapper ul li{
	float:left;
	display:inline;
	position:relative;
	text-align:center;
	background:url(/images/clients/image_manage/imgmng_bg.gif) no-repeat;
	width:132px;
	height:171px;
	margin-right:10px;
	margin-bottom:10px;
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color:#0071b9;
	text-align:center;
	vertical-align:bottom
}
#image_mangement_wrapper ul li .avatar{
	width:100px;
	height:100px;
	margin:6px auto 13px;
	background:#ccc;	
	position:relative;
}
#image_mangement_wrapper ul li img{
	display:block;
	position:absolute;
	left:50%;
	bottom:0;
}
.user_image_actions{
	width:118px;
	height:17px;
	margin-left:9px
}
#image_mangement_wrapper .user_image_actions ul li{
	float:left;
	display:inline;
	width:17px;
	height:17px; 
	margin-right:8px
}
#image_mangement_wrapper .user_image_actions ul li a{
	display:block;
	width:17px;
	height:17px;
}
#image_mangement_wrapper .user_image_actions ul li.image_delete{ background:none}
#image_mangement_wrapper .user_image_actions ul li.image_view a{background:url(/images/clients/image_manage/image_view.gif) no-repeat;}
#image_mangement_wrapper .user_image_actions ul li.image_download a{background:url(/images/clients/image_manage/download.gif) no-repeat;}
#image_mangement_wrapper .user_image_actions ul li.image_edit a{background:url(/images/clients/image_manage/edit.gif) no-repeat;}
#image_mangement_wrapper .user_image_actions ul li.image_delete a{background:url(/images/clients/image_manage/delete.gif) no-repeat}

#image_mangement_wrapper .user_image_actions ul li.image_view a:hover{background:url(/images/clients/image_manage/image_view_hover.gif) no-repeat;}
#image_mangement_wrapper .user_image_actions ul li.image_download a:hover{background:url(/images/clients/image_manage/download_hover.gif) no-repeat;}
#image_mangement_wrapper .user_image_actions ul li.image_edit a:hover{background:url(/images/clients/image_manage/edit_hover.gif) no-repeat;}
#image_mangement_wrapper .user_image_actions ul li.image_delete a:hover{background:url(/images/clients/image_manage/delete_hover.gif) no-repeat}
#image_mangement_wrapper .user_image_actions ul li.image_delete{ float:right; margin-right:0}
	