
/*-----------------------------------------------------------------------------------------------*/
/*                                            TOOLTIP                                            */
/*-----------------------------------------------------------------------------------------------*/

.toolTip_text { /* This is the hook that the jQuery script will use */
	padding-right: 20px; /* This is need to make sure that the help icon is always visible */
	background: transparent url(images/help.gif) no-repeat right;
	cursor:default;

 /* This contains the .toolTipWrapper div that is absolutely positioned  */
}

	.toolTipWrapper { /* The wrapper holds its insides together */
		width: 175px;
		position: absolute; /* Absolute will make the tooltip float above other content in the page */
		top: 30px;
		display: none; /* It has to be displayed none so that the jQuery fadein and fadeout functions will work */
		color: #FFF;
		font-weight: bold;
		font-size: 9pt; /* A font size is needed to maintain consistancy */
		text-align:left;
	}
	
		.toolTipTop { /* Top section of the tooltip */
			width: 175px;
			height: 11px;
			background: transparent url(/images/clients/bubbleTop.gif) no-repeat 10px 0;
		}

		.toolTipMid { /* Middle section of the tooltip */
			padding: 8px 10px;
			background: #acacac;
		}
		
		.toolTipBtm { /* Bottom Section of the tooltip */
			height: 13px;
			display:none
		}
		
