#leftcolumn
  / vertical menu
  .glossymenu
    %a.menuitem.statusicon_1{:href => "/contacts/users"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Manage Users
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/clients/new_icon.png"}>/
      Payment History
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/clients/new_icon.png"}>/
      Feedback
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Support

    .clear_all