/* CSS Document */


  .home_create_header p, .home_language_header p, .home_technology_header p{width:420px;}
.home_language_header span.headtext , .home_language_header span.clientname{ width:320px; margin:15px 25px 0px 0px;}
.home_technology_header span.headtext , .home_technology_header span.clientname{ width:320px; margin:15px 25px 0px 0px;}
.home_create_header span.headtext , .home_create_header span.clientname{ width:320px; margin:15px 25px 0px 0px;}


.reg_text2 input{ width:127px!important;  padding-left:5px; text-indent:0px!important; padding-right:0px!important;}



.images_1 div.sub_content p a.blue span.span_1{  background: url(/images/frontend/arrow_slide.png) no-repeat 5px 16px; padding:4px 4px; margin-left:2px; margin-top:1px;  position:absolute; right:-18px;}

.images_1 div.sub_content p a.red span.span_2{ background: url(/images/frontend/arrow_slide.png) no-repeat 5px 16px; padding:4px 4px; margin-left:2px;  margin-top:1px; position:absolute; right:-18px;}

.images_1 div.sub_content p a.green span.span_3{ background: url(/images/frontend/arrow_slide.png) no-repeat 5px 16px; padding:4px 4px; margin-left:2px;  margin-top:1px; position:absolute; right:-18px;}

/*embed{
border:1px solid #e4e4e4; float:right; padding:4px 6px 4px 6px; position:relative; left:15px;
}*/

.latest_mod{
padding:20px 0px 0px 6px;
}
/*.news_headding{
height:45px;
 background:url(/images/frontend/right_arrow.gif) no-repeat right 16px;
 cursor:pointer;
 position:relative;
 left:-15px;
 top:10px;
 width:290px;
}*/
