/* Eric Meyer's css reset starts */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
 .cufon-loading { 
 visibility: hidden;
}
/* remember to define focus styles! */
input{border:0}
:focus{outline: 0;}
body {
	line-height: 1;
	background:#efeff1;
	/*color: black;
	background: white;
	background:url(/images/frontend/bg-header-strip.gif) repeat-x;
	min-width:1000px;*/
}
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
/* Eric Meyer's css reset ends */
.fl_left{float:left;}
.fl_right{float:right;}
.clear{clear:both}


/*Main Wrapper*/
#main-wrapper-home, #laniding-main-wrapper, #lang_landing_wrapper{
	width:100%;
	height:auto;
	background:url(/images/frontend/main-bg.jpg) repeat-x;
}

/*#header-wrapper, #landing-header{
	width:1082px;
	height:447px;
	margin:0 auto;
	position:relative;
	}*/
	#header-wrapper, #landing-header{
	width:1082px;
	height:370px;
	margin:0 auto;
	position:relative;
	
	}
	#home_header{
	width:1082px;
	height:370px;
	margin:0 auto;
	position:relative;
	background:url(/images/frontend/g_logo.png) no-repeat right bottom;
	}

#header-corusal{
}
#top-cup-holder{
	width:980px;
	height:149px;
	margin:0 auto;
	position:absolute;
	left:50%;
	margin-left:-490px;
	z-index:20;
	}
#top-menu-wrapper{
	width:427px;
	height:24px;
	background:#f0f0f0;
	}
#top-menu-wrapper #search-block{
	width:144px;
	height:24px;
	background:#d9d9d9;
	}
#menu-wrapper{
	width:980px;
	height:72px;
}
#Menu{
}
#logo{	width:209px;height:147px;/* background:url(/images/frontend/gigavine-logo.png) no-repeat;*/ }
#logo a{ display:block;}
#corousol-wrapper{
		width:980px;
		height:auto;
		margin:0px auto;
		}

.shadow_midbg{
		background:url(/images/frontend/shadow-bg.gif) no-repeat bottom;
		width:960px;
		height:auto;
		display:block;
		}

.shadow_midbg h4{
		font:24px/12px Gotham;
		color:#465561;
		padding:25px 0px 25px 0px;
		}
.shadow_midbg p{
		font:14px/22px Arial, Helvetica, sans-serif;
		color:#828282;
		padding:0px 0px 30px 0px;
}
.shadow_midbg p span{
       font: 800 15px/22px Arial, Helvetica, sans-serif;
}

#latest-news{
width:314px;
height:141px;
float:left;
margin:10px 0px 20px 0px;
}
.org_leftcorner{
        background:url(/images/frontend/org-leftcorner.gif) no-repeat left;
		width:5px;
		height:141px;
		float:left;
}
.org_bg{
        background:url(/images/frontend/org-bg.gif) repeat-x;
		width:304px;
		height:141px;
		float:left;
}


.org_bg_inner{
width:272px;
margin:0px auto;
/*float:right;*/
}
/*.org_bg_inner p.space{
height:22px;
}*/
.org_bg_inner p{
height:auto;
font:15px/20px Arial, Helvetica, sans-serif;
color:#fff;
text-align:left;
}

.latest_mod{
padding:18px 0px 0px 6px; height:79px; 
}

.news_headding{
height:45px;
 background:url(/images/frontend/right_arrow.gif) no-repeat right 18px;
 cursor:pointer;
 position:relative;
 left:-15px;
 top:12px;
 width:290px;
}
.news_headding:hover{
text-decoration:none;
}

.news_headding h4{
font:20px/55px Gotham;
color:#465561;
position:relative;
left:10px;
}
.org_rightcorner{
        background:url(/images/frontend/org-rightcorner.gif) no-repeat left;
		width:5px;
		height:141px;
		float:left;
}

#join-the-network{
width:314px;
height:141px;
float:left;
margin:10px 17px 20px 17px;
/*background:#00CC99*/
}
.green_leftcorner{
        background:url(/images/frontend/green-leftcorner.gif) no-repeat left;
		width:5px;
		height:141px;
		float:left;
}
.green_bg{
        background:url(/images/frontend/green-bg.gif) repeat-x;
		width:304px;
		height:141px;
		float:left;
}
.green_rightcorner{
        background:url(/images/frontend/green-rightcorner.gif) no-repeat left;
		width:5px;
		height:141px;
		float:left;
}


#contact-us{
width:314px;
height:141px;
float:left;
margin:10px 0px 20px 0px;
/*background:#66CCFF*/
}

.blue_leftcorner{
        background:url(/images/frontend/blue-leftcorner.gif) no-repeat left;
		width:5px;
		height:141px;
		float:left;
}
.blue_bg{
        background:url(/images/frontend/blue-bg.gif) repeat-x;
		width:304px;
		height:141px;
		float:left;
}

.blue_rightcorner{
        background:url(/images/frontend/blue-rightcorner.gif) no-repeat left;
		width:5px;
		height:141px;
		float:left;
}
.foot_topspace{ clear:both; height:10px;}

#tabbing{
width:100%;
height:auto;
background:url(/images/frontend/light-bg.gif) repeat-x top;
overflow:hidden;
}
.tabmainblock{
width:1005px;
height:auto;
margin:6px auto;
}


#submit-a-brief{
width:475px;
float:left;
}
#submit-a-brief h4{
       font:26px/42px Gotham;
		color:#465561;
		padding:5px 0px 15px 0px;
		text-indent:20px;
		background:url(/images/frontend/small_shadow.gif) no-repeat bottom;
}

.sub_inner{
width:456px;
height:135px;
margin:20px 0px 0px 15px;
}
.sub_leftcorner{
        background:url(/images/frontend/sub_leftcorner.gif) no-repeat left;
		width:5px;
		height:135px;
		float:left;
}
.sub_bg{
        background:url(/images/frontend/sub_bg.gif) repeat-x;
		width:446px;
		height:135px;
		float:left;
}

.sub_rightcorner{
        background:url(/images/frontend/sub_rightcorner.gif) no-repeat left;
		width:5px;
		height:135px;
		float:left;
}
.sub_bg_inner{
 width:428px;
 margin:20px auto;
 color:#465561;
 font:14px Gotham;
}
.sub_bg_inner p{
height:33px;
}
.sub_bg_inner p span{
width: 68px;
float:left;
}


.sub_bg_inner p input{
	width:346px;
	height:20px;
	float:left;
	/*text-indent:7px;*/
 	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	padding-left:5px;
	padding-right:5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.sub_bg_inner p input{margin-left:5px; margin-right:5px; width:330px; line-height:19px;}
}


.form_btn{
width:51px;
margin:0px auto;
}

.form_btn input.form_submit{
width:51px;
height:22px;
cursor:pointer;
background:url(/images/frontend/form_submit.png) no-repeat  0px -22px;
}

.form_btn input.form_submit:hover{
width:51px;
height:22px;
cursor:pointer;
/*background:url(/images/frontend/form_submit.png) no-repeat  0px 0px;*/
}


#how-we-help{
width:530px;
float:left;
}
#how-we-help h4{
		font:26px/42px Gotham;
		color:#465561;
		padding:5px 0px 15px 0px;
		text-indent:50px;
		background:url(/images/frontend/small_shadow.gif) no-repeat bottom;
}
.help_block{
width:513px;
height:auto;
margin:0px auto;
}
#footer{
width:100%;
height:199px;
background:url(/images/frontend/footer-bg.gif) repeat-x;
}
.inner_footer{
width:960px;
height:auto;
margin:0px auto;
}

.foot_left{
width:160px;
height:auto;
float:left;
}
.foot_left ul{
margin:20px 0px;
list-style-type:none;
}
.foot_left li{
float:left;
width:31px;
height:31px;
}

.foot_left li a{
text-decoration:none;
}
.foot_left li a:hover{
text-decoration:none;
}

.foot_right{
width:800px;
height:auto;
float:left;
}
.foot_right a{
font:11px Arial, Helvetica, sans-serif;
color:#a7a7a7;
text-decoration:none;
}
.foot_right a:hover{
font:11px Arial, Helvetica, sans-serif;
color:#fff;
text-decoration:none;
}
.foot_right p{
font:11px/60px Arial, Helvetica, sans-serif;
color:#a7a7a7;
}
.foot_right ul{
width:110px;
margin:0px 15px 0px 10px;
padding:0px;
float:left;
list-style-type:none;
}
.foot_right li p{
font:16px Gotham;
text-align:left;
color:#e5e5e5;
padding:0px 0px 20px 0px;
}
.foot_right li{
margin:0px;
}
.foot_right li a{
font:11px/17px Arial, Helvetica, sans-serif;
color:#a7a7a7;
text-align:left;
text-decoration:none;
}
.foot_right li a:hover{
text-decoration:none;
color:#fff;
font:11px/17px Arial, Helvetica, sans-serif;
}

.foot_logo{
margin:0px 0px 0px 0px;
}
.flo_left{
float:left;
}

/* ----------- slider styles ----------------------*/
#main{
	width:500px;
	margin:0 auto;
}

.container,.titles{
	color:black;
	width:100%;
	overflow:hidden;
	padding:0px 10px 10px;
	margin:-10px 0px 0px 0px;
}

.titles{
	width:140px;
	padding:0px 15px;
	height:55px;
}

.product{
	width:470px;
	height:120px;
	background:url(/images/frontend/product_bg.png) repeat-x;
	padding-top:10px;
	float:left;	
	font: italic 24px Gotham;
}

.product .pic{
	float:left;
	width:116px;
	height:113px;
	padding:0 10px 5px;
	margin:5px 0px 0px -20px;
}
.product .title{
	font:24px Gotham;
	color:#b5101c;
	text-align:left;
	margin:20px 0px 0px 0px;
	position:relative;
	left:10px;
	/*font-style:italic*/
}

/*.product .link,.product .price{
	font-size:10px;
	text-transform:uppercase;
	padding:4px 0;
}

.product .price{
	color:#CCCCCC;
}

.description{
font:12px Arial, Helvetica, sans-serif;
}
.tutorial-info{
	text-align:center;
	padding:10px;
}

.link a, a:visited {
font:10px Arial, Helvetica, sans-serif;
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}

.link a:hover{
	text-decoration:underline;
}
*/
/*----------------------------------- landing page styles ----------------------------------------------------*/
#laniding-main-wrapper{
	background:url(/images/frontend/landing-main-bg.jpg) repeat-x;
}

#landing-header{
	width:100%;
	height:507px;
	margin:0 auto;
	position:relative;
	background:url(/images/frontend/creative_landing_bg.jpg) no-repeat center bottom;
	}

.create_headder{
width:964px;
height:507px;
margin:0px auto;
}	
.create_nav{
width:964px;
height:150px;
display:block;
overflow:hidden;
}
.create_navleftblock{
width:210px;
float:left;
}
.create_navrightblock{
width:750px;
float:left;
}

.create_headding{
width:964px;
height:82px;
}	
.create_headding h4{
color:#fff;
text-align:left;
font:32px/90px Gotham;
text-indent:22px;
text-transform:uppercase
}

.create_headding h4 span{
color:#015350;
text-align:left;
font:32px/90px Gotham;
text-indent:22px;
text-transform:uppercase
}


.create_mainblock{
width:964px;
height:276px;
}	

.create_register{
height:25px;
width:430px;
float:right;
color:#7a7979;
text-align:center;
font:10px/25px Arial, Helvetica, sans-serif;
background:#f1f1f1
}	
	
.reg_text, .reg_text1, .reg_text2{
background:url(/images/frontend/reg_line.jpg) no-repeat right 7px;
width:60px;
float:left;
}
.reg_text a, .reg_text1 a, .reg_text2 a{
text-decoration:none;
color:#7a7979;
}
.reg_text img, .reg_text1  img{
position:relative;
top:-1px;
left:3px;}	
 .reg_text2 img{ float:left;}
.reg_text1{
width:155px;
background:none;
}
.reg_text2{
float:right;
width:144px;
text-align:left;
text-indent:10px;
background:#d9d9d9;
background-image:none;
}	
.reg_text2 input{
width:132px;
#width:125px;
#padding-left:5px;
background:none;
font:10px Arial, Helvetica, sans-serif;
color:#7a7979;
float:left;
margin-top:5px;
text-indent:5px;
#text-indent:5px
}	
@media screen and (-webkit-min-device-pixel-ratio:0) {
.reg_text2 input{ width:120px; padding-left:5px; padding-right:5px; text-indent:0px!important;}
}
	
	
#lp_content{
width:964px;
height:auto;
margin:0px auto;
background:#fff;
overflow:hidden;
}
#lp_midcontent{
width:936px;
height:auto;
margin:27px auto;
}
.lp_leftblock{
width:315px;
height:auto;
float:left;
padding-bottom:20px;
}
.lp_rightblock{
width:621px;
height:auto;
float:left;
}
.lp_rightblock p.headding_text{
color:#465561;
text-align:left;
font:24px/32px Gotham;
margin-top:0px !important;
width:600px;
}
.lp_rightblock p.headding_textnew{
color:#465561;
text-align:left;
font:24px Gotham;
margin-top:0px!important;
margin-bottom:0px!important;
width:600px;
}

.lp_rightblock p{
width:600px;
margin:20px 0px 20px 0px;
text-align:left;
color:#828282;
font:14px/22px Arial, Helvetica, sans-serif;
}
.local_nav{
margin:0px;
padding:0px;
}
.local_nav ul{
margin:10px 0px 0px 35px;
padding:0px;
width:580px;
}
.local_nav li{
list-style-type:disc;
margin:0px 0px 10px 0px;
padding:0px 0px 0px 0px;
width:auto;
font:14px/20px Arial, Helvetica, sans-serif;
color:#828282;
/*background:url(/images/frontend/bullet.png) no-repeat left 5px;*/
}
.local_nav li a{
margin:0px 0px 10px 0px;
width:auto;
font:14px/20px Arial, Helvetica, sans-serif;
color:#828282;
text-decoration:none;
}
.local_nav li a:hover{
text-decoration:none;
}
.lp_navigation{
float:left;
width:296px;
}
.lp_navigation ul{
list-style-type:none;
margin:0px;
padding:0px;
float:left;
}


.lp_navigation li{
background:url(/images/frontend/left_tab.jpg) no-repeat 0px 0px;
width:296px;
height:53px;
}

.lp_navigation li a{
background:url(/images/frontend/left_tab.jpg) no-repeat 0px 0px;
width:276px;
height:53px;
font:20px/43px Gotham;
color:#20202c;
display:block;
text-decoration:none;
padding:0px 0px 0px 20px;
}

.lp_navigation li a:hover{
background:url(/images/frontend/left_tab.jpg) no-repeat 0px -53px;
width:276px;
height:53px;
color:#fff;
cursor:pointer;
text-decoration:none;
}

.lp_navigation li a.current{
background:url(/images/frontend/left_tab.jpg) no-repeat 0px -53px;
width:276px;
height:53px;
color:#fff;
}

#lp_submit{
width:299px;
float:left;
}
#lp_submit h4{
       font:20px/22px Gotham;
		color:#465561;
		margin:10px 0px 0px 0px;
		padding:15px 0px 0px 0px;
		text-indent:5px;
		background:url(/images/frontend/lp_shadow.png) no-repeat top;
}

.lpsub_inner{
width:296px;
height:135px;
margin:10px 0px 0px 0px;
}
.lpsub_leftcorner{
        background:url(/images/frontend/sub_leftcorner.gif) no-repeat left;
		width:5px;
		height:135px;
		float:left;
}
.lpsub_bg{
        background:url(/images/frontend/sub_bg.gif) repeat-x;
		width:286px;
		height:135px;
		float:left;
}

.lpsub_rightcorner{
        background:url(/images/frontend/sub_rightcorner.gif) no-repeat left;
		width:5px;
		height:135px;
		float:left;
}
.lpsub_bg_inner{
 width:276px;
 margin:23px auto;
 color:#465561;
}
.lpsub_bg_inner p{
height:31px;
}
.lpsub_bg_inner p span{
width: 68px;
float:left;
 font:14px Gotham;
}
.lpsub_bg_inner p input{
	width:190px;
	height:20px;
	float:left;
	/*text-indent:7px;*/
 	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	padding-left:5px; padding-right:5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.lpsub_bg_inner p input{margin-left:5px; margin-right:5px; line-height:19px; width:180px;}
}
/*------------------------------ Languages Landing Page -----------------------------------------------------------*/
#lang_landing_wrapper{
background:url(/images/frontend/lang_landing_bg.jpg) repeat-x;
}
#languages-header{
	width:100%;
	height:507px;
	margin:0 auto;
	position:relative;
	background:url(/images/frontend/languages_header_glow.jpg) no-repeat center bottom;
	}

#language_get{
width:299px;
float:left;
}
#language_get h4{
       font:20px/22px Gotham;
		color:#465561;
		margin:10px 0px 0px 0px;
		padding:15px 0px 0px 0px;
		text-indent:5px;
		background:url(/images/frontend/lp_shadow.png) no-repeat top;
}

.get_inner{
width:296px;
height:302px;
margin:10px 0px 0px 0px;
}
.get_leftcorner{
        background:url(/images/frontend/get_leftstrip.gif) no-repeat left;
		width:4px;
		height:302px;
		float:left;
}
.get_bg{
        background:url(/images/frontend/get_bgstrip.gif) repeat-x;
		width:284px;
		height:302px;
		float:left;
}

.get_rightcorner{
        background:url(/images/frontend/get_rightstrip.gif) no-repeat left;
		width:4px;
		height:302px;
		float:left;
}
.get_bg_inner{
 width:276px;
 margin:20px auto;
 color:#465561;
 font:14px Gotham;
}
.get_bg_inner p{
height:33px;
}
.get_bg_inner p span{
width: 275px;
float:left;
}

.get_bg_inner p input, select{
	width:275px;
	height:20px;
	float:left;
	margin:10px 0px 10px 0px;
 	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	border:0px;
}
.get_bg_inner p input{
width:85px;
 padding-left:5px!important; padding-right:5px!important;
 line-height:19px;
}

.get_bg_inner p select{ width:277px!important; padding-left:5px; padding-top:1px;}



@media screen and (-webkit-min-device-pixel-ratio:0){
.get_bg_inner p input{ padding-left:5px!important; padding-right:5px!important; width:85px; line-height:19px;}
}








.get_bg_inner p.count{
width:95px;
float:left;
font:11px Gotham;
color:#465561;
}
.get_bg_inner p.count1{
width:53px;
text-align:center;
float:left;
font:11px Gotham;
color:#465561;
}
.get_bg_inner p span.getname{
width: 95px;
float:left;
}
.checkbox{
width:95px;
float:left;
font:11px Gotham;
color:#465561;
position:relative;
top:-2px;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
.checkbox span{ position:relative; top:0px;}
}


.checkbox span{
#position:relative;
#top:3px;
}
.checkbox input[type="checkbox"]{
position:relative;
top:2px;
width:12px;
height:12px;
/*border:1px solid #8e8f8f;*/
}
.checkbox_block{ margin:25px 0px 0px 0px;height:auto!important;}
.estimate{
position:relative;
top:-5px;
padding:10px 0px 0px 0px;
height:auto!important;
border-top:1px solid #c1c0c6;
}
.count_number{
font:24px Gotham;
color:#858585;
float:left;
width:190px;
}
.count_btn{
cursor:pointer;
width:64px;
height:22px;
float:right;
color:#fff;
font:11px/21px Verdana;
text-align:center;
background:url(/images/frontend/gray_btn.gif) no-repeat;
}
.count_btn:hover{
cursor:pointer;
width:64px;
height:22px;
float:right;
color:#646464;
font:11px/21px Verdana;
text-align:center;
background:url(/images/frontend/gray_btn.gif) no-repeat 0px -22px;
}
.count_btn a{
cursor:pointer;
color:#fff;
text-decoration:none;
}
.count_btn a:hover{
cursor:pointer;
text-decoration:none;
color:#646464;
}



.language_textblock{
width:280px;
height:auto;
float:left;
color:#828282;
padding-right:10px;
font:14px/22px Arial, Helvetica, sans-serif;
}
.language_video{
width:315px;
height:auto;
float:left;
}
.language_video h4{
font:20px Gotham;
color:#465561;
margin:0px auto;
padding:0px;
width:310px;
}
.language_video p{
margin:0px auto;
padding:0px;
font:11px Arial, Helvetica, sans-serif;
color:#828282;
width:300px;
}
.top_comment{
width:447px;
/*height:89px;*/
height:auto;
padding-bottom:15px;
padding-right:7px;
color:#fff;
position:relative;
top:-180px;
left:30px;
z-index:100;
background:#74747c;
-moz-border-radius:10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
opacity:.60;
filter:alpha(opacity=50);
filter: “alpha(opacity=50)”;
}
.top_comment p{
font:18px/24px Gotham;
color:#fff;
padding:12px 0px 0px 15px;
}

/*------------------------------ Technology  Languages Landing Page -----------------------------------------------------------*/
#tech_landing_wrapper{
background:url(/images/frontend/tech_landing_bg.jpg) repeat-x;
}
#tech-header{
	width:100%;
	height:507px;
	margin:0 auto;
	position:relative;
	background:url(/images/frontend/green_bg.jpg) no-repeat bottom;
	}


/*------------------------------------Home Creative Header Styles-------------------------------------------*/
.home_create_header, .home_language_header, .home_technology_header, .home_index_header{
width:960px;
/*background:url(/images/frontend/camera.png) no-repeat right;*/
}

.home_create_header img{
float:right;
margin:-25px 0px 0px 0px;
}
.images h4{
color:#1d1d1d!important;
text-align:left;
font:32px Gotham;
text-indent:82px;
position:relative;
text-transform:uppercase;
top:50px;
opacity:.60;
filter:alpha(opacity=50);
filter: “alpha(opacity=50)”;
}
.home_create_header p, .home_language_header p, .home_technology_header p{
background:#74747c url(/images/frontend/quotes.png) no-repeat 26px 18px;
width:437px; 
height:106px;
color:#fff;
position:relative;
top:45px;
left:30px;
z-index:100;
-moz-border-radius:10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
opacity:.60;
filter:alpha(opacity=50);
filter: “alpha(opacity=50)”;
}

.home_create_header span.headtext , .home_create_header span.clientname{
width:338px;
color:#fff;
float:right;
text-align:left;
font:18px Gotham;
margin:15px 20px 0px 0px;
position:relative;
}
.home_create_header span.clientname{
font:14px Gotham;
margin-top:10px!important;
opacity:.60;
filter:alpha(opacity=50);
filter: “alpha(opacity=50)”
}


.home_language_header span.headtext , .home_language_header span.clientname{
width:338px;
color:#fff;
float:right;
text-align:left;
font:18px Gotham;
margin:15px 20px 0px 0px;
}
.home_language_header span.clientname{
font:14px Gotham;
margin-top:10px!important;
opacity:.60;
filter:alpha(opacity=50);
filter: “alpha(opacity=50)”
}


.home_language_header p{
height:130px!important;
padding-bottom:10px;
position:relative;
top:60px!important;
}


.home_language_header{
width:960px;
/*background:url(/images/frontend/feather.png) no-repeat right;*/
}

.home_language_header img{
float:right;
margin:-25px 0px 0px 0px;}



.home_technology_header span.headtext , .home_technology_header span.clientname{
width:338px;
color:#fff;
float:right;
text-align:left;
font:18px Gotham;
margin:15px 20px 0px 0px;
}
.home_technology_header span.clientname{
font:14px Gotham;
margin-top:10px!important;
opacity:.60;
filter:alpha(opacity=50);
filter: “alpha(opacity=50)”
}


.home_technology_header p{
padding-bottom:10px;
position:relative; 
top:60px!important;
}


.home_technology_header{
width:960px;
background:none!important;
/*background:url(/images/frontend/music.png) no-repeat right;*/
}
.home_technology_header img{
float:right;
margin:-25px 0px 0px 0px;
}

#FileUpload {
    position:relative;
	width:300px;
	top:-28px;
	left:70px;
}

#BrowserVisible {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
   /*background:url(/images/frontend.browse.jpg) 100% 0px no-repeat;*/
    height:22px;
}

#FileField {
float:left;
    width:185px;
    height:22px;
    margin-right:65px;
    font-size:14px;
	-moz-border-radius:5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
}

#BrowserHidden {
    position:relative;
    height:22px;
    text-align: right;
    -moz-opacity:0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}



#FileUpload1 {
    position:relative;
	width:300px;
	top:-28px;
	left:70px;
}

#BrowserVisible1 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
	 width:125px;
    /*background:url(/images/frontend.browse.jpg) 100% 0px no-repeat;*/
    height:22px;
}

#FileField1 {
float:left;
    width:115px;
    height:22px;
    margin-right:65px;
    font-size:14px;
	-moz-border-radius:5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
padding-left:5px;
padding-right:5px;
}

#BrowserHidden1 {
    position:relative;
    height:22px;
    text-align: right;
    -moz-opacity:0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
#FileUpload1 {
width:100px;
margin-left:2px;
}
}




#FileUpload2 {
    position:relative;
	width:280px;
	top:0px;
	left:70px;
}

#BrowserVisible2 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
	 width:125px;
    /*background:url(/images/frontend.browse.jpg) 100% 0px no-repeat;*/
    height:22px;
}

#FileField2 {
float:left;
    width:270px;
    height:22px;
    margin-right:65px;
    font-size:14px;
	-moz-border-radius:5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
position:relative;
padding-left:5px;
padding-right:5px;
}

#BrowserHidden2 {
    position:absolute;
    height:22px;
    text-align: right;
	background:#CCCC66;
    -moz-opacity:5;
    filter:alpha(opacity: 5);
    opacity: 0;
    z-index: 2;
	top:0;
	left:0
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
#FileField2 {margin-left:3px;}
}







.home_index_header{
/*width:960px;*/
width:1082px;
margin:44px 0px 0px 0px;
background:url(/images/frontend/g_logo.png) no-repeat right bottom;
}
.home_index_header p img{
position:relative;
top:-20px;
}
.home_index_header p{
width:710px;
height:auto;
color:#6f6f6f;
font:23px Gotham;
position:relative;
top:10px;
left:30px;
}
.select_language{
background:#fff;
width:155px;
height:auto;
display:none; 
position:relative;
z-index:1000; 
left:0px; 
float:right;
}
.select_language ul{
list-style-type:none;
width:155px;
background:url(/images/frontend/language_dropdown_bg.gif) repeat-y;
}
.select_language li{
width:155px;
height:20px;
font:10px/20px Arial, Helvetica, sans-serif;
text-align:left
}

.select_language li a{
width:155px;
display:block;
font:10px/20px Arial, Helvetica, sans-serif;
text-align:left
}
.select_language li a span{float:left; width:82px;height:20px}

.select_language li a:hover{
background:#e7e7e7 url(/images/frontend/contact_arrow.jpg) no-repeat 70px;
}


.topframe{
margin:0px auto;
padding:0px;
position:absolute;
top:0px;
left:0px;
z-index:100;
width:100%;
height:30px;
background:#485963;
}
iframe{
width:980px;
height:50px;
margin:0px auto;
display:block;
overflow:hidden;
}
.subframe{
width:980px;
margin:0px auto;
height:30px;
background:#485963;
position:relative;
top:0px;
left:0px;
display:block;
font:12px Arial, Helvetica, sans-serif;
-webkit-box-shadow: rgba(6,0,0,.6) 0px 2px 12px;
-moz-box-shadow:  rgba(6,0,0,.6) 0px 2px 12px;
}
.subframe ul{
list-style-type:none;
margin:0px;
padding:0px;
}
.subframe li{
width:auto;
float:left;
margin:0px;
color:#fff;
padding:0px 20px 0px 20px;
}
.subframe li a{
font:12px/30px Arial, Helvetica, sans-serif;
color:#fff;
text-decoration:none;
}

/*-----------------------------------------Network Styles----------------------------------------*/

#network_landing_wrapper{
background:url(/images/frontend/network_bg.jpg) repeat-x;
}
#network-header{
	width:100%;
	height:507px;
	margin:0 auto;
	position:relative;
	background:url(/images/frontend/green_bg1.jpg) no-repeat center bottom;
	}
.network_content{
width:964px;
height:auto;
margin:-280px auto;
z-index:100;
position:relative;
background:#e4e4e4;
/*position:relative;
top:-295px;
left:0px;*/
}
.network_content1{
width:964px;
height:auto;
margin:0px auto;
background:#e4e4e4;
/*position:relative;
top:-295px;
left:0px;*/
}
.inner_newtwork{
width:964px;
height:auto;
overflow:hidden;
border-bottom:1px solid #ffffff;
}
.net_leftblock{
width:639px;
float:left;
background:#e4e4e4;
border-right:1px solid #ffffff;
}
.net_leftblock p{
width:600px;
margin:0px auto;
font:15px/18px Gotham;
color:#3e3e3e;
padding:20px 0px 16px 0px;
}

.net_leftblock p.landing{
width:580px;
margin:0px auto;
font:15px/16px Gotham;
color:#3e3e3e;
word-spacing:-2px;
padding:30px 0px 16px 0px;
}
.net_rightblock{
float:left;
width:316px;
height:90px;
}

.net_rightblock h3{
font:50px gotham;
color:#383838;
text-indent:30px;
margin:5px 0px 0px 0px;
padding:0px;
}
.net_rightblock h5{
font:20px gotham;
color:#383838;
text-indent:0px;
margin:-8px 10px 0px 0px;
padding:0px;
text-align:right;
}


.net_right_inner{
width:283px;
margin:0px auto;
}
.filter_name{
width:110px;
height:18px;
text-align:left;
float:left;
color:#828282;
font:11px/18px Arial, Helvetica, sans-serif;
text-transform:uppercase;
margin:10px 0px 0px 0px;
text-indent:15px;
}
.filter_select{
width:170px;
height:20px;
float:left;
color:#828282;
margin:10px 0px 0px 0px;
padding:0px;
overflow:hidden;
font:11px Arial, Helvetica, sans-serif;
border:none;
-moz-border-radius:0px!important;
-webkit-border-radius: 0px!important;
-khtml-border-radius: 0px!important;
border-radius: 0px!important;
}

/*.filter_select select{
background:url(/images/frontend/select_bg.jpg) repeat-x;
width:170px;
height:18px;
float:left;
color:#828282;
margin:10px 0px 0px 0px;
padding:0px;
font:11px Arial, Helvetica, sans-serif;
border:1px solid #acacac;
-moz-border-radius:0px!important;
-webkit-border-radius: 0px!important;
-khtml-border-radius: 0px!important;
border-radius: 0px!important;
}*/
.clearspace{
clear:both;
height:15px;
}
.inner_imgblock{
width:920px;
margin:0px auto;
}
.net_block1{
width:319px;
height:302px;
margin:0px 0px 0px 0px;
float:left;
border-right:1px solid #fff;
}
.net_block2{
height:380px;
width:319px;
margin:0px 0px 0px 0px;
float:left;
border-right:1px solid #fff;
}
.inner_net_block1, .inner_net_block2{
width:281px;
height:256px;
background:url(/images/frontend/net_white_bg.gif) repeat-x bottom #fff;
margin:24px auto;
}
.inner_net_block2{
background:#fff;
height:320px!important;
}
.inner_net_content{
width:255px;
margin:0px auto;
padding:0px;
}
.inner_img_top h4{
font:18px Gotham;
color:#465561;
margin:0px 0px 0px 0px;
padding:8px 0px 0px 0px;
text-align:left;
}
.inner_img_top p{
font:10px Arial, Helvetica, sans-serif;
color:#828282;
text-align:left;
margin:0px auto;
text-transform:uppercase;
}
.inner_img_top p.net_peraha{
font:12px/19px Arial, Helvetica, sans-serif;
color:#828282;
text-align:left;
margin:10px auto;
text-transform:none!important;
word-spacing:3px;
}


.inner_img_top p.see_btn a{
/*background:url(/images/frontend/see_btn.gif) no-repeat;*/
background:#9f9f9f url(/images/frontend/see_arrow.png) no-repeat right;
text-decoration:none;
font:14px/20px Arial, Helvetica, sans-serif;
color:#fff;
text-align:left;
margin:-3px 0px 0px 0px;
text-indent:5px;
float:left;
width:89px;
height:21px;
text-transform:capitalize;
}
.inner_img_top p.see_btn a:hover{
width:89px;
height:21px;
color:#585858
/*background:url(/images/frontend/see_btn.gif) no-repeat 0px -22px;*/
/*color:#646464;*/
}

.inner_img_top{
height:52px;
}
.inner_img_bottom{
height:36px;
}
.inner_img_bottom p.desg{
width:210px;
float:left;
font:10px/40px Arial, Helvetica, sans-serif;
color:#828282;
text-align:left;
margin:0px auto;
text-transform:uppercase;
}

.inner_img_bottom p.count{
width:40px;
float:left;
font:bold 11px/40px Arial, Helvetica, sans-serif;
color:#757575;
text-align:left;
margin:0px auto;
text-indent:18px;
background:url(/images/frontend/thumb.gif) no-repeat 0px 11px;
}
.network_pagination{
width:964px;
height:51px;
background:#fff;
}
.pagination_block{width:auto;margin:10px auto;float:right}
.pagination{ background:url(/images/frontend/page_line.jpg) no-repeat right; font:700 12px/32px Arial, Helvetica, sans-serif; color:#7f7f7f; margin-right:30px;}
.pagination ul{
list-style-type:none;
margin:0px;
padding:0px;
}
.pagination li{
width:auto;
margin:0px;
padding:0px 6px 0px 6px;
float:left;
background:url(/images/frontend/page_line.jpg) no-repeat right;
}
.pagination li a{
text-decoration:none;
color:#7f7f7f;
}

.pagination li a.current{
text-decoration:none;
color:#5f5f5f;
}


.network_comment{
width:312px;
/*height:76px;*/
height:auto;
padding-bottom:15px;
padding-right:7px;
color:#fff;
position:relative;
top:-210px;
left:17px;
z-index:100;
background:#74747c;
-moz-border-radius:10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
opacity:.70;
filter:alpha(opacity=70);
filter: “alpha(opacity=70)”;
}
.network_comment p{
font:18px/27px Gotham;
color:#fff;
padding:12px 0px 0px 15px;
}

























.net_signbtn{
background:url(/images/frontend/sign_btn.gif) no-repeat;
font:bold 16px/31px Arial, Helvetica, sans-serif;
color:#fff;
text-indent:8px;
position:relative;
top:-200px;
left:20px;
height:31px;
cursor:pointer;
width:82px;
}
.net_signbtn:hover{
text-decoration:none;
cursor:pointer;
}
.net_signbtn a{
text-decoration:none;
color:#FFFFFF;
}
.net_landing_wrapper{
width:964px;
height:auto;
margin:0px auto;
padding:0px 0px 20px 0px;
background:#FFFFFF;
overflow:hidden;
}
.net_block_wrapper{
width:310px;
height:auto;
float:left;
margin:10px 5px 0px 5px;
}
.net_block_wrapper h4{
font:17px Gotham;
color:#465561;
margin:0px auto;
padding:15px 0px 10px 0px;
width:300px;
}
.net_block_wrapper p{
color:#828282;
font:13px/19px Arial, Helvetica, sans-serif;
margin:7px auto;
padding:0px 0px 0px 5px;
width:280px;
float:left;
}

.net_block_wrapper p.btn a{
background:#9f9f9f url(/images/frontend/see_arrow.png) no-repeat right;
text-decoration:none;
font:14px/21px Arial, Helvetica, sans-serif;
color:#fff;
margin:0px 0px 0px 0px;
padding:0px;
text-indent:3px;
text-align:left;
float:left;
width:164px;
height:21px;
text-transform:capitalize;
}
/*.net_block_wrapper p.btn a{
width:159px;
height:21px;
text-decoration:none;
font:14px/20px Arial, Helvetica, sans-serif;
color:#fff;
}
.net_block_wrapper p.btn a:hover{color:#646464;}*/
.net_block_wrapper p.btn a:hover{
width:164px;
height:21px;
color:#585858;
/*color:#646464;*/
/*background:url(/images/frontend/reg_btn.gif) no-repeat 0px -22px;*/
}
.topspace{
height:20px;
clear:both;
}


/*-------------------------------------Languages Translation Content-----------------------------------------------*/

#lang_trans_wrapper, #create_wrapper, #tech_wrapper, #net_wrapper, #project_wrapper, #contact_wrapper{
width:100%;
height:auto;
background:url(/images/frontend/inner_trans_bg.jpg) repeat-x #f7f7f7;
}
#create_wrapper{
background:url(/images/frontend/inner_create_bg.jpg) repeat-x #f7f7f7;
}
#tech_wrapper{
background:url(/images/frontend/tech_learning_bg.jpg) repeat-x #f7f7f7;
}
#net_wrapper{
background:url(/images/frontend/net_featured_bg.jpg) repeat-x #f7f7f7;
}
#project_wrapper{
background:url(/images/frontend/pro_case_bg.jpg) repeat-x #f7f7f7;
}
#contact_wrapper{
background:url(/images/frontend/contactgray_bg.jpg) repeat-x #f7f7f7;
}
.contact-newbg{
background:url(/images/frontend/map.png) no-repeat 50% 72px;
margin:0px auto;
}
#trans-wrapper{
height:214px;
width:100%;
margin:0px auto;
position:relative;	z-index:100;
}

#trans-main{
height:214px;
width:964px;
margin:0px auto;
position:relative;	z-index:100;
}

.trans-header, .create-header, .tech-header, .net-header, .pro-case-header{
	width:100%;
	height:152px;
	margin:-12px auto;
	position:relative;
	top:-140px;
	background:url(/images/frontend/trans_header.jpg) no-repeat center bottom;
	}
	
.create-header{background:url(/images/frontend/work_header.jpg) no-repeat center bottom;}
.tech-header{background:url(/images/frontend/learn_header.jpg) no-repeat center bottom;}
.net-header{background:url(/images/frontend/featured_header.jpg) no-repeat center bottom;}
.pro-case-header{background:url(/images/frontend/pro_case_header.jpg) no-repeat center bottom;}
.trans_headding, .work_headding, .tech_headding{
width:964px;
height:65px;
}	
.trans_headding h4, .work_headding h4, .tech_headding h4, .net_headding h4, .pro_case_header h4, .contact_headding h4{
color:#fff;
text-align:left;
font:32px/65px Gotham;
text-indent:22px;
text-transform:uppercase
}
.trans_headding h4 span, .work_headding h4 span, .tech_headding h4 span, .net_headding h4 span, .pro_case_header h4 span, .contact_headding h4 span{
color:#63030f;
text-align:left;
font:32px/65px Gotham;
text-indent:22px;
}
.work_headding h4 span{
color:#03507d;
}
.tech_headding h4 span{
color:#4b7a25;
}
.net_headding h4 span{
color:#036361;
}
.pro_case_header h4 span{
color:#a64901;
}

.contact_headding h4 span{
color:#616161;
}

/* end */







#trance_midcontent{
width:936px;
height:auto;
margin:41px auto;
}
.content_tab{
width:555px;
height:32px;
}
.content_tab ul{
margin:0px;
padding:0px;
list-style-type:none;
width:555px;
}
.content_tab li{
margin:0px;
padding:0px;
height:32px;
width:auto;
float:left;
font:bold 12px Gotham;
}
.content_tab li a{
display:block;
text-align:left;
margin:0px;
height:32px;
padding:0px 12px 0px 12px;
font: bold 12px/32px Gotham;
color:#465561;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-transform:capitalize!important;
}
.content_tab li a:hover{
font:bold 12px/32px Gotham;
color:#465561;
text-decoration:none;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize!important;
}
.content_tab li a.selettab{
font:bold 12px/32px Gotham;
color:#aa0c22;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize!important;
}

.content_tab li a.selecttablast{
font:bold 12px/32px Gotham;
color:#aa0c22;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize!important;
}

.content_tab li:first-child a.selettab{
	border-left:0;
}



/* create color tab*/

.content_tab_create{
width:555px;
height:32px;
}
.content_tab_create ul{
margin:0px;
padding:0px;
list-style-type:none;
width:555px;
}
.content_tab_create li{
margin:0px;
padding:0px;
height:32px;
width:auto;
float:left;
font:bold 12px Gotham;
}
.content_tab_create li a{
display:block;
text-align:left;
margin:0px;
height:32px;
padding:0px 12px 0px 12px;
font: bold 12px/32px Gotham;
color:#465561;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-transform:capitalize;
}
.content_tab_create li a:hover{
font:bold 12px/32px Gotham;
color:#465561;
text-decoration:none;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}
.content_tab_create li a.selettab{
font:bold 12px/32px Gotham;
color:#207bb2;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}

.content_tab_create li a.selecttablast{
font:bold 12px/32px Gotham;
color:#207bb2;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}
.content_tab_create li:first-child a.selettab{
	border-left:0;
}

/* projects styles*/

.content_tab_project{
width:555px;
height:32px;
}
.content_tab_project ul{
margin:0px;
padding:0px;
list-style-type:none;
width:555px;
}
.content_tab_project li{
margin:0px;
padding:0px;
height:32px;
width:auto;
float:left;
font:bold 12px Gotham;
}
.content_tab_project li a{
display:block;
text-align:left;
margin:0px;
height:32px;
padding:0px 12px 0px 12px;
font: bold 12px/32px Gotham;
color:#465561;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-transform:capitalize;
}
.content_tab_project li a:hover{
font:bold 12px/32px Gotham;
color:#465561;
text-decoration:none;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}
.content_tab_project li a.selettab{
font:bold 12px/32px Gotham;
color:#d37436;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}

.content_tab_project li a.selecttablast{
font:bold 12px/32px Gotham;
color:#d37436;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}
.content_tab_project li:first-child a.selettab{
	border-left:0;
}






/* tab big */


.content_tabbig{
width:620px;
height:32px;
}
.content_tabbig ul{
margin:0px;
padding:0px;
list-style-type:none;
width:620px;
}
.content_tabbig li{
margin:0px;
padding:0px;
height:32px;
width:auto;
float:left;
font:bold 12px Gotham;
}
.content_tabbig li a{
display:block;
text-align:left;
margin:0px;
padding:0px 8px 0px 8px;
height:32px;
font: bold 12px/32px Gotham;
color:#465561;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-transform:capitalize;
}
.content_tabbig li a:hover{
font:bold 12px/32px Gotham;
color:#465561;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}
.content_tabbig li a.selettab{
font:bold 12px/32px Gotham;
color:#207bb2;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}

.content_tabbig li a.selecttablast{
font:bold 12px/32px Gotham;
color:#207bb2;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}

.content_tabbig li:first-child a.selettab{
	border-left:0;
}

/* tab big end */


/* tab big1 */


.content_tabbig1{
width:700px;
height:32px;
}
.content_tabbig1 ul{
margin:0px;
padding:0px;
list-style-type:none;
width:700px;
}
.content_tabbig1 li{
margin:0px;
padding:0px;
height:32px;
width:auto;
float:left;
font:bold 12px Gotham;
}
.content_tabbig1 li a{
display:block;
text-align:left;
margin:0px;
height:32px;
padding:0px 5px 0px 5px;
font: bold 12px/32px Gotham;
color:#465561;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-transform:capitalize;
}
.content_tabbig1 li a:hover{
font:bold 12px/32px Gotham;
color:#465561;
background:#ededed url(/images/frontend/trans_dot.jpg) repeat;
text-decoration:none;
border-bottom:1px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}
.content_tabbig1 li a.selettab{
font:bold 12px/32px Gotham;
color:#aa0c22;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
border-left:1px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}
.content_tabbig1 li:first-child a.selettab{
	border-left:0;
}

.content_tabbig1 li a.selecttablast{
font:bold 12px/32px Gotham;
color:#aa0c22;
background:#fff;
text-decoration:none;
border-bottom:0px solid #c9c9c9;
text-align:left!important;
text-transform:capitalize;
}

/* tab big1 end */

.tabdiv_new{
width:555px;
height:auto;
margin:0px;
padding:0px;
}
.tabdiv_new p{
color:#828282;
margin:10px 0px 0px 0px;
padding:0px;
font:14px/22px Arial, Helvetica, sans-serif;
text-align:left;
}
.inner_tabing{
padding:0px 0px 10px 0px;
margin:0px;
}
.tabnav_new li{
	display: inline;
	list-style: none;
	padding: 0px;
}


/*-----------------------------------------Projects Styles----------------------------------------*/

#project_landing_wrapper{
background:url(/images/frontend/org_bg.jpg) repeat-x;
}
#project-header{
	width:100%;
	height:507px;
	margin:0 auto;
	position:relative;
	background:url(/images/frontend/org_header.jpg) no-repeat center bottom;
	}
.pro_header_block{
width:964px;
height:379px;
margin:0px;
padding:0px;
}
.pro_left_block{
width:610px;
height:379px;
margin:0px;
padding:0px;
float:left;
}
.pro_right_block{
width:354px;
height:379px;
margin:0px;
padding:0px;
float:left;
}
.inner_pro_right{
width:287px;
height:auto;
margin:18px 0px 0px 25px;
}
.inner_pro_right h3{
font:30px gotham;
color:#465561;
margin:0px;
padding:0px;
}
.small_name{
font:10px Arial, Helvetica, sans-serif;
color:#828282;
margin:0px;
padding:0px;
text-transform:uppercase;
}
.inner_pro_right p{
font:13px/19px Arial, Helvetica, sans-serif!important;
color:#828282;
margin:20px 0px 0px 0px!important;
padding:0px;
}
.pro_btn{
width:135px;
height:21px;
float:left;
font:14px/20px Arial, Helvetica, sans-serif;
color:#FFFFFF!important;
text-indent:10px;
cursor:pointer;
text-decoration:none;
background:#9f9f9f url(/images/frontend/pro_arrow.png) no-repeat right;
/*background:url(/images/frontend/pro_btn.jpg) no-repeat;*/
}
.pro_btn:hover{
width:135px;
height:21px;
float:left;
font:14px/20px Arial, Helvetica, sans-serif;
color:#595959!important;
text-indent:10px;
text-decoration:none;
/*background:url(/images/frontend/pro_btn.jpg) no-repeat 0px -22px;*/
}
.pro_gallery{
width:964px;
height:95px;
background:#fff;
margin:0px;
padding:0px;
}
.client_blocks{
width:964px;
height:auto;
}
.inner_client{
width:964px;
height:auto;
border-top:1px solid #fff;
background:#fff
}
.client_block1{
width:320px;
height:140px;
float:left;
border-right:1px solid #fff;
}
.none_border{
border:none;
}
.white_block{
width:280px;
height:91px;
background:#fff;
margin:21px auto;
}
.white_block img{
margin:13px auto;
}

.case_left{
width:640px;
float:left;
border-right:1px solid #dedede;
}
.case_right{
width:320px;
float:right;
}
.inner_leftcase{
width:605px;
height:auto;
margin:22px 0px 0px 20px;
}
.details_block{
width:280px;
height:auto;
margin:22px auto;
}
.details_block h2{
font:bold 12px Gotham;
color:#465561;
}
.details_block p.client_name{
font:13px Arial, Helvetica, sans-serif;
color:#d16014;
margin:18px 0px 0px 0px;
}
.details_block p.client_desc{
font:13px/18px Arial, Helvetica, sans-serif;
color:#828282;
margin:0px 0px 0px 0px!important;
}
.inner_leftcase h3{
font:30px Gotham;
color:#465561;
margin:15px 0px 0px 0px;
}
.inner_leftcase p{
color:#828282;
font:14px/22px Arial, Helvetica, sans-serif;
margin:15px 0px 0px 0px;
}

ul.fblinks {
	width: 160px;
	list-style: none;
	float:left;
	margin: 0px auto; padding: 0;
	height:30px;
	overflow:hidden;
}
ul.fblinks li {
	float: left;
	margin: 0 1px 1px 0; padding: 0;
	text-align: center;
	display: inline;
	width:31px;
	height:44px /*--Gimp Fix aka IE6 Fix--*/
}
ul.fblinks li a.thumb1 {
	width: 31px;
	height: 22px;
	cursor: pointer;
	display:block;
/*	margin-top:21px;
	margin-left:21px;*/
	}
ul.fblinks li span { /*--Used to crop image--*/
	width: 31px;
	height: 22px;
	overflow: hidden;
	display: block;
}
/*ul.fblinks li a.thumb1:hover {
text-decoration:none;
}*/
.contact_textblock{
width:205px;
height:auto;
float:left;
color:#828282;
padding-right:10px;
font:14px/22px Arial, Helvetica, sans-serif;
}
.contact_textblock p.headding{
font:20px Gotham;
color:#465561;
margin:0px;
padding:0px 0px 5px 0px;
}
.contact_textblock p{
margin:0px;
padding:0px;
color:#828282;
font:14px/22px Arial, Helvetica, sans-serif
}
.contact_textblock p a{
color:#0079c2;
text-decoration:none;
}
.contact_video{
width:375px;
height:auto;
float:left;
}
ul.gallery {
	width: 964px;
	height:auto;	
	list-style: none;
	padding: 0;
	margin-left:1px;
}
ul.gallery li {
	float: left;
	margin: 0 1px 1px 0; padding: 0;
	text-align: center;
	display: inline;
	background:#e4e4e4;
	width:320px;
	height:140px /*--Gimp Fix aka IE6 Fix--*/
}
ul.gallery li a.thumb {
	width: 280px;
	height: 90px;
	cursor: pointer;
	margin-top:21px;
	margin-left:21px;
}
ul.gallery li span { /*--Used to crop image--*/
	width: 280px;
	height: 90px;
	overflow: hidden;
	display: block;
}
ul.gallery li a.thumb:hover {
	background: #333;
}

ul.gallery li a {text-decoration: none; color: #777; display: block;}

.new_video{float:right; margin:0px 0px 0px 15px; border:1px solid #e4e4e4;  #padding-left:20px;}


/*embed{
 float:right; padding:0px 6px 0px 6px; position:relative; left:15px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
embed{
 float:right; padding:4px 6px 3px 6px; position:relative; left:15px;
}
}*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.new_video{
 float:right;  position:relative; left:5px;
}
}