
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title Project Management
    = stylesheet_link_tag "style","vertical-menu","pagination","jquery-ui-1.8.2.custom",'tool-tip','popup_form'

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
    =  javascript_include_tag 'rails.js'
    = javascript_include_tag   'curvy.js','menu.js','jquery.tools.min.js' ,'jquery.fixedheadertable.min','demo.js','ddaccordion.js','swfobject.js','common/plugins/jquery-ui.js', 'autocomplete-rails.js'
    /[if IE 7] <link href="css/ie6.css" rel="stylesheet" type="text/css">

    :javascript

      $(document).ready(function($) {
       $('#accordion .sample').hide();

      $('#accordion .heading_block h3').click(function(){
      var present_id=$(this).attr("id");
      if(!$("."+present_id).is(':hidden')){
      //
      $('#accordion .heading_block h3').removeClass("active");
      $('#accordion div.sample').slideUp();
			
      }else{
      $('#accordion div.sample').slideUp();
      $('#accordion .heading_block h3').removeClass("active");
      $("."+present_id).slideDown();
      $(this).addClass("active");
				
				
      }
      return false;
      });
      

      $("#table_grid table tr").mouseover(function () {
          $(this).find(".add_view_1").show();
      }).mouseout(function () {
          $(this).find(".add_view_1").hide();
      });
      
      //select all the a tag with name equal to modal
      $('a[name=modal]').click(function (e) {
          //Cancel the link behavior
          e.preventDefault();
  
          //Get the A tag
          var id = $(this).attr('href');
  
          //Get the screen height and width
          var maskHeight = $(document).height();
          var maskWidth = $(window).width();
  
          //Set heigth and width to mask to fill up the whole screen
          $('#mask').css({
              'width': maskWidth,
              'height': maskHeight
          });
  
          //transition effect		
          $('#mask').fadeIn(1000);
          $('#mask').fadeTo("slow", 0.8);
  
          //Get the window height and width
          var winH = $(window).height();
          var winW = $(window).width();
  
          //Set the popup window to center
          $(id).css('top', winH / 2 - $(id).height() / 2);
          $(id).css('left', winW / 2 - $(id).width() / 2);
  
          //transition effect
          $(id).fadeIn(2000);
  
      });


      //select all the a tag with name equal to modal
      $('#popup').click(function (e) {
          //Cancel the link behavior
          e.preventDefault();
  
          //Get the A tag
          //var id = $(this).attr('href');
          $('#dialog_new_term_test').show();
          //Get the screen height and width
          var maskHeight = $(document).height();
          var maskWidth = $(window).width();
  
          //Set heigth and width to mask to fill up the whole screen
          $('#mask').css({
              'width': maskWidth,
              'height': maskHeight
          });
  
          //transition effect		
          $('#mask').fadeIn(1000);
          $('#mask').fadeTo("slow", 0.8);
  
          //Get the window height and width
          var winH = $(window).height();
          var winW = $(window).width();
  
          //Set the popup window to center
          $('#dialog_new_term_test').css('top', winH / 2 - $('#dialog_new_term_test').height() / 2);
          $('#dialog_new_term_test').css('left', winW / 2 - $('#dialog_new_term_test').width() / 2);
  
          //transition effect
          $('#dialog_new_term_test').fadeIn(2000);
  
      });
      
  
      //if close button is clicked
      $('.window .close').click(function (e) {
          //Cancel the link behavior
          e.preventDefault();
  
          $('#mask').fadeOut(200);
          $('.window').fadeOut(200);
      });


      	   
        });	


    :css


      
      .accordion_headings{
      	padding:5px;
      	background:#cecece url(/images/new_page/plus_expand.png) no-repeat center right;
      	color:#000;
      	border-top:1px solid #000;
      	cursor:pointer;
      	font-weight:bold;
      }
      
      .accordion_headings:hover{
      	background:#1a1a1a url(/images/new_page/plus_expand_hover.png) no-repeat center right;
      	color:#fff
      }
      
      .accordion_child{
      	padding:15px;
      	background:#EEE;
      }
      
      .active{
      	background:#1a1a1a url(/images/new_page/minus_contract.png) no-repeat center right;
      	color:#fff;
      	border-top:0;
      }
      .notactive{ background:none}
      #accordion { margin: 0; padding: 0; }
      #accordion dd { margin: 0 0 5px 0; padding: 0; }

  %body
    #maincontainer
      #topsection
        .innertube
          #menu
            %ul
              %li
                %a.calendar{:href => "#"}
                  %span{:style => "width:48px;height:41px;"}
                  %span Calendar
              - if params[:action] == 'glossary'
                %li.selected
                  %a.glossary{:href => "/client/glossary"}
                    %span{:style => "width:48px;height:41px;"}
                    %span Glossary
              - else
                %li
                  %a.glossary{:href => "/client/glossary"}
                    %span{:style => "width:48px;height:41px;"}
                    %span Glossary
              %li
                %a.document{:href => "#"}
                  %span{:style => "width:48px;height:41px;"}
                  %span Documents
              %li
                %a.images{:href => "#"}
                  %span{:style => "width:48px;height:41px;"}
                  %span Images
		  
              - if params[:controller] == 'schedule/admin'
                %li.last.selected
                  %a.admin{:href => "/contacts/users"}
                    %span{:style => "width:48px;height:41px;"}
                    %span Admin
              - else
                %li.last
                  %a.admin{:href => "/contacts/users"}
                    %span{:style => "width:48px;height:41px;"}
                    %span Admin



          #top-right-details
            .date_time
              %p 06/23/2011 02:24 AM
              %img.click{:src => "/images/new_page/top_links.jpg"}/
              %p
                %a.link_d{:href => "#"} Good Morning : Ahmed
            .avatar
              .red_alert
                %span 2
              %span.login_logout
                - if current_user 
                  %a{:href => "/sign_out"} Sign Out 
                - else
                  =# link_to t(:'account.Logout'), '/sign_out', :title=> "Click here to sign out"
          %br.clear_all/

      = yield
      .clear_all  
#footer_glossary
  %p &copy; 2011
  %ul
    %li
      %a{:href => "#"} Support
    %li
      %a{:href => "#"} Privacy
    %li
      %a{:href => "#"} Terms      
%iframe#mask{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "/blank_iframe.html", :style => "overflow:hidden;"}  
  
 
