
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}/
    %title Gigavine Admin
    = stylesheet_link_tag "style","vertical-menu"

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}

    = javascript_include_tag 'curvy.js','menu.js','jquery.tools.min.js' ,'jquery.fixedheadertable.min','demo.js','ddaccordion.js','swfobject.js'
    %script{:language => "javascript", :type => "text/javascript"}
      var settings = {
      tl: { radius: 4 },
      tr: { radius: 4 },
      bl: { radius: 4 },
      br: { radius: 4 },
      antiAlias: true
      };
      
      $$('.discount-content-block','.deal-location').each(function(rd) {
      curvyCorners(settings,rd);
      });
      
      var settings1 = {
      tl: { radius: 6 },
      tr: { radius: 0 },
      bl: { radius: 0 },
      br: { radius: 0 },
      antiAlias: true
      };
      
      $$('.add_view').each(function(rd) {
      curvyCorners(settings1,rd);
      });

    :javascript
      ddaccordion.init({
      	headerclass: "submenuheader", //Shared CSS class name of headers group
      	contentclass: "submenu", //Shared CSS class name of contents group
      	revealtype: "clickgo", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
      	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
      	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
      	defaultexpanded: [], //index of content(s) open by default [index1, index2, etc] [] denotes no content
      	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
      	animatedefault: false, //Should contents open by default be animated into view?
      	persiststate: true, //persist state of opened contents within browser session?
      	toggleclass: ["", "color_blue"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
      	togglehtml: ["suffix", "<img src='/images/new_page/plus.png' class='statusicon' />", "<img src='/images/new_page/minus.png' class='statusicon' />"], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
      	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
      	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
      		//do nothing
      	},
      	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
      		//do nothing
      	}
      })
      $(document).ready(function() {

      //Default Action
      $(".tab_content").hide(); //Hide all content
      $("ul.tabs li:first").addClass("active").show(); //Activate first tab
      $(".tab_content:first").show(); //Show first tab content

      //On Click Event
      $("ul.tabs li").click(function() {
      $("ul.tabs li").removeClass("active"); //Remove any "active" class
      $(this).addClass("active"); //Add "active" class to selected tab

      $(".tab_content").hide(); //Hide all tab content
      var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
      $(activeTab).fadeIn(); //Fade in the active content
      return false;
      });

       $('#basic-accordian .userdata').hide();
      
       $('#basic-accordian .accordion_headings a').click(function(){
               $('#basic-accordian .userdata').slideUp();
               $('#basic-accordian .accordion_headings a').removeClass("header_highlight");
               $(this).parent().next().slideDown();
               $(this).addClass("header_highlight");
               return false;
       });


      });

      window.onload = function displaytime()
      {
      datetoday = new Date();
      timenow=datetoday.getTime();
      datetoday.setTime(timenow);
      thehour = datetoday.getHours();
      if (thehour > 18) display = "Evening";
      else if (thehour >12) display = "Afternoon";
      else display = "Morning";
      var greeting = ("Good " + display + "!");

      if (datetoday.getHours() > 12)
      {
      curr_hour = datetoday.getHours() - 12
      }
      if (datetoday.getHours() > 12)
      {
      meridian = "PM"
      }
      else
      {
      meridian = "AM"
      }

      document.getElementById('dddd').innerHTML =  datetoday.getMonth() + '/' + datetoday.getDate() + '/' + datetoday.getFullYear() + '         '+ curr_hour + ':' + datetoday.getMinutes() + ' ' + meridian;
      document.getElementById('greet').innerHTML = greeting + ' : ';
      }



  %body{:onload => "new Accordian('basic-accordian',5,'header_highlight');"}
    #maincontainer
      #topsection
        .innertube
          #menu
            %ul
              %li.selected
                %a{:href => "#"}
                  %img{:alt => "contacts", :src => "/images/new_page/contacts.png"}/
                  %span Contacts
              %li
                %a{:href => "#"}
                  %img{:alt => "projects", :src => "/images/new_page/projects.png"}/
                  %span Projects
              %li
                %a{:href => "#"}
                  %img{:alt => "marketing", :src => "/images/new_page/marketing.png"}/
                  %span Marketing
              %li
                %a{:href => "#"}
                  %img{:alt => "sales", :src => "/images/new_page/sales.png"}/
                  %span Sales
              %li.last
                %a{:href => "#"}
                  %img{:alt => "finance", :src => "/images/new_page/finance.png"}/
                  %span Finance
          #top-right-details
            .date_time
              %p
                %span{:id => "dddd"} 
                #user_actions
                  %ul
                    %li
                      %a.member_ico{:href => "#"}
                    %li
                      %a.phone_ico{:href => "#"}
                    %li
                      %a.message_ico{:href => "#"}
                    %li
                      %a.log_ico{:href => "#"}
                %br.clear_all/
              %p
                %a.link_d{:href => "#"}
                %span{:id => "greet"} Good Morning
                %span #{truncate(current_user.contact.first_name, :length => 6)}
            .avatar
              =# image_tag current_user.avatar.url(:small)
              %span.login_logout
                - if current_user 
                  %a{:href => "/sign_out"} Log Out 
                - else
                  =# link_to t(:'account.Logout'), '/sign_out', :title=> "Click here to logout"
          %br.clear_all/

      = yield	  
#mask	  
  
 
