#contact_wrapper{:style=>"height:auto!important;"}
  .contact-newbg{:style=>"background:none;height:auto!important;"}
    #trans-wrapper
      #trans-main
        = render :partial => "/pages/partials/login_links"
    #lp_content{:style => "position:relative;background:#fff;"}
      #lp_midcontent2
        %h3
          Password has been changed successfully   

        .clear.both
          &nbsp;
  .topspace
