-if params[:section] == 'creative' or params[:section] == 'languages' or params[:section] == 'technology'
  #ticker.languages
    .text
      %h2 Languages
      %p
        %span DID YOU KNOW
        our experts Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .picture
      %img{:src => '/images/pages/language_ticker.jpg'}