#navigation-sub.languages
  %ul
    %li
      = link_to t(:'site.Translation'),  :section => 'languages', :page => 'translation'
      %span
        |
    %li
      = link_to t(:'site.Localization'), :section => 'languages', :page => 'localization'
      %span
        |
    %li
      = link_to t(:'site.Consltancy'),   :section => 'languages', :page => 'consultancy'
      %span
        |
    %li= link_to t(:'site.Online_tools'), :section => 'languages', :page => 'online_tools'
#ticker.languages
  .text
    %h2 Languages
    %p
      %span DID YOU KNOW
      our experts Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .picture
    %img{:src => '/images/pages/language_ticker.jpg'}/