#navigation-sub.languages
  %ul
    %li= link_to t(:'site.Translation'),  :section => 'languages', :page => 'translation'
    %li
      |
    %li= link_to t(:'site.Localization'), :section => 'languages', :page => 'localization'
    %li
      |
    %li= link_to t(:'site.Consltancy'),   :section => 'languages', :page => 'consultancy'
    %li
      |
    %li= link_to t(:'site.Online_tools'), :section => 'languages', :page => 'online_tools'
#ticker
  %h2 Languages
  %p Did you know that our experts Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.