#navigation-sub
  %ul.languages
    %li
      = link_to t(:'site.Translation'),  :section => 'languages', :page => 'translation'
      %span
        |
    %li
      = link_to t(:'site.Localisation'), :section => 'languages', :page => 'localisation'
      %span
        |
    %li
      = link_to t(:'site.Consultancy'),   :section => 'languages', :page => 'consultancy'
      %span
        |
    %li= link_to t(:'site.Online_tools'), :section => 'languages', :page => 'online_tools'