
%br
%br
%br

%h4 Company
%div
  %p
    %strong In today’s interdependent and highly connected world, the local is continually interacting with the global. At Gigavine we use this dynamic to produce highly effective forms of contemporary communication.
  %p We are the product of a rich variety of traditions and do not define ourselves by a particular language or culture. This allows us to work successfully across many different regions of the world.
  %p Our portfolio of completed work includes small local projects, as well as global multi-lingual and marketing campaigns, interactive games and education and information materials. We provide services to both private and public organisations, and our clients include law firms, museums, media agencies, educational bodies, financial institutions, government bodies, insurance companies, pharmaceutical manufacturers and telecoms suppliers.
  %p But it is the diversity of our people that sets us apart. This is the heart of our success and gives us a fundamental advantage over our competitors.