:javascript
  jQuery.noConflict(); 
  Cufon.replace('.sf-navbar li.current', {color: '#0069a9'});
  Cufon.replace('.sf-navbar li.sub_nav', {color: '#fff'});


#laniding-main-wrapper
  / Header
  #landing-header
    .create_headder
      = render :partial => "/pages/partials/login_links"
      .create_headding
        %h4 CREATIVE
      .create_mainblock
        %img{:alt => "", :src => "/images/frontend/blue-img1.gif", :title => ""}
          .top_comment
            %p Our experts can translate into and out of more than 150 languages across a wide range of different specialist subject areas.
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #lp_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li.current
              %a{:href => "#"} Artwork
            %li
              %a{:href => "#"} Webdesign
            %li
              %a{:href => "#"} Copywriting
            %li
              %a{:href => "#"} Interactive
        / submit block start
        #lp_submit
          %h4 Submit a brief
          .lpsub_inner
            .lpsub_leftcorner
              %span
            .lpsub_bg
              .lpsub_bg_inner
                %p
                  %span Name
                  %input{:type => "text"}/
                %p
                  %span Email
                  %input{:type => "text"}/
                %p
                  %span File
                  %input{:type => "text"}/
            .lpsub_rightcorner
              %span
        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        %p.headding_text You have messages, products and services you need to promote and position, and an audience you want to communicate with. We have the ideas and the skills to make it happen.
        %p Creativity means using original concepts and compelling designs to bring your offer alive, so your audience welcomes the message, remembers it and acts on it. This is how we establish a connection and begin communicating.
        %p
          It doesn’t matter what the medium is, the idea is primary. And the value of the idea comes from gaining a thorough understanding of your brand, your products and services, your market and your audience – only then can we create something which will be powerful and effective. That is why we use a thorough strategic planning process which involves auditing and defining your identity and brand attributes.
        %p.headding_text Branding runs through everything we do.
        %p Every kind of creative work we do for our clients involves branding. This is because a brand is more than a logo or even a set of colours. Your brand is the sum of what you mean to your customers, your values, your products, your voice, your message and your attitude. It is not something you simply adopt, but emerges from what you are.
        %p
          %i Your brand is what you stand for.
        %p
          We work with you to define and develop that brand, create guidelines and act as the brand guardian
      / right block end
  / content block end
  .clear  
  / footer block start
  / footer block end