
#create_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .work_headding
        %h4
          %span CREATIVE /
          Web design
    .create-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li
              %a{:href => "/creative/artwork"} Artwork	
            %li
              %a{:href => "/creative/advertising"} Advertising											
            %li
              %a.current{:href => "#"} Web Design

            %li
              %a{:href => "/creative/interactive"} Interactive
        / submit block start
        #lp_submit
          %h4 Submit a brief
          .lpsub_inner
            .lpsub_leftcorner
              %span
            .lpsub_bg
              .lpsub_bg_inner
                %p
                  %span Name
                  %input{:type => "text"}/
                %p
                  %span Email
                  %input{:type => "text"}/
                %p{:style=>"width:200px;"}
                  %span File
                  #FileUpload1
                    %input#BrowserHidden1{:onChange => "document.getElementById('FileField1').value = document.getElementById('BrowserHidden1').value;", :size => "4", :type => "file"}
                      #BrowserVisible1
                        %input#FileField1{:type => "text", :size => "17"}																		
                %p.form_btn{ :style=>"float:right; position:relative; top:-80px; right:12px;"}
                  %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => "Submit"}/
            .lpsub_rightcorner
              %span


        / submit block end
      / left block end
      / right block start
      .lp_rightblock

        %p.headding_text{:style=>"margin-top:0px;"}
          - if !get_languages('creative_webdesign_page','title').blank?
            = raw(get_languages('creative_webdesign_page','title'))
          - else
            We have all been on websites that are confusing to navigate, hard to read, or which fail to give us the information we're looking for - not to mention sites which look as though they were designed to be cold and unappealing. 

        %p 
          - if !get_help('creative_webdesign_page','image').blank?
            = image_tag(get_help('creative_webdesign_page','image'),:height => "178", :hspace => "5",:vspace => "5", :align =>"right" ,:width => "303", :style=>"padding:5px; float:right;")
          - else										
            %img{:height => "178", :hspace => "5", :src => "/images/frontend/glode-webdesign.jpg", :vspace => "5", :align =>"right" ,:width => "303", :style=>"padding:5px; float:right;"}/
          - if !get_languages('creative_webdesign_page','summary').blank?
            = raw(get_languages('creative_webdesign_page','summary'))
          - else	
            The problem is, it's extremely easy to put users off. If they get frustrated they can find another website with a couple of clicks. Everyone on the internet knows they could be on a million other websites, so patience wears thin very quickly. 
            %br
            At Gigavine we design websites to be used. Users shouldn't have to think as they navigate their way through a site. The process should be effortless, and to achieve that we factor in usability throughout the design and development. Navigation should be simple and anticipate user's needs; and page layouts should be clearly organised so different kinds of content are easy to find and understand.
            %p
              But ease of use is only one aspect of a successful website. Search engine optimisation is also vital. We apply a range of SEO techniques to all our sites, including keyworded content, error-free code, and appropriate link and navigation naming conventions. 
            %p
              Great web design needs to do all the above while creating pages and content that are visually welcoming and which exploit the dynamic and interactive functionality that the internet offers. And that's what we offer.
            %p
              So if you need e-commerce, we can build it for you. If we want to develop a customer database and build customer loyalty through it, we'll do it for you. And on top of that we can create a variety of interactive content, including online games, motion graphics and podcasts.
            %p
              We are not just another web design agency. We are as passionate about the success of our client's brands online as they are. 
        .topspace  
      / right block end
  / content block end
  .topspace  
  / footer block start

  / footer block end