:javascript
  jQuery.noConflict();
  jQuery(document).ready(function(){ 
  	jQuery(".div_li_tab").click(function () {
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
    exist_one = jQuery(".selettab").attr("id");
    jQuery("#"+exist_one).removeClass("selettab");
    jQuery(this).find("a").addClass("selettab");
  		document.getElementById("tab"+tab_id).style.display='block';
				
  		//jQuery("#tab"+tab_id).show("slow");
  	});

  	jQuery("#2").click(function () {
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
  		document.getElementById("tab"+tab_id).style.display='block';
  		//jQuery("#tab"+tab_id).show("slow");
  	});
   
  });

#lang_trans_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .trans_headding
        %h4
          %span LANGUAGES /
          Consultancy
    .trans-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li
              %a{:href => "/languages/translation"} Translation												
            %li
              %a{:href => "/languages/localisation"} Localisation
            %li
              %a.current{:href => "#"} Cultural consultancy
            %li
              %a{:href => "/languages/online-tools"} Online tools
        / submit block start
        #language_get
          %h4 Get an estimate
          .get_inner
            .get_leftcorner
              %span
            .get_bg
              .get_bg_inner
                %p
                  %span Source language
                  %select
                    %option Select
                .clear{:style => "#height:20px;"}
                %p
                  %span Target language
                  %select
                    %option Select
                .clear{:style => "#height:20px;"}
                %div
                  %p.count
                    %span.getname Word count
                    %input{:type => "text" , :style=>"margin:-10px 0px 0px 0px; padding:0px;"}
                  %p.count1
                    %span.getname or
                  %p.count{:style => "float:right!important;"}
                    %span.getname Page count
                    %input{:type => "text" , :style=>"margin:-10px 0px 0px 0px; padding:0px;"}
                %p{:style => "#height:20px; margin:15px 0px 0px 0px; #margin:34px 0px 0px 0px;"}
                  %span
                %p{:style => "height:auto!important;  margin:0px; padding:0px;"}
                  %span Requirements
                %p.checkbox_block
                  .checkbox
                    %input{:type => "checkbox"} 
                    %span Translation
                  .checkbox{:style => "width:80px;"}
                    %input{:type => "checkbox"}
                    %span Design
                  .checkbox
                    %input{:type => "checkbox"}
                    %span Localisation
                %p.estimate
                  %span Estimate
                %div
                  .count_number $0,00
                  .count_btn calculate
            .get_rightcorner
              %span
        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        - if !get_languages('language_consultancy_page','summary').blank?
          = raw(get_languages('language_consultancy_page','summary'))
        - else						
          %p{:style=>"margin-top:0px; margin-bottom:10px;"} If you&#39;re developing materials for a foreign market it&#39;s crucial you test them to ensure they&#39;re appropriate for the culture you&#39;re entering. We can provide detailed feedback and recommendations from a local cultural and creative perspective. We&#39;ll advise on the appropriateness of the text and imagery from a political, social, ethnic or gender specific point of view, and highlight any issues that arise. 
          %p{:style=>"margin-top:10px;"}
            %b Our services include:
          .local_nav
            %ul{:style=>"margin-top:-10px;"}
              %li
                Concept testing &#45; providing structured feedback on product names, slogans and straplines
              %li
                Language technology &#45; helping you choose which specific technology, such as author memory or machine translation, is the right option for you
              %li
                Language specifics &#45; giving expert input on regional variations, such as the differences between European and South American Spanish, and different writing systems, supported by a multilingual font library
        %p.headding_textnew{:style=>"margin-top:18px!important;"}
          - if !get_languages('language_consultancy_page','title').blank?
            = raw(get_languages('language_consultancy_page','title'))
          - else
            Reducing the risk of global product launches
        - if !get_languages('language_consultancy_page','summary2').blank?
          = raw(get_languages('language_consultancy_page','summary2'))
        - else
								
          %p{:style=>"margin-top:10px;"} Our cultural assessment service involves evaluating your product before launch to identify any barriers to its success. Our assessments are extremely thorough and comprise several different and complementary elements:
          .local_nav
            %ul{:style=>"margin-top:-10px;"}
              %li
                Analysis of the product from the cultural point of view to uncover historical, social or commercial conflicts
              %li
                In-country focus groups
              %li
                Brand polling to measure the suitability of your brand/product in the target market
              %li
                Brand perception testing to identify unwanted associations that your imagery, colours, etc, may have
          %p We would always recommend undertaking a cultural assessment before you begin a product launch. 

        .clear  
      / right block end
  / content block end
  .topspace  
  / footer block start

  / footer block end