:javascript
  jQuery.noConflict();
  jQuery(document).ready(function(){ 
  	jQuery(".div_li_tab").click(function () {
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
    exist_one = jQuery(".selettab").attr("id");
    jQuery("#"+exist_one).removeClass("selettab");
    jQuery(this).find("a").addClass("selettab");
  		document.getElementById("tab"+tab_id).style.display='block';
				
  		//jQuery("#tab"+tab_id).show("slow");
  	});

  	jQuery("#2").click(function () {
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
  		document.getElementById("tab"+tab_id).style.display='block';
  		//jQuery("#tab"+tab_id).show("slow");
  	});
   
  });

#lang_trans_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .trans_headding
        %h4
          %span LANGUAGES /
          Online Tools
    .trans-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li
              %a{:href => "/languages/translation"} Translation												
            %li
              %a{:href => "/languages/localisation"} Localisation
            %li
              %a{:href => "/languages/consultancy"} Cultural consultancy
            %li
              %a.current{:href => "#"} Online tools
        / submit block start
        #language_get
          %h4 Get an estimate
          .get_inner
            .get_leftcorner
              %span
            .get_bg
              .get_bg_inner
                %p
                  %span Source language
                  %select
                    %option Select
                .clear{:style => "#height:20px;"}
                %p
                  %span Target language
                  %select
                    %option Select
                .clear{:style => "#height:20px;"}
                %div
                  %p.count
                    %span.getname Word count
                    %input{:type => "text" , :style=>"margin:-10px 0px 0px 0px; padding:0px;"}
                  %p.count1
                    %span.getname or
                  %p.count{:style => "float:right!important;"}
                    %span.getname Page count
                    %input{:type => "text" , :style=>"margin:-10px 0px 0px 0px; padding:0px;"}
                %p{:style => "#height:20px; margin:15px 0px 0px 0px; #margin:34px 0px 0px 0px;"}
                  %span
                %p{:style => "height:auto!important;  margin:0px; padding:0px;"}
                  %span Requirements
                %p.checkbox_block
                  .checkbox
                    %input{:type => "checkbox"} 
                    %span.trans_space Translation
                  .checkbox{:style => "width:80px;"}
                    %input{:type => "checkbox"}
                    %span.trans_space Design
                  .checkbox
                    %input{:type => "checkbox"}
                    %span.trans_space Localisation
                %p.estimate
                  %span Estimate
                %div
                  .count_number $0,00
                  .count_btn calculate
            .get_rightcorner
              %span
        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        %p{:style=>"margin-top:0px; margin-bottom:10px;"} Inconsistent terminology is a very significant cost factor in globalisation projects. Gigavine offers the tools to eliminate these costs and build a reliable and consistent internal processes. 
	  
        %p.headding_textnew Glossary creation 
        %p{:style=>"margin-top:10px; margin-bottom:0px;"} When large numbers of documents are circulating in multinational companies, accurate and consistent terminology which all parties understand is essential for effective and efficient communication. Without this consistency damaging and costly misunderstandings can easily occur &#45; within the company and, even worse, when dealing with clients. 
        %p{:style=>"margin-bottom:10px;"} Gigavine&#39;s custom-made glossaries save time and reduce risks, so that when different staff work on projects they are brought into line with consistent corporate standards.

        %p.headding_textnew Terminology management
        %p{:style=>"margin-top:10px;"} Our terminology management process takes things a step further than glossaries. It is the process of capturing your internal jargon and formalising it, and then creating systems to store, distribute and update it. This can include:
        .local_nav
          %ul{:style=>"margin-top:-10px;"}
            %li
              Reviewing existing glossaries, style guides, etc, to establish the core terminology
            %li
              Building a process to catalogue and distribute terminology to all employees who need to use it
            %li
              Creating a single accepted translation for each term in each target language
            %li
              Giving access to the approved term base to internal authors, marketing communicators and external consultants
            %li
              Integrating terminology management with the translation process, so translators are alerted to the correct term as they work
        %p Our consultants and terminology architects will establish a reliable process to eliminate confusion and inconsistencies and dramatically reduce the costs of localisation.

	
        .clear  
      / right block end
  / content block end
  .topspace  
  / footer block start

  / footer block end