:javascript
  jQuery.noConflict();
  jQuery(document).ready(function(){ 
  	jQuery(".div_li_tab").click(function () {
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
    exist_one = jQuery(".selettab").attr("id");
    jQuery("#"+exist_one).removeClass("selettab");
    jQuery(this).find("a").addClass("selettab");
  		document.getElementById("tab"+tab_id).style.display='block';
				
  		//jQuery("#tab"+tab_id).show("slow");
  	});

  	jQuery("#2").click(function () {
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
  		document.getElementById("tab"+tab_id).style.display='block';
  		//jQuery("#tab"+tab_id).show("slow");
  	});
   
  });

#lang_trans_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .trans_headding
        %h4
          %span LANGUAGES /
          Localisation
    .trans-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li
              %a{:href => "/languages/translation"} Translation												
            %li
              %a.current{:href => "#"} Localisation
            %li
              %a{:href => "/languages/consultancy"} Cultural consultancy
            %li
              %a{:href => "/languages/online-tools"} Online tools
        / submit block start
        #language_get
          %h4 Get an estimate
          .get_inner
            .get_leftcorner
              %span
            .get_bg
              .get_bg_inner
                %p
                  %span Source language
                  %select
                    %option Select
                .clear{:style => "#height:20px;"}
                %p
                  %span Target language
                  %select
                    %option Select
                .clear{:style => "#height:20px;"}
                %div
                  %p.count
                    %span.getname Word count
                    %input{:type => "text" , :style=>"margin:-10px 0px 0px 0px; padding:0px;"}
                  %p.count1
                    %span.getname or
                  %p.count{:style => "float:right!important;"}
                    %span.getname Page count
                    %input{:type => "text" , :style=>"margin:-10px 0px 0px 0px; padding:0px;"}
                %p{:style => "#height:20px; margin:15px 0px 0px 0px; #margin:34px 0px 0px 0px;"}
                  %span
                %p{:style => "height:auto!important;  margin:0px; padding:0px;"}
                  %span Requirements
                %p.checkbox_block
                  .checkbox
                    %input{:type => "checkbox"} 
                    %span Translation
                  .checkbox{:style => "width:80px;"}
                    %input{:type => "checkbox"}
                    %span Design
                  .checkbox
                    %input{:type => "checkbox"}
                    %span Localisation
                %p.estimate
                  %span Estimate
                %div
                  .count_number $0,00
                  .count_btn calculate
            .get_rightcorner
              %span
        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        %p.headding_text Bringing a product, service or message into a new region involves more than simply verbal translation. It requires cultural and local adaptation. For example, the key messages may need to adjust to conditions in the local market or to religious sensitivities. The positioning of graphics or the choice of images may need to change so they feel truly local, and not a foreign import. 
        %p All these things affect how an audience views your product or service, and their willingness to buy it.
        %p{:style=>"margin-bottom:10px;"} To do localisation well requires local native-speaking experts in the relevant field and a thorough and well tested methodology. Gigavine offers both.
        %p{:style=>"margin-top:10px;"}
          %b We take each project through a defined production process:
        .local_nav
          %ul{:style=>"margin-top:-10px;"}
            %li Before work begins we capture goals, deliverables, schedule, budget details, etc, through an analytical project approach.
            %li During production we provide regularly updated project information through our web portal.
            %li After delivery we measure and analyse actual performance against the initial goals and quality standards.
        %p This gives us a reliable and repeatable process for adapting products, services or messages so they succeed within a new culture. 

        .inner_tabing
          .content_tabbig1
            %ul
              %li.div_li_tab
                %a#1.selettab{:href => "javascript://"} Products&nbsp;and&nbsp;documentation
              %li.div_li_tab
                %a#2{:href => "javascript://"} Websites
              %li.div_li_tab
                %a#3{:href => "javascript://"} Software
              %li.div_li_tab
                %a#4{:href => "javascript://"} Mobile&nbsp;interfaces
              %li.div_li_tab
                %a#5{:href => "javascript://"} Subtitling&nbsp;and&nbsp;dubbing
          %div
            #tab1.tabdiv_new
              %p We can adapt both packaging and product features for the diverse expectations and needs of different groups of customers. This enhances initial uptake and subsequent customer loyalty and reduces demand on customer support. 
              .clear  
              %p
                By using a repeatable methodology and globalised information technology, we can speed up this process and thus time to market.
              .clear  
              %p
                We use our own platform, Gigaworx, to automate and tightly manage the work processes. Gigaworx includes a portal for tracking, a project workspace with tools allowing collaboration, and reporting capabilities. It also includes our Megasource language management tools, which store &#145;translation memories&#146; and glossaries so they can be instantly accessed by many different translators working on different projects. Megasource allows us to retain, reuse and build upon our knowledge.
 
            #tab2.tabdiv_new{:style => "display:none"}
              %p It is no longer a question of whether to globalise your website, but how best to localise it. If you are to speak directly to potential customers in your target countries, you must give them an experience that makes sense to them and recognises their culture, not one that alienates them.
              .clear  
              %p
                Correctly applied, the process of translation and localisation takes into account culture, politics, taste, norms, religious sensitivities and aesthetic style. The statements and messages are adapted, not just translated. Graphics, images, page design and navigation can all be altered to fit the local culture&#39;s requirements and norms. 
              .clear  
              %p
                %b Gigavine carries out website localisation in a structured way, using:
              .local_nav
                %ul
                  %li
                    Style guide creation for consistency
                  %li
                    &#145;Translation memory&#146; management
                  %li
                    A range of web technologies to localise graphics
                  %li
                    Our web platform to manage workloads
              .clear  
              %p
                This process will dramatically enhance the ease with which customers access your site. 

            #tab3.tabdiv_new{:style => "display:none"}
              %p Software localisation means adapting the product to the linguistic, cultural and also technical needs of the target market. When it&#39;s done well the software will feel as though it was originally designed for that market.
              .clear  
              %p
                This can be a complex task that involves such aspects as units, number formats, fonts, character sets, copyright issues, payment methods, currency conversion, and so on. 
              .clear  
              %p
                %b At Gigavine we offer the full range of capabilities required, including:
              .local_nav
                %ul
                  %li
                    Localisation engineering, including replicating the build environment
                  %li
                    Creation and maintenance of terminology glossaries
                  %li
                    Translation of all user interface elements and assistance components
                  %li
                    Localisation of graphics and other media containing visible text
                  %li
                    Software testing and linguistic and functional quality assurance
              .clear  
              %p
                We carefully control and co-ordinate the diverse workflows and teams involved in the software localisation process, using flexible but systematic best practices to optimise workloads and give our clients best value, fastest time to market and maximum consistency of the final product. 

            #tab4.tabdiv_new{:style => "display:none"}
              %p Global markets for mobile devices are experiencing hyper&#150;growth as operators tap into developing markets such as China and India. The relative ease of building wireless networks is making mobile service available where landline communications are limited. For businesses making mobiles, and services for mobiles, this creates exciting growth opportunities &#150; and significant challenges. 
              .clear  
              %p
                The language diversity in many new markets (and there are more than 15 languages, each spoken by more than 25 million people, in India alone) presents daunting localisation challenges. And with intense pricing pressures and razor&#150;thin margins, businesses must carefully manage costs.  
              .clear  
              %p
                %b To succeed in these markets mobile devices, their interfaces and applications must be tailored to the language and culture of the target region. At Gigavine we offer a range of services to achieve this:
              .local_nav
                %ul
                  %li
                    Product localisation services to ensure hardware and embedded applications are compatible with existing infrastructures and to ensure a consistent experience across all languages
                  %li
                    Localisation testing services within local networks
                  %li
                    Translation services for the full range of user resources, including device interface, applications, support websites, print documentation
              .clear  
              %p
                We can scale up our services to support product launches in multiple global markets simultaneously. 

            #tab5.tabdiv_new{:style => "display:none"}
              %p We offer voiceover, subtitling and dubbing for international TV, radio, DVD, cinema and new media using state of the art technology. 
              .clear  
              %p
                We use a range of multilingual voice talents, from general mother tongue speakers to trained voice actors, and we&#39;ll help you find the right voices, impressionists, sound effects and music for your project. We will retain the qualities of the original by choosing the right voice artists to match the original speaker in tone and vigour. 
              .clear  
              %p
                We are also experts at adapting source language scripts to different languages, including synchronisation with on-screen video, text or animation. 
              .clear  
              %p
                Finally we&#39;ll integrate the result into the medium you choose. 

        .topspace  
      / right block end
  / content block end
  .topspace  
  / footer block start

  / footer block end