:javascript
  jQuery.noConflict();
  jQuery(document).ready(function(){ 
  	jQuery(".div_li_tab").click(function () {
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
    exist_one = jQuery(".selettab").attr("id");
    jQuery("#"+exist_one).removeClass("selettab");
    jQuery(this).find("a").addClass("selettab");
  		document.getElementById("tab"+tab_id).style.display='block';
				
  		//jQuery("#tab"+tab_id).show("slow");
  	});

  	jQuery("#2").click(function () {
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
  		document.getElementById("tab"+tab_id).style.display='block';
  		//jQuery("#tab"+tab_id).show("slow");
  	});
   
  });

#lang_trans_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .trans_headding
        %h4
          %span LANGUAGES /
          Copywriting
    .trans-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li
              %a.current{:href => "#"} Copywriting
            %li
              %a{:href => "/languages/translation"} Translation												
            %li
              %a{:href => "/languages/localisation"} Localisation
            %li
              %a{:href => "/languages/consultancy"} Cultural Consultancy

        / submit block start
        #language_get
          %h4 Get an estimate
          .get_inner
            .get_leftcorner
              %span
            .get_bg
              .get_bg_inner
                %p
                  %span Source language
                  %select
                    %option Select
                .clear{:style => "#height:20px;"}
                %p
                  %span Target language
                  %select
                    %option Select
                .clear{:style => "#height:20px;"}
                %div
                  %p.count
                    %span.getname Word count
                    %input{:type => "text" , :style=>"margin:-10px 0px 0px 0px; padding:0px;"}
                  %p.count1
                    %span.getname or
                  %p.count{:style => "float:right!important;"}
                    %span.getname Page count
                    %input{:type => "text" , :style=>"margin:-10px 0px 0px 0px; padding:0px;"}
                %p{:style => "#height:20px; margin:15px 0px 0px 0px; #margin:34px 0px 0px 0px;"}
                  %span
                %p{:style => "height:auto!important;  margin:0px; padding:0px;"}
                  %span Requirements
                %p.checkbox_block
                  .checkbox
                    %input{:type => "checkbox"} 
                    %span Translation
                  .checkbox{:style => "width:80px;"}
                    %input{:type => "checkbox"}
                    %span Design
                  .checkbox
                    %input{:type => "checkbox"}
                    %span Localisation
                %p.estimate
                  %span Estimate
                %div
                  .count_number $0,00
                  .count_btn calculate
            .get_rightcorner
              %span
        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        - if !get_languages('languages_copywriting_page','summary').blank?
          = raw(get_languages('languages_copywriting_page','summary'))
        - else
          %p{:style=>"margin-top:0px;"}
            You know what you want to say but you don't know exactly how to put it. Or you've written something but you need advice and input on how it could be improved. 
          %p
            Either way, using a professional copywriting service means you know you're communicating your offer in a memorable and persuasive way. 
          %p
            After all, what's the point of building a great business if you can't persuade people to use it?
          %p{:style=>"margin-bottom:10px;"}
            It's too easy to slip into clich&#275;s, go on far too long or use confusing jargon. Your text needs to be fresh and original, concise and hard hitting, and above all it needs to establish a relationship, to engage and communicate. 
        %p.headding_textnew{:style=>"margin-top:18px!important;"}
          - if !get_languages('languages_copywriting_page','title').blank?
            = get_languages('languages_copywriting_page','title')
          - else
            Our copywriting and editing services
        - if !get_languages('languages_copywriting_page','summary2').blank?
          = raw(get_languages('languages_copywriting_page','summary2'))
        - else
          %p{:style=>"margin-top:10px;"}
            Copywriting at Gigavine comes in different sizes and shapes. 
          .local_nav
            %ul{:style=>"margin-top:-10px;"}
              %li
                Give us a brief and we can write what you need from scratch
              %li
                Give us a set of notes and we'll turn them into working copy
              %li
                Give us what you've written and we can edit any way you want - shorten it, expand upon it, sharpen it, relax it 
              %li
                Give us what you've written and we can edit any way you want - shorten it, expand upon it, sharpen it, relax it
          %p{:style=>"margin-top:10px;"}
            Furthermore, our copywriting services include long and short copy, conceptual work or explanatory or descriptive text. We can:  
          .local_nav
            %ul{:style=>"margin-top:-10px;"}
              %li
                Generate headline concepts for adverts, home pages, leaflets or direct mail 
              %li
                Craft long copy for customer emails and letters, articles, blog posts, brochures, newsletters, annual reports or direct mail marketing
              %li
                Write radio ads or packaging copy 
              %li
                Rewrite a piece of technical information so it becomes accessible to a wide audience  

          %p
            If you want to communicate your services or ideas powerfully and persuasively, ask us about our copywriting services. 
 
        .clear  
      / right block end
  / content block end
  .topspace  
  / footer block start

  / footer block end