#ticker.languages
  .text
    %h2 Languages
    %p
      %span DID YOU KNOW
      our experts Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .picture
    %img{:src => '/images/pages/language_ticker.jpg'}

%div
  %h3 Languages
  %div
    %p 
      %strong It’s not just speaking the language, it’s about understanding the culture. We offer expert translation and localisation services to businesses straddling cultural and linguistic divides, helping them to communicate effectively amid the challenges of the global economy.
    %p True translation means bringing meaning alive in a new and different context for an audience with different cultural bearings. It is as much about adapting a message’s references, as it is about translating the words.
    %p This process is an enormous challenge for businesses operating in more than one region. Translation on its own is not enough; understanding of the social, political, religious and business context is also required. Add to that the potential complexities of technical terminology and the use of different technologies and interfaces, and you have a formidable problem to solve – one which requires expert assistance.
    %p At Gigavine we live and work in this world of complex differences and crossovers. We know the challenges of managing the process of translation and adaption, and we know how to meet those challenges: we have the processes, the people and the experience to do it.

%br.clear
.box.small-equalized.green
  %h4 Medical
  %div
    %p Medical and pharmaceutical texts require translation by skilled experts in the field, as it is essential they are accurate and easily understood by a native speaker. That’s why at Gigavine we insist on using qualified doctors and pharmacists for this kind of work.

= render :partial => 'form'

#contact.box
  %h4 Contact us at Gigavine
  %p Please get in contact with us and we’ll see how we can assist.
  %p
    Call us on 020 3167 4370 or use our 
    %a{:href => '/contact'} contact form