:css
  @media screen and (-webkit-min-device-pixel-ratio:0) {
  #footer {
  position: relative; top: 280px;
  }
  }  
  #footer {
  #position: relative; #top: 280px;
  }

%script{:src => "/javascripts/frontend/jquery.jcarousel.min.js", :type => "text/javascript"}	

:javascript
  jQuery(document).ready(function() {
  jQuery.noConflict();
  jQuery('#mycarousel').jcarousel();
  });
:javascript
  jQuery(document).ready(function() {
  jQuery.noConflict();
      // Initialise the first and second carousel by class selector.
  	// Note that they use both the same configuration options (none in this case).
  	//jQuery('.first-and-second-carousel').jcarousel();
  jQuery('.first-and-second-carousel').jcarousel({
  scroll: 1,
  });
  	// If you want to use a caoursel with different configuration options,
  	// you have to initialise it seperately.
  	// We do it by an id selector here.
  jQuery('#mycarousel').jcarousel();
  });
:javascript
  jQuery(document).ready(function() {
  jQuery(".slide1").mouseover(function (){
  img_id=jQuery(this).find("img").attr('id');
  document.getElementById(img_id).src='/images/frontend/project_thumbnails/coloured_'+img_id+'.png';
  document.getElementById(img_id).id=img_id;
  });
  jQuery(".slide1").mouseout(function (){
  img_id=jQuery(this).find("img").attr('id');
  document.getElementById(img_id).src='/images/frontend/project_thumbnails/grey_'+img_id+'.png';
  document.getElementById(img_id).id=img_id;
  });
  });
:javascript
  jQuery(document).ready(function() {
  jQuery(".white_block").mouseover(function (){
  img_id=jQuery(this).find("img").attr('id');
  document.getElementById(img_id).src='/images/frontend/client_logos/color_img'+img_id+'.jpg';
  document.getElementById(img_id).id=img_id;
  });
  jQuery(".white_block").mouseout(function (){
  img_id=jQuery(this).find("img").attr('id');
  document.getElementById(img_id).src='/images/frontend/client_logos/pro_img'+img_id+'.jpg';
  document.getElementById(img_id).id=img_id;
  });
  });

#project_landing_wrapper
  / Header
  #project-header
    .create_headder
      = render :partial => "/pages/partials/login_links"
      .create_headding
        %h4 Projects
  / Headerend
  .clear
  / network content start
  .network_content
    / main header block start
    .pro_header_block
      / slider block start
      .pro_left_block
        %ul.first-and-second-carousel.jcarousel-skin-tango-new
          %li
            %img{:alt => "", :src => "/images/frontend/projects/pro_img.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project1_qatar.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project2_mawhiba.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project3_aon.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project4_dove.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project5_nsm.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project6_honeywell.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project7_sofitel.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project8_shell.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project9_mobily.png", :title => ""}/
      / slider block end
      / right content block start
      .pro_right_block
        .inner_pro_right
          %h3
            - if get_projects('project_land_page','caption').blank?										
              Oryx Magazine
            - else
              = get_projects('project_land_page','title')														
          .small_name
            - if get_projects('project_land_page','caption').blank? 
              QATAR AIRWAYS
            - else
              = get_projects('project_land_page','caption')
          - if get_projects('project_land_page','summary').blank?
            %div{:style => "height:250px;"}	 
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend metus vel nisi luctus non vestibulum risus sagittis. Vestibulum sit amet lorem non neque porttitor convallis sed in dui. Aenean eget massa in leo imperdiet dapibus sit amet a velit. Mauris eu nisi ligula, quis tristique nunc. Aliquam sit amet quam sit amet augue consequat ultricies in eget justo.
              %p Donec blandit, libero eget vestibulum ornare, orci turpis iaculis turpis, non blandit erat orci non nisi. Sed hendrerit vulputate ante.
          - else
            %div{:style => "height:250px;"}
              = get_projects('project_land_page','summary')
          %p{:style=>"position:relative; top:-10px;"}
            %a.pro_btn{:href => "/projects/case-studies"} View case study
      / right content block end
    / main header block end
    / gallery block start
    .pro_gallery
      #wrap
        %ul#mycarousel.jcarousel-skin-tango
          %li.slide1
            %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_1.png", :title => "", :id=>"1"}/
          %li.slide1
            %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_2.png", :title => "", :id=>"2"}/
          %li.slide1
            %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_3.png", :title => "", :id=>"3"}/
          %li.slide1
            %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_4.png", :title => "", :id=>"4"}/
          %li.slide1
            %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_5.png", :title => "", :id=>"5"}/
          %li.slide1
            %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_6.png", :title => "", :id=>"6"}/
          %li.slide1
            %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_7.png", :title => "", :id=>"7"}/
          %li.slide1
            %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_8.png", :title => "", :id=>"8"}/
          %li.slide1
            %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_9.png", :title => "", :id=>"9"}/
          %li
          %li
          %li
          %li
          %li
          %li
          %li
          %li
          %li
          %li
          %li

    / gallery block end
    / client block start
    .client_blocks
      / block1 start
      .inner_client
        / block1 start
        .client_block1
          .white_block{:align => "center"}
            %img{:alt => "", :src => "/images/frontend/client_logos/pro_img41.jpg", :title => "", :id=>"41"}/
        / block1 end
        / block1 start
        .client_block1
          .white_block{:align => "center"}
            %img{:alt => "", :src => "/images/frontend/client_logos/pro_img42.jpg", :title => "" , :id=>"42"}/
        / block1 end
        / block1 start
        .client_block1.none_border
          .white_block{:align => "center"}
            %img{:alt => "", :src => "/images/frontend/client_logos/pro_img43.jpg", :title => "" , :id=>"43"}/
        / block1 end
      / block1 end
      / block2 start
      .inner_client
        / block4 start
        .client_block1
          .white_block{:align => "center"}
            %img{:alt => "", :src => "/images/frontend/client_logos/pro_img44.jpg", :title => "", :id=>"44"}/
        / block4 end
        / block5 start
        .client_block1
          .white_block{:align => "center"}
            %img{:alt => "", :src => "/images/frontend/client_logos/pro_img45.jpg", :title => "", :id=>"45"}/
        / block5 end
        / block6 start
        .client_block1.none_border
          .white_block{:align => "center"}
            %img{:alt => "", :src => "/images/frontend/client_logos/pro_img46.jpg", :title => "", :id=>"46"}/
        / block6 end
      / block2 end
      / block3 start
      .inner_client
        / block7 start
        .client_block1
          .white_block{:align => "center"}
            %img{:alt => "", :src => "/images/frontend/client_logos/pro_img47.jpg", :title => "", :id=>"47"}/
        / block7 end
        / block8 start
        .client_block1
          .white_block{:align => "center"}
            %img{:alt => "", :src => "/images/frontend/client_logos/pro_img48.jpg", :title => "", :id=>"48"}/
        / block8 end
        / block9 start
        .client_block1.none_border
          .white_block{:align => "center"}
            %img{:alt => "", :src => "/images/frontend/client_logos/pro_img49.jpg", :title => "", :id=>"49"}/
        / block9 end
      / block3 end
    / client block end
  / network content end
  .clear
    &nbsp;
  / footer block start

  / footer block end