:css
  @media screen and (-webkit-min-device-pixel-ratio:0) {
  #footer {
  position: relative; top: 280px;
  }
  }  
  #footer {
  #position: relative; #top: 280px;
  }

%script{:src => "/javascripts/frontend/jquery.jcarousel.min.js", :type => "text/javascript"}	

:javascript
  jQuery(document).ready(function() {
  jQuery.noConflict();
      // Initialise the first and second carousel by class selector.
  	// Note that they use both the same configuration options (none in this case).
  	//jQuery('.first-and-second-carousel').jcarousel();
  jQuery('.first-and-second-carousel').jcarousel({
  scroll: 1
  });
  	// If you want to use a caoursel with different configuration options,
  	// you have to initialise it seperately.
  	// We do it by an id selector here.
  jQuery('#mycarousel').jcarousel();
  });

:javascript
  jQuery(document).ready(function() {
  	
  	jQuery("ul.gallery li, .jcarousel-skin-tango li").hover(function() { //On hover...
  		
  		var thumbOver = jQuery(this).find("img").attr("src"); //Get image url and assign it to 'thumbOver'
  		
  		//Set a background image(thumbOver) on the <a> tag 
  		jQuery(this).find("a.thumb").css({'background' : 'url(' + thumbOver + ') no-repeat center bottom'});
  		//Fade the image to 0 
  		jQuery(this).find("span").stop().fadeTo('normal', 0 , function() {
  			jQuery(this).hide() //Hide the image after fade
  		}); 
  	} , function() { //on hover out...
  		//Fade the image to 1 
  		jQuery(this).find("span").stop().fadeTo('normal', 1).show();
  	});
  
  });
#project_landing_wrapper
  / Header
  #project-header
    .create_headder
      = render :partial => "/pages/partials/login_links"
      .create_headding
        %h4 Projects
  / Headerend
  .clear
  / network content start
  .network_content
    / main header block start
    .pro_header_block
      / slider block start
      .pro_left_block
        %ul.first-and-second-carousel.jcarousel-skin-tango-new
          %li
            %img{:alt => "", :src => "/images/frontend/projects/pro_img.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project1_qatar.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project2_mawhiba.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project3_aon.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project4_dove.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project5_nsm.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project6_honeywell.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project7_sofitel.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project8_shell.png", :title => ""}/
          %li
            %img{:alt => "", :src => "/images/frontend/projects/project9_mobily.png", :title => ""}/
      / slider block end
      / right content block start
      .pro_right_block
        .inner_pro_right
          %h3
            - if get_projects('project_land_page','caption').blank?										
              Oryx Magazine
            - else
              = get_projects('project_land_page','title')														
          .small_name
            - if get_projects('project_land_page','caption').blank? 
              QATAR AIRWAYS
            - else
              = get_projects('project_land_page','caption')
          - if get_projects('project_land_page','summary').blank?
            %div{:style => "height:250px;"}	 
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend metus vel nisi luctus non vestibulum risus sagittis. Vestibulum sit amet lorem non neque porttitor convallis sed in dui. Aenean eget massa in leo imperdiet dapibus sit amet a velit. Mauris eu nisi ligula, quis tristique nunc. Aliquam sit amet quam sit amet augue consequat ultricies in eget justo.
              %p Donec blandit, libero eget vestibulum ornare, orci turpis iaculis turpis, non blandit erat orci non nisi. Sed hendrerit vulputate ante.
          - else
            %div{:style => "height:250px;"}
              = get_projects('project_land_page','summary')
          %p{:style=>"position:relative; top:-10px;"}
            %a.pro_btn{:href => "/projects/case-studies"} View case study
      / right content block end
    / main header block end
    / gallery block start
    .pro_gallery
      %ul#mycarousel.jcarousel-skin-tango
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_1.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_2.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_3.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_4.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_5.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_6.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_7.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_8.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_9.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_1.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_2.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_3.gif", :title => ""}/			
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_4.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_5.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_6.gif", :title => ""}/
        %li
          %a.thumb{:href => "#"}
            %span
              %img{:alt => "", :src => "/images/frontend/project_thumbnails/grey_7.gif", :title => ""}/																																																																																																																																																																					
    / gallery block end
    / client block start
    .client_blocks
      / block1 start
      .inner_client
        %ul.gallery
          %li
            %a.thumb{:href => "#"}
              %span
                %img{:alt => "Aon", :src => "/images/frontend/client_logos/aon_thumb.gif", :title => "Aon"}/
          %li
            %a.thumb{:href => "#"}
              %span
                %img{:alt => "Bausch&Lomb", :src => "/images/frontend/client_logos/bandlomb_thumb.gif", :title => "Bausch&Lomb"}/
          %li
            %a.thumb{:href => "#"}
              %span
                %img{:alt => "Dove", :src => "/images/frontend/client_logos/dove_thumb.gif", :title => "Dove"}/
          %li
            %a.thumb{:href => "#"}
              %span
                %img{:alt => "Honeywell", :src => "/images/frontend/client_logos/honeywell_thumb.gif", :title => "Honeywell"}/
          %li
            %a.thumb{:href => "#"}
              %span
                %img{:alt => "Mawhiba", :src => "/images/frontend/client_logos/mawhiba_thumb.gif", :title => "Mawhiba"}/
          %li
            %a.thumb{:href => "#"}
              %span
                %img{:alt => "Mobily", :src => "/images/frontend/client_logos/mobily_thumb.gif", :title => "Mobily"}/
          %li
            %a.thumb{:href => "#"}
              %span
                %img{:alt => "Nae", :src => "/images/frontend/client_logos/nae_thumb.gif", :title => "Nae"}/

          %li
            %a.thumb{:href => "#"}
              %span
                %img{:alt => "Shell", :src => "/images/frontend/client_logos/shell_thumb.gif", :title => "Shell"}/
          %li
            %a.thumb{:href => "#"}
              %span
                %img{:alt => "Sofitel", :src => "/images/frontend/client_logos/sofitel_thumb.gif", :title => "Sofitel"}/
        .clear
    / client block end
  / network content end
  .clear
    &nbsp;
  / footer block start

  / footer block end