
#tech_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .tech_headding
        %h4
          %span TECHNOLOGY /
          E-Learning
    .tech-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li

              %a.current{:href => "#"} E-learning												
            %li

              %a{:href => "/technology/e-commerce"} E-commerce

            %li

              %a{:href => "/technology/online-security"} Online Security		

            %li

              %a{:href => "/technology/cms"} CMS		
        / submit block start
        #lp_submit
          %h4 Submit a brief
          .lpsub_inner
            .lpsub_leftcorner
              %span
            .lpsub_bg
              .lpsub_bg_inner
                %p
                  %span Name
                  %input{:type => "text"}/
                %p
                  %span Email
                  %input{:type => "text"}/
                %p{:style=>"width:200px;"}
                  %span File
                  #FileUpload1
                    %input#BrowserHidden1{:onChange => "getElementById('FileField1').value = getElementById('BrowserHidden1').value;", :size => "4", :type => "file"}
                      #BrowserVisible1
                        %input#FileField1{:type => "text", :size => "17"}																		
                %p.form_btn{ :style=>"float:right; position:relative; top:-80px; right:12px;"}
                  %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => ""}/
            .lpsub_rightcorner
              %span

        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        %p{:style=>"margin-top:0px;"} At its best e-learning technology can improve education outcomes, increase engagement with learners, add flexibility (and fun), and improve organisational performance, while delivering substantial cost and time savings. 
        %p But it&#39;s easy to get wrong. A confusing interactive environment with complicated tools or content which hasn&#39;t been designed to be used interactively can drive learners offline, never to return.
        %p We work closely with our clients on all our e&#45;learning projects to ensure the technical solution works hand in hand with the content to create an engaging, refreshing and highly effective learning space. 


        %p.headding_text{:style=>"line-height:20px!important;"} Consultancy and guidance.
        %p Working with you, we analyse the unique goals and requirements of your e&#45;learning project and then draw up a strategy and solution tailored to your resources. We&#39;ll recommend the most appropriate tools and resources for your project out of the many on the market.
        %p Our purpose is to become a part of your team, taking on board your constraints and objectives, so everything we do takes the most effective path towards the right solution for you.


        %p.headding_text{:style=>"line-height:20px!important;"} Course content development 
        %p It&#39;s often a minefield trying to take offline course content and convert into engaging interactive materials. What is appropriate for online learning? What can stay the same and what needs to change? What&#39;s missing?
        %p We&#39;ll draw on our experience to cut through the confusion and solve the technical challenges, while helping you make even the most difficult of subjects come alive in the e&#45;learning environment. 


        %p.headding_text{:style=>"line-height:20px!important;"} E&#45;learning quizzes and games
        %p The key to all learning is attention, and games and quizzes are a very useful way of keeping learners engaged and active. Used through a learning course or module, they make e&#45;learning more interactive and they&#39;re also useful for evaluating the progress of the learner. In addition, they can provide insights into the effectiveness of your course content. 
        %p At Gigavine we build all kinds of quizzes and games &#45; simple or complex&#45;using various tools such as flash, HTML and Articulate, which can not only deliver a powerful experience for the learning but collect data at the same time. 

        %p.headding_text{:style=>"line-height:20px!important;"} Learning management systems and virtual learning environments 
        %p A learning management system (LMS) or virtual learning environment (VLE) is the software system that puts e&#45;learning in place. It handles the learners&#39; and the tutors&#39; interactions with the system, and it enables you to publish materials, communicate with students, etc. It is the heart of your e&#45;learning environment, and the choice of LMS you make has far&#45;reaching consequences. 
        %p There are many of those packages available, open source and commercial, and picking the best one for your purposes is a difficult decision. We can help you make that decision. Alternatively we can build you a bespoke system to meet your exact needs. 

        %p.headding_text{:style=>"line-height:20px!important;"} Bespoke learning management system development 
        %p Sometimes off the shelf learning management systems just won&#39;t fit the kind of e&#45;learning project you&#39;re planning. Trying to force things to fit a rigid and inappropriate system can save money in the short term but lead to serious problems later on. 
        %p If nothing fits we can design, develop and build a bespoke LMS to your precise requirements, integrating with your website and your payment gateways and any other third party systems as necessary, and we&#39;ll include your input and sign&#45;off every step of the way. 


      / right block end
  / content block end
  .topspace
  / footer block start

  / footer block end