
:javascript
  Cufon.replace('.sf-navbar li a.current', {color: '#5f9732'});
  Cufon.replace('.sf-navbar li.sub_nav', {color: '#fff'});
#tech_landing_wrapper
  / Header
  #tech-header
    .create_headder
      = render :partial => "/pages/partials/login_links"
      .create_headding
        %h4 TECHNOLOGY
      .create_mainblock
        %img{:alt => "", :src => "/images/frontend/watch.gif", :title => ""}
          .top_comment
            %p Our experts can translate into and out of more than 150 languages across a wide range of different specialist subject areas.
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #lp_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li.current
              %a{:href => "/technology/e-learning"} E-learning
            %li
              %a{:href => "/technology/e-commerce"} E-commerce
            %li
              %a{:href => "/technology/online-security"} Online security
            %li
              %a{:href => "/technology/cms"} CMS
        / submit block start
        #lp_submit
          %h4 Submit a brief
          .lpsub_inner
            .lpsub_leftcorner
              %span
            .lpsub_bg
              .lpsub_bg_inner
                %p
                  %span Name
                  %input{:type => "text"}/
                %p
                  %span Email
                  %input{:type => "text"}/
                %p{:style=>"width:200px;"}
                  %span File
                  #FileUpload1
                    %input#BrowserHidden1{:onChange => "getElementById('FileField1').value = getElementById('BrowserHidden1').value;", :size => "4", :type => "file"}
                      #BrowserVisible1
                        %input#FileField1{:type => "text", :size => "17"}																		
                %p.form_btn{ :style=>"float:right; position:relative; top:-80px; right:12px;"}
                  %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => ""}/
            .lpsub_rightcorner
              %span
        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        %p.headding_text
          - if !get_languages('technology_page','title').blank?
            = raw(get_languages('technology_page','title'))
          - else
            We don&#39;t just create the messages, we deliver them. Using an array of cutting edge communications technologies, we build the interfaces and develop the interactions that bring each client&#39;s digital presence alive.
        - if get_languages('technology_page','summary').blank?
          %p A powerful message that can&#39;t reach its audience is wasted, but a technology without engaging content is empty. We bring them together so one can inform the other. 
          %p This is why the applications, digital campaigns and online solutions we build for our clients are highly effective 	&#45; because they are focused on delivering effective and meaningful communication. It could be through an ecommerce website or a mobile phone application, a secure server or a CRM system for managing relationships with customers. 
          %p Gigavine offers an integrated team built on a culture of innovation which will pursue and deliver the most effective technical solutions for your requirements: technology to transform communications. 

        - else
          = raw(get_languages('technology_page','summary'))
      / right block end
  / content block end
  .topspace &nbsp;  
  / footer block start
  / footer block end