
#tech_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .tech_headding
        %h4
          %span TECHNOLOGY /
          E-commerce
    .tech-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li

              %a{:href => "/technology/e-learning"} E-learning												
            %li

              %a.current{:href => "#"} E-commerce

            %li

              %a{:href => "/technology/online-security"} Online Security		

            %li

              %a{:href => "/technology/cms"} CMS		

        / submit block start
        #lp_submit
          %h4 Submit a brief
          .lpsub_inner
            .lpsub_leftcorner
              %span
            .lpsub_bg
              .lpsub_bg_inner
                %p
                  %span Name
                  %input{:type => "text"}/
                %p
                  %span Email
                  %input{:type => "text"}/
                %p{:style=>"width:200px;"}
                  %span File
                  #FileUpload1
                    %input#BrowserHidden1{:onChange => "getElementById('FileField1').value = getElementById('BrowserHidden1').value;", :size => "4", :type => "file"}
                      #BrowserVisible1
                        %input#FileField1{:type => "text", :size => "17"}																		
                %p.form_btn{ :style=>"float:right; position:relative; top:-80px; right:12px;"}
                  %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => ""}/
            .lpsub_rightcorner
              %span

        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        %p{:style=>"margin-top:0px;"}The boom in buying online only seems to get bigger as the internet matures and broadband becomes more widespread. Yet too many e-commerce sites still present barriers to purchase, losing potential customers even in the final stages of the purchasing process. 
        %p The solutions we offer at Gigavine avoid these pitfalls by putting your target audience at the heart of our design process. Our emphasis on usability testing gives us a powerful understanding of what your customers need and how to give it to them. 
        %p Harnessing e-commerce successfully takes more than a simple online payment solution, and we have the expertise and experience to develop an appealing transactional website with captivating content and effortless functionality, all in line with your brand principles and your web strategy. 
        %p But, crucially, the systems we build allow you to control and edit your inventory yourselves without the input of a web development company. This kind of cost-effective and highly flexible system has helped many of our clients increase their profits from existing revenue streams and create new ones. 
      / right block end
  / content block end
  .topspace
  / footer block start

  / footer block end