
#tech_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .tech_headding
        %h4
          %span TECHNOLOGY /
          Online Security
    .tech-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li

              %a{:href => "/technology/e-learning"} E-learning												
            %li

              %a{:href => "/technology/e-commerce"} E-commerce

            %li

              %a.current{:href => "#"} Online Security		

            %li

              %a{:href => "/technology/online-tools"} Online Tools		
        / submit block start
        #lp_submit
          %h4 Submit a brief
          .lpsub_inner
            .lpsub_leftcorner
              %span
            .lpsub_bg
              .lpsub_bg_inner
                %p
                  %span Name
                  %input{:type => "text"}/
                %p
                  %span Email
                  %input{:type => "text"}/
                %p{:style=>"width:200px;"}
                  %span File
                  #FileUpload1
                    %input#BrowserHidden1{:onChange => "getElementById('FileField1').value = getElementById('BrowserHidden1').value;", :size => "4", :type => "file"}
                      #BrowserVisible1
                        %input#FileField1{:type => "text", :size => "17"}																		
                %p.form_btn{ :style=>"float:right; position:relative; top:-80px; right:12px;"}
                  %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => "Submit"}/
            .lpsub_rightcorner
              %span

        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        - if !get_languages('tech_security_page','summary').blank?
          = raw(get_languages('tech_security_page','summary'))
        - else
          %p{:style=>"margin-top:0px;"}Even as internet fraud escalates, your customers expect that you offer a secure environment for them. If you fail to give them that and a phishing attack or identity theft succeeds, your reputation can take a nasty hit. 
          %p SSL or Secure Socket Layers certificates &#45; the technology that activates the yellow padlock or green address bar &#45; are essential for e-commerce websites. They give customers protection they can trust. We offer those certificates at very competitive prices, and provide three types:
          .local_nav
            %ul
              %li
                Domain validated &#45; a basic certificate
              %li
                Organisation validated &#45; a standard certificate
              %li
                Extended validation &#45; an advanced certificate

          %p Each type is available as standard (for a single domain and its sub-domains), Wildcard SSL (allowing extended types of sub-domains with the format xxx.domain.com) or Unified Communications SSL (for multiple domains).  
          %p With a Gigavine Domain SSL you know you have future&#45;proof 2048&#45;bit SSL security. When you need a certificate, we can issue them rapidly &#45; just get in contact with us. 
      / right block end
  / content block end
  .topspace
  / footer block start

  / footer block end