- content_for :parent do
  %h2 Side bar
  %h4 this sidebar eventually holds a list you can browse
%h1 Welcome to gigaworks
%h3 This is just a page to help me with the layout
%ul#options
  %li new
  %li save
  %li cut
  %li copy
  %li paste
  %li self-destruct
%pre
  =session.to_yaml
  %hr
  =cookies.signed[:remember_me].inspect