#contact_us.sign_up{:style => "display:none"}
  %h3#see_id  COMPANY / CONTACT
  %br.clear
  %div
    = form_for :creative_page, :url => {:controller => "pages",:action => "creative_create"},:html =>{:name => "contact_form",:multipart => :true,:onsubmit => "return contact_validate();"} do |f|
      = f.hidden_field :page_section,  :value => "contact_page"

      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Title:
        = f.text_field :title, :style => "width:600px;", :id => "contact_heading", :value => get_languages('contact_page','title') 

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary:
        = f.text_area :content, :style => "width:600px;",  :id => "contact_summary", :value => get_languages('contact_page','summary') 

        %label
          %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Image:
          %input{:type=>"file", :name=>"creative_page[image]", :size=>"63", :style=>"font:12px arial; height:20px; width:600px; position: relative;" }




      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  .clear  

  %a#close_x.close.sprited{:href => "#"} close