.blue_leftcorner
  %span
.blue_bg
  .org_bg_inner
    %p.space{:style=>"height:12px!important;"}
      %p 
        = get_contact('home_news_block')
      .news_headding
        %h4 Contact us
.blue_rightcorner
%span