#footer{:style => "#position: absolute; #top: 1295px;"}
  .inner_footer{:style=>"height:168px;"}
    .foot_left
      %p.foot_logo
        %a{:alt => "", :href => "#", :title => ""}
          %img{:alt => "", :src => "/images/frontend/foot_logo.png", :title => "", :style=>'position:relative; top:30px;'}/
    .foot_right
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Languages
          %li
            %a{:href => "#"} Translation
          %li
            %a{:href => "#"} Localisation
          %li
            %a{:href => "#"} Consultancy
          %li
            %a{:href => "#"} Online tools
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Creative
          %li
            %a{:href => "#"} Artwork
          %li
            %a{:href => "#"} Webdesign
          %li
            %a{:href => "#"} Copywriting
          %li
            %a{:href => "#"} Interactive
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Technology
          %li
            %a{:href => "#"} E-learning
          %li
            %a{:href => "#"} E-commerce
          %li
            %a{:href => "#"} Online security
          %li
            %a{:href => "#"} DMS
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Projects
          %li
            %a{:href => "#"} Case studies
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Network
          %li
            %a{:href => "#"} Registration
          %li
            %a{:href => "#"} Featured
          %li
            %a{:href => "#"} Blog
      .flo_left
        %ul{:style => "margin-right:0px; position:relative; top:20px;"}
          %li
            %p Company
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Values

          %li
            %a{:href => "#"} Contact us
  .inner_footer
    .foot_left
      %ul{:style=>"margin-top:0"}
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/fb_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/twit_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/ytoube_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/rss-icon.gif", :title => ""}/
    .foot_right
      %p{:style=>"line-height:20px"}
        &nbsp;&nbsp;&nbsp;&copy; Copyright Gigavine plc 2011 &nbsp; &nbsp; &nbsp; &nbsp;  
        %a{:href => "#"}> Terms & Conditions 
        \ &nbsp; &nbsp; &nbsp; &nbsp;
        %a{:href => "#"} Privacy Policy