#footer
  .inner_footer
    .foot_left
      %p.foot_logo
        %a{:alt => "", :href => "#", :title => ""}
          %img{:alt => "", :src => "/images/frontend/foot_logo.gif", :title => ""}/
    .foot_right
      .flo_left
        %ul
          %li
            %p Languages
          %li
            %a{:href => "#"} Translation
          %li
            %a{:href => "#"} Localisation
          %li
            %a{:href => "#"} Consultancy
          %li
            %a{:href => "#"} Online tools
      .flo_left
        %ul
          %li
            %p Creative
          %li
            %a{:href => "#"} Artwork
          %li
            %a{:href => "#"} Webdesign
          %li
            %a{:href => "#"} Copywriting
          %li
            %a{:href => "#"} Interactive
      .flo_left
        %ul
          %li
            %p Technology
          %li
            %a{:href => "#"} E-learning
          %li
            %a{:href => "#"} E-commerce
          %li
            %a{:href => "#"} Online security
          %li
            %a{:href => "#"} DMS
      .flo_left
        %ul
          %li
            %p Projects
          %li
            %a{:href => "#"} Case studies
      .flo_left
        %ul
          %li
            %p Network
          %li
            %a{:href => "#"} Registration
          %li
            %a{:href => "#"} Featured
      .flo_left
        %ul{:style => "margin-right:0px;"}
          %li
            %p Company
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Values
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Contact us
  .inner_footer
    .foot_left
      %ul
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/fb_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/twit_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/ytoube_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/rss-icon.gif", :title => ""}/
    .foot_right
      %p
        &copy; Copyright Gigavine plc 2011 &nbsp; &nbsp; &nbsp; &nbsp;  
        %a{:href => "#"}> Terms & Conditions 
        \ &nbsp; &nbsp; &nbsp; &nbsp;
        %a{:href => "#"} Privacy Policy
/ footer block end