#footer{:style => "#position: absolute; #top: 1295px;"}
  .inner_footer{:style=>"height:168px;"}
    .foot_left
      %p.foot_logo
        %a.thumb2{:alt => "", :href => "#", :title => ""}
          %span
            %img{:alt => "", :src => "/images/frontend/foot_logo.png", :title => ""}/
    .foot_right
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Languages
          %li
            %a{:href => "/languages/copywriting"} Copywriting
          %li
            %a{:href => "/languages/translation"} Translation
          %li
            %a{:href => "/languages/localisation"} Localisation
          %li
            %a{:href => "/languages/consultancy"} Consultancy

      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Creative
          %li
            %a{:href => "/creative/artwork"} Artwork
          %li
            %a{:href => "/creative/advertising"} Advertising
          %li
            %a{:href => "/creative/webdesign"} Web Design

          %li
            %a{:href => "/creative/interactive"} Interactive
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Technology
          %li
            %a{:href => "/technology/e-learning"} E-learning
          %li
            %a{:href => "/technology/e-commerce"} E-commerce
          %li
            %a{:href => "/technology/online-security"} Online security
          %li
            %a{:href => "/technology/online-tools"} Online tools

      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Projects
          %li
            %a{:href => "/projects/case-studies"} Case studies
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Network
          %li
            %a{:href => "javascript://"} Registration
          %li
            %a{:href => "/network/featured"} Featured
          %li
            %a{:href => "javascript://"} News
      .flo_left
        %ul{:style => "margin-right:0px; position:relative; top:20px;"}
          %li
            %p Company
          %li
            %a{:href => "javascript://"} About
          %li
            %a{:href => "javascript://"} Values

          %li
            %a{:href => "/contact"} Contact
  .inner_footer
    .foot_left
      %ul.fblinks{:style=>"margin-top:0"}
        %li
          %a.thumb1{:alt => "facebook", :href => "https://www.facebook.com/pages/Gigavine/152786648088285", :title => "Facebook application", :target=>"_blank"}
            %span
              %img{:alt => "facebook", :src => "/images/frontend/fb_icon.png", :title => ""}/
        %li
          %a.thumb1{:alt => "twitter", :href => "http://twitter.com/gigavine", :title => "", :target=>"_blank"}
            %span
              %img{:alt => "twitter", :src => "/images/frontend/tweet_icon.png", :title => ""}/
        %li
          %a.thumb1{:alt => "youtube", :href => "http://www.youtube.com/user/gigavine", :title => "", :target=>"_blank"}
            %span
              %img{:alt => "youtube", :src => "/images/frontend/tube_icon.png", :title => ""}/
        %li
          %a.thumb1{:alt => "", :href => "javascript://", :title => ""}
            %span
              %img{:alt => "", :src => "/images/frontend/rss_icon.png", :title => ""}/
    .foot_right
      %p{:style=>"line-height:20px"}
        &nbsp;&nbsp;&nbsp;&copy; Copyright Gigavine plc 2011 &nbsp; &nbsp; &nbsp; &nbsp;  
        %a{:href => "javascript://"}> Terms & Conditions 
        \ &nbsp; &nbsp; &nbsp; &nbsp;
        %a{:href => "javascript://"} Privacy Policy