#footer
  .inner_footer
    .foot_left
      %p.foot_logo
        %a{:alt => "", :href => "#", :title => ""}
          %img{:alt => "", :src => "/images/frontend/foot_logo.gif", :title => "", :style=>'position:relative; top:8px;'}/
    .foot_right
      .flo_left
        %ul{:style=>"position:relative; top:8px;"}
          %li
            %p Languages

          %li
            %a{:href => "/languages/translation"} Translation
          %li
            %a{:href => "/languages/localisation"} Localisation
          %li
            %a{:href => "/languages/consultancy"} Consultancy
          %li
            %a{:href => "/languages/online-tools"} Online tools
      .flo_left
        %ul{:style=>"position:relative; top:8px;"}
          %li
            %p Creative

          %li
            %a{:href => "/creative/artwork"} Artwork
          %li
            %a{:href => "/creative/advertising"} Advertising
          %li
            %a{:href => "/creative/webdesign"} Webdesign
          %li
            %a{:href => "/creative/copywriting"} Copywriting
          %li
            %a{:href => "/creative/interactive"} Interactive
      .flo_left
        %ul{:style=>"position:relative; top:8px;"}
          %li
            %p Technology

          %li
            %a{:href => "/technology/e-learning"} E-learning
          %li
            %a{:href => "/technology/e-commerce"} E-commerce
          %li
            %a{:href => "/technology/online-security"} Online security
          %li
            %a{:href => "/technology/crm"} CRM
      .flo_left
        %ul{:style=>"position:relative; top:8px;"}
          %li
            %p Projects
          %li
            %a{:href => "/projects/case-studies"} Case studies
      .flo_left
        %ul{:style=>"position:relative; top:8px;"}
          %li
            %p Network
          %li
            %a{:href => "#"} Registration
          %li
            %a{:href => "/network/featured"} Featured
      .flo_left
        %ul{:style => "margin-right:0px; position:relative; top:8px;"}
          %li
            %p Company
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Values
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Contact us
  .inner_footer
    .foot_left
      %ul{:style=>"position:relative; top:3px;"}
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/fb_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/twit_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/ytoube_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/rss-icon.gif", :title => ""}/
    .foot_right
      %p{:style=>"position:relative; top:3px;"}
        &copy; Copyright Gigavine plc 2011 &nbsp; &nbsp; &nbsp; &nbsp;  
        %a{:href => "#"}> Terms & Conditions 
        \ &nbsp; &nbsp; &nbsp; &nbsp;
        %a{:href => "#"} Privacy Policy
/ footer block end