#footer{:style => "#position: absolute; #top: 1295px;"}
  .inner_footer{:style=>"height:168px;"}
    .foot_left
      %p.foot_logo
        %a{:alt => "", :href => "#", :title => ""}
          %img{:alt => "", :src => "/images/frontend/foot_logo.png", :title => "", :style=>'position:relative; top:30px;'}/
    .foot_right
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Languages
          %li
            %a{:href => "/languages/copywriting"} Copywriting
          %li
            %a{:href => "/languages/translation"} Translation
          %li
            %a{:href => "/languages/localisation"} Localisation
          %li
            %a{:href => "/languages/consultancy"} Consultancy

      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Creative
          %li
            %a{:href => "/creative/artwork"} Artwork
          %li
            %a{:href => "/creative/advertising"} Advertising
          %li
            %a{:href => "/creative/webdesign"} Web Design

          %li
            %a{:href => "/creative/interactive"} Interactive
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Technology
          %li
            %a{:href => "/technology/e-learning"} E-learning
          %li
            %a{:href => "/technology/e-commerce"} E-commerce
          %li
            %a{:href => "/technology/online-security"} Online security
          %li
            %a{:href => "/technology/online-tools"} Online tools

      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Projects
          %li
            %a{:href => "/projects/case-studies"} Case studies
      .flo_left
        %ul{:style=>"position:relative; top:20px;"}
          %li
            %p Network
          %li
            %a{:href => "#"} Registration
          %li
            %a{:href => "/network/featured"} Featured
          %li
            %a{:href => "#"} News
      .flo_left
        %ul{:style => "margin-right:0px; position:relative; top:20px;"}
          %li
            %p Company
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Values

          %li
            %a{:href => "#"} Contact us
  .inner_footer
    .foot_left
      %ul{:style=>"margin-top:0"}
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/fb_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/twit_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/ytoube_icon.gif", :title => ""}/
        %li
          %a{:alt => "", :href => "#", :title => ""}
            %img{:alt => "", :src => "/images/frontend/rss-icon.gif", :title => ""}/
    .foot_right
      %p{:style=>"line-height:20px"}
        &nbsp;&nbsp;&nbsp;&copy; Copyright Gigavine plc 2011 &nbsp; &nbsp; &nbsp; &nbsp;  
        %a{:href => "#"}> Terms & Conditions 
        \ &nbsp; &nbsp; &nbsp; &nbsp;
        %a{:href => "#"} Privacy Policy