/ Header
#home_header
  %a.backward prev
  .slidetabs
    %a{:href => "#"}
    %a{:href => "#"}
    %a{:href => "#"}
    %a{:href => "#"}
  / container for the slides
  .images
    / first slide start
    .home_index_header
      %p Gigavine offers creative and technical services which cross borders and open minds1.
    / first slide end
    / second slide start
    .home_index_header
      %p Gigavine offers creative and technical services which cross borders and open minds2.
    / second slide end
    / third slide start
    .home_index_header
      %p Gigavine offers creative and technical services which cross borders and open minds3.
    / third slide end
    / fourth slide start
    .home_index_header
      %p Gigavine offers creative and technical services which cross borders and open minds4.
    / fourth slide end
  / "next slide" button
  %a.forward next
  .clear
    %span
/ Headerend