.create_nav
  .create_navleftblock
    #logo
      %a{:alt => "Gigavine", :href => "http://test.gigavine.com/home", :title => "Gigavine"}
        %img{:alt => "Gigavine", :src => "/images/frontend/gigavine-logo.png", :title => "Gigavine"}/
  .create_navrightblock
    .create_register
      .reg_text
        %a#try-1{:href => "#"}
          Register
          %img{:alt => "", :src => "/images/frontend/down-arrow.jpg", :title => ""}/
      .reg_text
        %a#try-1{:href => "#"}
          Login
          %img{:alt => "", :src => "/images/frontend/down-arrow.jpg", :title => ""}/
      .reg_text1
        Current Language: 
        %a#image_frm_div{:href => "javascript://"}
          English
          %img{:alt => "", :src => "/images/frontend/down-arrow.jpg", :title => ""}/
        #products.select_language
          %ul
            %li
              %a{:href => "#"} En
            %li
              %a{:href => "#"} Fr
            %li
              %a{:href => "#"} Ar
      .reg_text2
        %input{:type => "text",  :value=>"Search", :onFocus=>"if(this.value == 'Search') {{this.value = '';}{this.style.cursor='text'}}", :onBlur=>" if (this.value == '') {this.value = 'Search';}"  }
          %a{:href => "#"}
            %img{:src => "/images/frontend/top_inputarrow.jpg"}/

    = render :partial => "/pages/partials/top_menu"
