.create_nav
  .create_navleftblock
    #logo
      %a{:alt => "Gigavine", :href => "http://test.gigavine.com/home", :title => ""}
        %img{:alt => "Gigavine", :src => "/images/frontend/gigavine-logo.png", :title => ""}/
  .create_navrightblock
    .create_register
      .reg_text3
        %a#image_frm_register{:href => "javascript://"}
          %span{:id=>"selected_lang"} Register
          %img{:alt => "", :src => "/images/frontend/down-arrow.jpg", :title => ""}/
          #register.select_language_reg
            %ul
              %li{:style=>"height:10px;background:#fff"} 
                %span>
              %li
                %a#Client.languages_select{:href => "/clients/signup"}
                  %span> 
                  &nbsp; &nbsp;Client
              %li
                %a#Talent.languages_select{:href => "/talents/registration"}
                  %span> 
                  &nbsp; &nbsp;Talent
      .reg_text
        %a#try-1{:href => "#"}
          Login
          %img{:alt => "", :src => "/images/frontend/down-arrow.jpg", :title => ""}/
      .reg_text1
        Current Language: 
        %a#image_frm_div{:href => "javascript://"}
          %span{:id=>"selected_lang"}English
          %img{:alt => "", :src => "/images/frontend/down-arrow.jpg", :title => ""}/
          #products.select_language
            %ul
              %li{:style=>"height:10px;background:#fff"} 
                %span>
              %li
                %a#English.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;English
              %li
                %a#French.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;French
              %li
                %a#Arabic.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;Arabic
              %li
                %a#Chinese.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;Chinese
              %li
                %a#Japanese.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;Japanese
              %li
                %a#German.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;German



      .reg_text2
        %input{:type => "text",  :value=>"Search", :onFocus=>"if(this.value == 'Search') {{this.value = '';}{this.style.cursor='text'}}", :onBlur=>" if (this.value == '') {this.value = 'Search';}"  }
          %a{:href => "#"}
            %img{:src => "/images/frontend/top_inputarrow.jpg"}/

    = render :partial => "/pages/partials/top_menu"
