.org_leftcorner
  %span
.org_bg
  .org_bg_inner
    %br
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat orci congue enim dignissim sit amet porta metus ultrices.
      .news_headding
        %h4 Latest news
.org_rightcorner
  %span