.news_wrapper_block
  .org_leftcorner
    %span
  .org_bg
    .org_bg_inner
      %div{:style => "padding:18px 0px 0px 6px; height:79px; word-wrap:break-word;"}
        %p
          = get_news('home_news_block')
  .org_rightcorner
    %span
.news_headding
  %h4
    %a#news.hoverBtn_1{:href => "#"} Latest news


