
= stylesheet_link_tag "overall.css"

%script{:charset => "utf-8", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", :type => "text/javascript"}

= javascript_include_tag  "frontend/jquery-ui.min.js","frontend/pngFix/jquery.pngFix.js","frontend/mopSlider/mopSlider-2.4.js","frontend/script.js","frontend/jquery.tools.min.js","frontend/jquery.lightbox_me.js","frontend/cufon-yui.js","frontend/Gotham_Light_300.font.js","frontend/hmenuscript.js","frontend/jquery-color.js"

:javascript
  // Background color animation 
         jQuery(document).ready(function () {

         var currentId = jQuery(this).find('div').attr('id');
         jQuery("#latest-news,#join-the-network,#contact-us").hover(function () {


             var currentId = jQuery(this).find('.news_wrapper_block').attr('id');
             if (this.id == 'latest-news') {
                 jQuery(this).find(".news_wrapper_block").animate({
                     backgroundColor: "#e46800"
                 }, 500);

             }
             if (this.id == 'join-the-network') {
                 jQuery(this).find(".news_wrapper_block").animate({
                     backgroundColor: "#007575"
                 }, 500);
             }
             if (this.id == 'contact-us') {
                 jQuery(this).find(".news_wrapper_block").animate({
                     backgroundColor: "#0071B9 "
                 }, 500);
             }

         }, function () {
             jQuery(this).find(".news_wrapper_block").animate({
                 backgroundColor: "#fff"
             }, 400);

         });


     });


:javascript
  Cufon.replace('.create_headding h4, .sf-navbar,  #language_get h4, .lp_rightblock p.headding_text, .lp_rightblock p.headding_textnew, .get_bg_inner p span, .get_bg_inner p.count, .get_bg_inner p.count1, .checkbox, .top_comment p, .slidetabs a, .shadow_midbg h4, .images h4, .home_create_header, .news_headding h4, #submit-a-brief h4, #how-we-help h4, .sub_bg_inner p span, .language_video h4, .home_technology_header .headtext, .home_language_header .headtext, .home_create_header .headtext, .home_index_header p,  .network_comment p, .net_block_wrapper h4, .landing, .net_rightblock h3, .net_rightblock h5, .inner_img_top h4, .net_leftblock p, .lpsub_bg_inner p span, #lp_submit h4, .trans_headding h4, .work_headding h4, .tech_headding h4, .trans_headding h4 span, .clientname, .inner_leftcase h3, .details_block h2, .pro_case_header h4,  .count_number , .contact_headding h4, .contact_textblock p.headding ,h3,label,legend', ' ', { fontFamily: 'gothamxlight', hover: true});
		   
  Cufon.replace('.lp_navigation li a', {hover: { color: '#ffffff'}});
		   
  Cufon.replace('.slidetabs_2_inner li a', {color: '#000000'});
  Cufon.replace('.slidetabs_2_inner li a.current', {color: '#ffffff'});
  Cufon.replace('.content_tab', {hover: {color: '#aa0c22'}});
  Cufon.replace('.content_tabbig1', {hover: {color: '#aa0c22'}});		
  Cufon.replace('.content_tabbig', {hover: {color: '#207bb2'}});
  Cufon.replace('.content_tab_create', {hover: {color: '#207bb2'}});
  Cufon.replace('.content_tab_project', {hover: {color: '#d37436'}});
  Cufon.replace('.foot_right li a', {hover: {color: '#ffffff'}});

%script{:src => "/javascripts/frontend/hoverIntent.js", :type => "text/javascript"}
%script{:src => "/javascripts/frontend/superfish.js", :type => "text/javascript"}



:javascript
  jQuery.noConflict();

  jQuery(document).ready(function() {	

		
		
   jQuery(".pro_btn,.inner_img_top p.see_btn a,.net_block_wrapper a,.form_btn input.form_submit, .count_btn").hover(function() {
                jQuery(this).animate({ backgroundColor: "#c1c1c1",color:"#585858" }, 500);
        },function() {
                 jQuery(this).animate({ backgroundColor: "#9f9f9f", color: "#fff"}, 500);
        });	
   jQuery(".net_signbtn a").hover(function() {
                jQuery(this).animate({ backgroundColor: "#587877", color: "#fff" }, 500);
        },function() {
                 jQuery(this).animate({ backgroundColor: "#048581", color: "#fff" }, 500);
        });	
   jQuery(".images_1 div.sub_content p a.blue").hover(function() {
                jQuery(this).animate({ backgroundColor: "#005d93", color: "#fff" }, 500);
        },function() {
                 jQuery(this).animate({ backgroundColor: "#66bae6", color: "#fff" }, 500);
        });	
   jQuery(".images_1 div.sub_content p a.red").hover(function() {
                jQuery(this).animate({ backgroundColor: "#6b051e", color: "#fff" }, 500);
        },function() {
                 jQuery(this).animate({ backgroundColor: "#d27782", color: "#fff" }, 500);
        });
   jQuery(".images_1 div.sub_content p a.green").hover(function() {
                jQuery(this).animate({ backgroundColor: "#5a6814", color: "#fff" }, 500);
        },function() {
                 jQuery(this).animate({ backgroundColor: "#c2d184", color: "#fff" }, 500);
        });		
		
	
  });
  jQuery.noConflict();
  jQuery(document).ready(function(){ 
  jQuery("#products").hide();	
   jQuery("#image_frm_div").click(function()
   {
   if (jQuery("#products:visible").length != 0)
   {
   jQuery("#products").fadeTo("1000", 0).hide();
   jQuery(".reg_text1").css("background","none");
   }
    
   else {
   jQuery("#products").fadeTo("1000", 1).show();
   jQuery(".reg_text1").css("background","#ffffff");
   jQuery(".reg_text1").css("position","relative");
   jQuery(".reg_text1").css("z-index","999");
    }



   });
  jQuery("#register").hide();	
   jQuery("#image_frm_register").click(function()
   {
   if (jQuery("#register:visible").length != 0)
   {
   jQuery("#register").fadeTo("1000", 0).hide();
   jQuery(".reg_text1").css("background","none");
   }
    
   else {
   jQuery("#register").fadeTo("1000", 1).show();
   jQuery(".reg_text1").css("background","#ffffff");
   jQuery(".reg_text1").css("position","relative");
   jQuery(".reg_text1").css("z-index","999");
    }



   });
			
    jQuery(".tabdiv").hide();
    jQuery("#create").show();
    jQuery(".c1").css("background-color","#e5e5e5");
    jQuery(".tabnav li").click(function($){
    getid = jQuery(this).find("a").attr('href');
    jQuery(".tabnav li a").css("background-color","");
    jQuery(this).find("a").css("background-color","#e5e5e5");
    jQuery(".tabdiv").slideUp('slow');
    jQuery(getid).slideDown('slow');
    return false;
    });
   
  });
    jQuery.noConflict();
    jQuery(document).ready(function(){   
    jQuery(".languages_select").click(function()
    { 
    li_id=jQuery(this).attr('id');
    jQuery("#selected_lang").html(li_id);
    jQuery("#products").fadeTo("1000", 0).hide();
    jQuery(".reg_text1").css("background","none");					    	    
    });
    jQuery("#products").mouseleave(function()
    { 
     //alert("hello");
    if(jQuery("#products").is(":visible")){
    jQuery(this).stop()
    jQuery(this).hide();
    jQuery(".reg_text1").css("background","none");	
    
    }
    	    
    });		
	
    $(".foot_right li").hover(
      function () {
      $(this).css("color","#ffffff");
       }, 
      function () {
       $(this).css("color","red");

       }
       );
		
    });	
:javascript
  jQuery.noConflict();
  jQuery(function() {
		
   jQuery(".menu_middle").click(function () {
   	Cufon.replace('.slidetabs_2_inner li a', {color: '#000000'});
  			Cufon.replace('.slidetabs_2_inner li a.current', {color: '#ffffff'});
    			
  			Cufon.replace('.sf-with-ul li a', {color: '#20202c'});
  			
   });
  }); 
%script{:charset => "utf-8", :type => "text/javascript"}
  jQuery(function() {

  function launch() {
  jQuery('#home_page').lightbox_me({centered: true, onLoad: function() { $('#home_page').find('input:first').focus()}});
  jQuery('#languages').lightbox_me({centered: true, onLoad: function() { $('#languages').find('input:first').focus()}});
  jQuery('#creative').lightbox_me({centered: true, onLoad: function() { $('#creative').find('input:first').focus()}});
  jQuery('#banner').lightbox_me({centered: true, onLoad: function() { $('#banner').find('input:first').focus()}});
  jQuery('#how_we_help').lightbox_me({centered: true, onLoad: function() { $('#how_we_help').find('input:first').focus()}});
  }
      
  jQuery('#home_new').click(function(e) {
  jQuery("#home_page").lightbox_me({centered: true, onLoad: function() {
  jQuery("#home_page").find("input:first").focus();
  }});    
  e.preventDefault();
  });


  jQuery('#languages_new').click(function(e) {
  jQuery("#languages").lightbox_me({centered: true, onLoad: function() {
  jQuery("#languages").find("input:first").focus();
  }});    
  e.preventDefault();
  });		

  jQuery('#language_translation_new').click(function(e) {
  jQuery("#language_translation").lightbox_me({centered: true, onLoad: function() {
  jQuery("#language_translation").find("input:first").focus();
  }});    
  e.preventDefault();
  });		

  jQuery('#language_localisation_new').click(function(e) {
  jQuery("#language_localisation").lightbox_me({centered: true, onLoad: function() {
  jQuery("#language_localisation").find("input:first").focus();
  }});    
  e.preventDefault();
  });		
		
  jQuery('#language_consultancy_new').click(function(e) {
  jQuery("#language_consultancy").lightbox_me({centered: true, onLoad: function() {
  jQuery("#language_consultancy").find("input:first").focus();
  }});    
  e.preventDefault();
  });		
		
  jQuery('#language_tools_new').click(function(e) {
  jQuery("#language_onlinetools").lightbox_me({centered: true, onLoad: function() {
  jQuery("#language_onlinetools").find("input:first").focus();
  }});    
  e.preventDefault();
  });				

		
  jQuery('#creative_new').click(function(e) {
  jQuery("#creative").lightbox_me({centered: true, onLoad: function() {
  jQuery("#creative").find("input:first").focus();
  }});    
  e.preventDefault();
  });		
		

  jQuery('#creative_artwork_new').click(function(e) {
  jQuery("#creative_artwork").lightbox_me({centered: true, onLoad: function() {
  jQuery("#creative_artwork").find("input:first").focus();
  }});    
  e.preventDefault();
  });		

  jQuery('#creative_webdesign_new').click(function(e) {
  jQuery("#creative_webdesign").lightbox_me({centered: true, onLoad: function() {
  jQuery("#creative_webdesign").find("input:first").focus();
  }});    
  e.preventDefault();
  });	

  jQuery('#creative_adv_new').click(function(e) {
  jQuery("#creative_adv").lightbox_me({centered: true, onLoad: function() {
  jQuery("#creative_adv").find("input:first").focus();
  }});    
  e.preventDefault();
  });	

  jQuery('#creative_copywriting_new').click(function(e) {
  jQuery("#creative_copywriting").lightbox_me({centered: true, onLoad: function() {
  jQuery("#creative_copywriting").find("input:first").focus();
  }});    
  e.preventDefault();
  });	

  jQuery('#creative_interactive_new').click(function(e) {
  jQuery("#creative_interactive").lightbox_me({centered: true, onLoad: function() {
  jQuery("#creative_interactive").find("input:first").focus();
  }});    
  e.preventDefault();
  });	

		
  jQuery('#technology_new').click(function(e) {
  jQuery("#technology").lightbox_me({centered: true, onLoad: function() {
  jQuery("#technology").find("input:first").focus();
  }});    
  e.preventDefault();
  });	

  jQuery('#technology_learning_new').click(function(e) {
  jQuery("#technology_learning").lightbox_me({centered: true, onLoad: function() {
  jQuery("#technology_learning").find("input:first").focus();
  }});    
  e.preventDefault();
  });	



  jQuery('#technology_commerce_new').click(function(e) {
  jQuery("#technology_commerce").lightbox_me({centered: true, onLoad: function() {
  jQuery("#technology_commerce").find("input:first").focus();
  }});    
  e.preventDefault();
  });	
	
	
  jQuery('#technology_security_new').click(function(e) {
  jQuery("#technology_security").lightbox_me({centered: true, onLoad: function() {
  jQuery("#technology_security").find("input:first").focus();
  }});    
  e.preventDefault();
  });	

  jQuery('#technology_crm_new').click(function(e) {
  jQuery("#technology_crm").lightbox_me({centered: true, onLoad: function() {
  jQuery("#technology_crm").find("input:first").focus();
  }});    
  e.preventDefault();
  });		
	
	
  jQuery('#banner_new').click(function(e) {
  jQuery("#banner").lightbox_me({centered: true, onLoad: function() {
  jQuery("#banner").find("input:first").focus();
  }});    
  e.preventDefault();
  });				

  jQuery('#projects_new').click(function(e) {
  jQuery("#projects_land").lightbox_me({centered: true, onLoad: function() {
  jQuery("#projects_land").find("input:first").focus();
  }});    
  e.preventDefault();
  });			

  jQuery('#project_case_studies_new').click(function(e) {
  jQuery("#projects_case_studies").lightbox_me({centered: true, onLoad: function() {
  jQuery("#projects_case_studies").find("input:first").focus();
  }});    
  e.preventDefault();
  });			


  jQuery('#how_we_help_new').click(function(e) {
  jQuery("#how_we_help").lightbox_me({centered: true, onLoad: function() {
  jQuery("#how_we_help").find("input:first").focus();
  }});    
  e.preventDefault();
  });			
		
  jQuery('#contact_new').click(function(e) {
  jQuery("#contact_us").lightbox_me({centered: true, onLoad: function() {
  jQuery("#contact_us").find("input:first").focus();
  }});    
  e.preventDefault();
  });			
  - if !flash[:notice].blank? 
    jQuery("#message").lightbox_me({centered: true});
    //alert ("Your brief has been submitted successfully, one of our project managers will be in-touch shortly.");
  - if !flash[:alert].blank?    
    jQuery("#client").lightbox_me({centered: true});
				
		
		
  jQuery('table tr:nth-child(even)').addClass('stripe');
  });
%script{:language => "JavaScript"}
  jQuery(document).ready(function(){

  jQuery("ul.sf-menu").superfish({
  pathClass:  'current'
  });
		
  jQuery(".lp_navigation li a").click(function(){
  Cufon.replace('.lp_navigation li a', {color: '#000'});
  jQuery(".lp_navigation li a").removeClass("current");
  jQuery(this).addClass("current");
  Cufon.replace(this, {color: '#ffffff'});
  });
		
  });


:javascript
  jQuery(document).ready(function(){ 
  jQuery(".sf-with-ul").mouseover(function(){
  colrid = "#"+jQuery(this).attr("id");
  Cufon.replace(this, {color: colrid});
  }); 
  jQuery(".sf-with-ul").mouseout(function(){
  if((jQuery(this).parent().attr("class")!= "sfHover sf-breadcrumb") && (jQuery(this).parent().attr("class")!= "sf-breadcrumb")){
  Cufon.replace(this, {color: '#383839'});
  }
  colrhref = jQuery(this).attr("href");
  var pathname = window.location.pathname;
  if(colrhref==pathname)
  {
  colrid = "#"+jQuery(this).attr("id");
  Cufon.replace(this, {color: colrid});  
  }
  });
  });
  

:javascript
  jQuery(document).ready(function() {
  jQuery.noConflict();
  jQuery("ul.fblinks li,p.foot_logo").hover(function() { //On hover...
  var thumbOver = jQuery(this).find("img").attr("src"); //Get image url and assign it to 'thumbOver'
  jQuery(this).find("a.thumb1").css({'background' : 'url(' + thumbOver + ') no-repeat center -23px'});
  jQuery(this).find("a.thumb2").css({'background' : 'url(' + thumbOver + ') no-repeat center -98px'});
  jQuery(this).find("span").stop().fadeTo('normal', 0 , function() {
  jQuery(this).hide(); //Hide the image after fade
  }); 
  } , function() { //on hover out...
  		//Fade the image to 1 
        jQuery(this).find("span").stop().fadeTo('normal', 1).show();
        jQuery(this).find("a.thumb2").stop().css({'background' : 'url(' + thumbOver + ') no-repeat center -96px'});
  });
  });
  function comingsoon()
  {
  jQuery("#comingsoon").lightbox_me({centered: true});    
  }
		

