/ submit block start
#submit-a-brief
  %h4 Submit a brief
  .sub_inner
    .sub_leftcorner
      %span
    .sub_bg
      .sub_bg_inner
        %form
          %p
            %span Name
            %input{:type => "text"}/
          %p
            %span Email
            %input{:type => "text"}/
          %p
            %span File
            %input#browsetext{:name => "browsetext", :style => "width:300px;", :type => "text", :value => ""}/
            %input{:accept => "/images/frontend/gif,image/jpeg", :name => "browse2", :style => "display: none;", :type => "file"}/
            %img{:alt => "Add Picture", :height => "22", :name => "AddPicture", :onClick => "document.forms1.browse2.click();\r\ndocument.forms1.browsetext.value=document.forms1.browse2.value;\r\ndocument.forms1.browse2.disabled=false", :src => "/images/frontend/browse_btn1.png", :width => "51"}/
          %p.form_btn
            %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => ""}/
	    

    .sub_rightcorner
      %span
/ submit block end
/ how we help block start
#how-we-help
  %h4 How we help connect
  .help_block
    #main
      .container
        #slider
          .product
            .pic
              %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title Build an Arabic version of your website for Middle East expansion
          .product
            .pic
              %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/2.png", :width => "116"}/
            .title Build an Arabic version of your website for Middle East expansion
          .product
            .pic
              %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/3.png", :width => "116"}/
            .title Build an Arabic version of your website for Middle East expansion
          .product
            .pic
              %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/4.png", :width => "116"}/
            .title Build an Arabic version of your website for Middle East expansion
          .product
            .pic
              %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/5.png", :width => "116"}/
            .title Build an Arabic version of your website for Middle East expansion
        .clear
/ how we help block end