#technology_security.sign_up{:style => "display:none"}
  %h3#see_id  TECHNOLOGY / ONLINE SECURITY
  %br.clear
  %div
    = form_for :technology_page, :url => {:controller => "pages",:action => "technology_create"},:html =>{:name => "tech_commerce_form",:multipart => :true,:onsubmit => "return tech_security();"} do |f|
      = f.hidden_field :page_section,  :value => "tech_security_page"
      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Title:
        = f.text_field :title, :style => "width:600px;", :id => "creative_design_heading", :value => get_languages('tech_security_page','title') 

        %label
          %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Image:
          %input{:type=>"file", :name=>"technology_page[image]", :size=>"63", :style=>"font:12px arial; height:20px; width:600px; position: relative;" }

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary:
        = f.text_area :content, :style => "width:600px;",  :id => "security_summary", :value => get_languages('tech_security_page','summary')


      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  .clear  

  %a#close_x.close.sprited{:href => "#"} close
