#technology_crm.sign_up{:style => "display:none"}
  %h3#see_id  TECHNOLOGY / CRM
  %br.clear
  %div
    = form_for :technology_page, :url => {:controller => "pages",:action => "technology_create"},:html =>{:name => "tech_crm_form",:onsubmit => "return tech_crm();"} do |f|
      = f.hidden_field :page_section,  :value => "tech_crm_page"

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary:
        = f.text_area :content, :style => "width:600px;",  :id => "crm_summary", :value => get_languages('tech_crm_page','summary')


      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  .clear  

  %a#close_x.close.sprited{:href => "#"} close