%div
  #sample4.sampleTabContent
    %ul#sample-menu-4.sf-menu.sf-navbar
      - if params[:action] == 'languages_new' || params[:action] == 'language_translation' || params[:action] == 'language_localisation' || params[:action] == 'language_consultancy' || params[:action] == 'language_tools'
        %li.current
          %a.sf-with-ul{:href => "/languages"}
            Languages
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/languages/translation"}
                - if params[:action] == 'language_translation'
                  %span.languagesclass Translation					
                - else
                  Translation		
                
            %li.sub_nav
              %a{:href => "/languages/localisation"}
                - if params[:action] == 'language_localisation'
                  %span.languagesclass Localisation					
                - else
                  Localisation		

            %li.sub_nav
              %a{:href => "/languages/consultancy"}
                - if params[:action] == 'language_consultancy'
                  %span.languagesclass Consultancy					
                - else
                  Consultancy		
            %li.sub_nav
              %a{:href => "/languages/online-tools"}
                - if params[:action] == 'language_tools'
                  %span.languagesclass Online Tools					
                - else
                  Online Tools	

      - else
        %li			
          %a.sf-with-ul{:href => "/languages"}
            Languages
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/languages/translation"}
                - if params[:action] == 'language_translation'
                  %span.languagesclass Translation					
                - else
                  Translation		
            %li.sub_nav
              %a{:href => "/languages/localisation"}
                - if params[:action] == 'language_localisation'
                  %span.languagesclass Localisation					
                - else
                  Localisation		

            %li.sub_nav
              %a{:href => "/languages/consultancy"}
                - if params[:action] == 'language_consultancy'
                  %span.languagesclass Consultancy					
                - else
                  Consultancy		
            %li.sub_nav
              %a{:href => "/languages/online-tools"}
                - if params[:action] == 'language_tools'
                  %span.languagesclass Online Tools					
                - else
                  Online Tools	
      - if params[:action] == 'creative_new' || params[:action] == 'creative_work' || params[:action] == 'creative_design' || params[:action] == 'creative_writing' || params[:action] == 'creative_interactive' 
        %li.current
          %a.sf-with-ul{:href => "/creative"}
            Creative
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/creative/artwork"}
                - if params[:action] == 'creative_work'
                  %span.creativeclass Artwork					
                - else
                  Artwork																			

            %li.sub_nav
              %a{:href => "/creative/webdesign"}
                - if params[:action] == 'creative_design'
                  %span.creativeclass Webdesign					
                - else
                  Webdesign		

            %li.sub_nav
              %a{:href => "/creative/copywriting"}
                - if params[:action] == 'creative_writing'
                  %span.creativeclass Copywriting					
                - else
                  Copywriting		

            %li.sub_nav
              %a{:href => "/creative/interactive"}
                - if params[:action] == 'creative_interactive'
                  %span.creativeclass Interactive					
                - else
                  Interactive		

      - else
        %li
          %a.sf-with-ul{:href => "/creative"}
            Creative
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/creative/artwork"}
                - if params[:action] == 'creative_work'
                  %span.creativeclass Artwork					
                - else
                  Artwork																			

            %li.sub_nav
              %a{:href => "/creative/webdesign"}
                - if params[:action] == 'creative_design'
                  %span.creativeclass Webdesign					
                - else
                  Webdesign		

            %li.sub_nav
              %a{:href => "/creative/copywriting"}
                - if params[:action] == 'creative_writing'
                  %span.creativeclass Copywriting					
                - else
                  Copywriting		

            %li.sub_nav
              %a{:href => "/creative/interactive"}
                - if params[:action] == 'creative_interactive'
                  %span.creativeclass Interactive					
                - else
                  Interactive		
      - if params[:action] == 'technology_new' || params[:action] == 'technology_learning' || params[:action] == 'technology_commerce' || params[:action] == 'technology_secure' || params[:action] == 'technology_dms' 
        %li.current
          %a.sf-with-ul{:href => "/technology"}
            Technology
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/technology/e-learning"}
                - if params[:action] == 'technology_learning'
                  %span.techclass E-Learning					
                - else
                  E-Learning			
            %li.sub_nav
              %a{:href => "/technology/e-commerce"}
                - if params[:action] == 'technology_commerce'
                  %span.techclass E-Commerce					
                - else
                  E-Commerce			

            %li.sub_nav
              %a{:href => "/technology/online-security"}
                - if params[:action] == 'technology_secure'
                  %span.techclass Online Security					
                - else
                  Online Security			
  
            %li.sub_nav
              %a{:href => "/technology/dms"}
                - if params[:action] == 'technology_dms'
                  %span.techclass DMS					
                - else
                  DMS			
      - else
        %li
          %a.sf-with-ul{:href => "/technology"}
            Technology
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/technology/e-learning"}
                - if params[:action] == 'technology_learning'
                  %span.techclass E-Learning					
                - else
                  E-Learning			
            %li.sub_nav
              %a{:href => "/technology/e-commerce"}
                - if params[:action] == 'technology_commerce'
                  %span.techclass E-Commerce					
                - else
                  E-Commerce			

            %li.sub_nav
              %a{:href => "/technology/online-security"}
                - if params[:action] == 'technology_secure'
                  %span.techclass Online Security					
                - else
                  Online Security			
  
            %li.sub_nav
              %a{:href => "/technology/dms"}
                - if params[:action] == 'technology_dms'
                  %span.techclass DMS					
                - else
                  DMS			
          
      %li
        %a.sf-with-ul{:href => "#"}
          Projects
        %span.sf-sub-indicator »
        %ul
          %li.sub_nav
            %a{:href => "#"} Projects

      - if params[:action] == 'network_land' || params[:action] == 'network_featured'
        %li.current
          %a.sf-with-ul{:href => "/network",:style => "padding-right:0px!important;"}
            Network
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "#"} Registration
            %li.sub_nav
              %a{:href => "/network/featured"}
                - if params[:action] == 'network_featured'
                  %span.featuredclass Featured					
                - else
                  Featured										
      - else
        %li
          %a.sf-with-ul{:href => "/network",:style => "padding-right:0px!important;"}
            Network
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "#"} Registration
            %li.sub_nav
              %a{:href => "/network/featured"}
                - if params[:action] == 'network_featured'
                  %span.featuredclass Featured					
                - else
                  Featured					