%div
  #sample4.sampleTabContent
    %ul#sample-menu-4.sf-menu.sf-navbar
      %li.current
        %a.sf-with-ul{:href => "/languages"}
          Languages
          %span.sf-sub-indicator »
        %ul
          %li
            %a{:href => "#"} Translation
          %li
            %a{:href => "#"} Localisation
          %li
            %a{:href => "#"} Consultancy
          %li
            %a{:href => "#"} Online Tools
      %li
        %a.sf-with-ul{:href => "landing-page.html"}
          Creative
          %span.sf-sub-indicator »
        %ul
          %li
            %a{:href => "#"} 1
          %li
            %a{:href => "#"} 2
          %li
            %a{:href => "#"} 3
          %li
            %a{:href => "#"} 4
      %li
        %a.sf-with-ul{:href => "tech-landing-page.html"}
          Technology
          %span.sf-sub-indicator »
        %ul
          %li
            %a{:href => "#"} if no subitems, duplicate parent item href and use this as descriptive label
      %li
        %a.sf-with-ul{:href => "#"}
          Projects
        %span.sf-sub-indicator »
        %ul
          %li
            %a{:href => "#"} Tech Landing Page
          %li
            %a{:href => "#"} subitem 4b
          %li
            %a{:href => "#"} subitem 4c
          %li
            %a{:href => "#"} subitem 4d
      %li
        %a.sf-with-ul{:href => "#",:style => "padding-right:0px!important;"}
          Network
          %span.sf-sub-indicator »
        %ul
          %li
            %a{:href => "#"} subitem 5a
          %li
            %a{:href => "#"} subitem 5b
          %li
            %a{:href => "#"} subitem 5c
          %li
            %a{:href => "#"} subitem 5d