%div
  #sample4.sampleTabContent
    %ul#sample-menu-4.sf-menu.sf-navbar
      - if params[:action] == 'languages_new' || params[:action] == 'language_translation' || params[:action] == 'language_localisation' || params[:action] == 'language_consultancy' || params[:action] == 'languages_writing'
        %li.current
          %a#aa0c22.sf-with-ul{:href => "/languages", :style=>"color:#aa0c22"}
            Languages
            %span.sf-sub-indicator »
          %ul

            %li.sub_nav
              %a{:href => "/languages/copywriting"}
                - if params[:action] == 'languages_writing'
                  %span.languagesclass Copywriting					
                - else
                  Copywriting		

            %li.sub_nav
              %a{:href => "/languages/translation"}
                - if params[:action] == 'language_translation'
                  %span.languagesclass Translation					
                - else
                  Translation		
                
            %li.sub_nav
              %a{:href => "/languages/localisation"}
                - if params[:action] == 'language_localisation'
                  %span.languagesclass Localisation					
                - else
                  Localisation		

            %li.sub_nav
              %a{:href => "/languages/consultancy"}
                - if params[:action] == 'language_consultancy'
                  %span.languagesclass Consultancy					
                - else
                  Consultancy		


      - else
        %li			
          %a#aa0c22.sf-with-ul{:href => "/languages" , :style=>"color:#383839" }
            Languages
            %span.sf-sub-indicator »
          %ul

            %li.sub_nav
              %a{:href => "/languages/copywriting"}
                - if params[:action] == 'languages_writing'
                  %span.languagesclass Copywriting					
                - else
                  Copywriting		
            %li.sub_nav
              %a{:href => "/languages/translation"}
                - if params[:action] == 'language_translation'
                  %span.languagesclass Translation					
                - else
                  Translation		
            %li.sub_nav
              %a{:href => "/languages/localisation"}
                - if params[:action] == 'language_localisation'
                  %span.languagesclass Localisation					
                - else
                  Localisation		

            %li.sub_nav
              %a{:href => "/languages/consultancy"}
                - if params[:action] == 'language_consultancy'
                  %span.languagesclass Consultancy					
                - else
                  Consultancy		

      - if params[:action] == 'creative_new' || params[:action] == 'creative_work' || params[:action] == 'creative_design' || params[:action] == 'creative_interactive' || params[:action] == 'creative_adv' 
        %li.current
          %a#0069a9.sf-with-ul{:href => "/creative" , :style=>"color:#0069a9"}
            Creative
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/creative/artwork"}
                - if params[:action] == 'creative_work'
                  %span.creativeclass Artwork					
                - else
                  Artwork																			

            %li.sub_nav
              %a{:href => "/creative/advertising"}
                - if params[:action] == 'creative_adv'
                  %span.creativeclass Advertising					
                - else
                  Advertising		


            %li.sub_nav
              %a{:href => "/creative/webdesign"}
                - if params[:action] == 'creative_design'
                  %span.creativeclass Web Design					
                - else
                  Web Design		


            %li.sub_nav
              %a{:href => "/creative/interactive"}
                - if params[:action] == 'creative_interactive'
                  %span.creativeclass Interactive					
                - else
                  Interactive		

      - else
        %li
          %a#0069a9.sf-with-ul{:href => "/creative" , :style=>"color:#383839"}
            Creative
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/creative/artwork"}
                - if params[:action] == 'creative_work'
                  %span.creativeclass Artwork					
                - else
                  Artwork																			

            %li.sub_nav
              %a{:href => "/creative/advertising"}
                - if params[:action] == 'creative_adv'
                  %span.creativeclass Advertising					
                - else
                  Advertising	


            %li.sub_nav
              %a{:href => "/creative/webdesign"}
                - if params[:action] == 'creative_design'
                  %span.creativeclass Web Design					
                - else
                  Web Design		


            %li.sub_nav
              %a{:href => "/creative/interactive"}
                - if params[:action] == 'creative_interactive'
                  %span.creativeclass Interactive					
                - else
                  Interactive		
      - if params[:action] == 'technology_new' || params[:action] == 'technology_learning' || params[:action] == 'technology_commerce' || params[:action] == 'technology_secure' || params[:action] == 'technology_tools' 
        %li.current
          %a#5f9732.sf-with-ul{:href => "/technology"  , :style=>"color:#5f9732"}
            Technology
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/technology/e-learning"}
                - if params[:action] == 'technology_learning'
                  %span.techclass E-Learning					
                - else
                  E-Learning			
            %li.sub_nav
              %a{:href => "/technology/e-commerce"}
                - if params[:action] == 'technology_commerce'
                  %span.techclass E-Commerce					
                - else
                  E-Commerce			

            %li.sub_nav
              %a{:href => "/technology/online-security"}
                - if params[:action] == 'technology_secure'
                  %span.techclass Online Security					
                - else
                  Online Security			
  
            %li.sub_nav
              %a{:href => "/technology/online-tools"}
                - if params[:action] == 'technology_tools'
                  %span.techclass Online Tools					
                - else
                  Online Tools			
      - else
        %li
          %a#5f9732.sf-with-ul{:href => "/technology" , :style=>"color:#383839"}
            Technology
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/technology/e-learning"}
                - if params[:action] == 'technology_learning'
                  %span.techclass E-Learning					
                - else
                  E-Learning			
            %li.sub_nav
              %a{:href => "/technology/e-commerce"}
                - if params[:action] == 'technology_commerce'
                  %span.techclass E-Commerce					
                - else
                  E-Commerce			

            %li.sub_nav
              %a{:href => "/technology/online-security"}
                - if params[:action] == 'technology_secure'
                  %span.techclass Online Security					
                - else
                  Online Security			
  
            %li.sub_nav
              %a{:href => "/technology/online-tools"}
                - if params[:action] == 'technology_tools'
                  %span.techclass Online Tools					
                - else
                  Online Tools			


      - if params[:action] == 'network_land' || params[:action] == 'network_featured'
        %li.current
          %a#227671.sf-with-ul{:href => "javascript://", :onClick => "comingsoon();" ,:style => "color:#227671"}
            Network
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/network/registration" } Registration
            %li.sub_nav
              %a{:href => "javascript://", :onClick => "comingsoon();" }
                - if params[:action] == 'network_featured'
                  %span.featuredclass Featured					
                - else
                  Featured										
      - else
        %li
          %a#227671.sf-with-ul{:href => "javascript://", :onClick => "comingsoon();" ,:style => "color:#383839;"}
            Network
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/network/registration" } Registration
            %li.sub_nav
              %a{:href => "javascript://", :onClick => "comingsoon();" }
                - if params[:action] == 'network_featured'
                  %span.featuredclass Featured					
                - else
                  Featured	


      - if params[:action] == 'contactus'
        %li
          %a#cf641e.sf-with-ul{:href => "/contact"  , :style=>"padding-right:0px!important; color:#cf641e"}
            Contact														 
      - else          
        %li
          %a#cf641e.sf-with-ul{:href => "/contact"  , :style=>"padding-right:0px!important; color:#383839"}
            Contact

