%div
  #sample4.sampleTabContent
    %ul#sample-menu-4.sf-menu.sf-navbar
      - if params[:action] == 'languages_new'
        %li.current
          %a.sf-with-ul{:href => "/languages"}
            Languages
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/languages/translation"} Translation
            %li.sub_nav
              %a{:href => "#"} Localisation
            %li.sub_nav
              %a{:href => "#"} Consultancy
            %li.sub_nav
              %a{:href => "#"} Online Tools
      - else
        %li			
          %a.sf-with-ul{:href => "/languages"}
            Languages
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "/languages/translation"} Translation
            %li.sub_nav
              %a{:href => "#"} Localisation
            %li.sub_nav
              %a{:href => "#"} Consultancy
            %li.sub_nav
              %a{:href => "#"} Online Tools
      - if params[:action] == 'creative_new'
        %li.current
          %a.sf-with-ul{:href => "/creative"}
            Creative
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "#"} Artwork
            %li.sub_nav
              %a{:href => "#"} Webdesign
            %li.sub_nav
              %a{:href => "#"} Copywriting 
            %li.sub_nav
              %a{:href => "#"} Interactive
      - else
        %li
          %a.sf-with-ul{:href => "/creative"}
            Creative
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "#"} Artwork
            %li.sub_nav
              %a{:href => "#"} Webdesign
            %li.sub_nav
              %a{:href => "#"} Copywriting
            %li.sub_nav
              %a{:href => "#"} Interactive
      - if params[:action] == 'technology_new'
        %li.current
          %a.sf-with-ul{:href => "/technology"}
            Technology
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "#"} E-Learning 
            %li.sub_nav
              %a{:href => "#"} E-Commerce 
            %li.sub_nav
              %a{:href => "#"} Online Security  
            %li.sub_nav
              %a{:href => "#"} Dms 
      - else
        %li
          %a.sf-with-ul{:href => "/technology"}
            Technology
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "#"} E-Learning 
            %li.sub_nav
              %a{:href => "#"} E-Commerce 
            %li.sub_nav
              %a{:href => "#"} Online Security  
            %li.sub_nav
              %a{:href => "#"} Dms 
      %li
        %a.sf-with-ul{:href => "#"}
          Projects
        %span.sf-sub-indicator »
        %ul
          %li.sub_nav
            %a{:href => "#"} Projects

      - if params[:action] == 'network_land'
        %li.current
          %a.sf-with-ul{:href => "/network",:style => "padding-right:0px!important;"}
            Network
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "#"} Registration
            %li.sub_nav
              %a{:href => "/network/featured"} Featured
      - else
        %li
          %a.sf-with-ul{:href => "/network",:style => "padding-right:0px!important;"}
            Network
            %span.sf-sub-indicator »
          %ul
            %li.sub_nav
              %a{:href => "#"} Registration
            %li.sub_nav
              %a{:href => "/network/featured"} Featured
