%ul
  - folder.sub_folders.each do |f|
    %li
      = link_to f.title, :action => :index, :folder_id => f.id
      (#{link_to 'X', {:action => :doc_delete, :folder_id => f.id}, :confirm => 'Are you sure you want to delete this Folder?'})
      \#{render :partial => 'folders', :locals => {:folder => f}}