- form_for :sentence, :url => {:action => "create_tag",:sid => @sentence.id},:remote => :true do
        
  #pop_login_wrapper
    .head_login
      %span Add Tag  
    
      %a.close.close_form{:href => "#"}
    #pop_loging_form.fl_left
      .inner_login_wrap
        .form_block_two.fl_left.mag_non
          %label.fl_left.text_indent &nbsp;
          %br.clear_all/
          %label.fl_left.input_width_12.textarea_width_12
            = text_area :tag, :tag
          .clear_all
          .error_msg dd

        .form_block_two.fl_left.mag_non
          %label.fl_left.input_width_12{:style => "background:none"}
            %input.sign_submit.create_submit{:type => "submit", :value => "Add Tag",:id => "create_term_btn"}/
      .clear_all
      / Lead form end
      
:javascript

      //if close button is clicked
      $('.window .close').click(function (e) {
          //Cancel the link behavior
          e.preventDefault();
  
          $('#mask').fadeOut(200);
          $('.window').fadeOut(200);
      }); 


