#contentwrapper
  #contentcolumn
    #accordion.innertube-1
      / head block wrapper
      .head_project_wrapper
        / heading
        .heading_project_blocks
          %h2 Nord Anglia Education - Dashboard
        / heading end
        %br.clear_all/
      / head block wrapper end
      / user action wrapper block
      .grid_wrapper{:style => "border:0"}
        .heading_block
          %h3#1 Project Status Overview
        .spacer.clear_all
          %span
        .sample.1
          %table.myTable02{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %thead
              %tr
                %th{:width => "25%"}
                  .head Assignments
                %th{:width => "25%"}
                  .head Start date
                %th{:width => "25%"}
                  .head Status
                %th{:width => "25%"}
                  .head Progress
            %tbody
              %tr
                %td
                  %div Entertainment
                %td
                  %div www.loremipsum.org
                %td
                  %div -None-
                %td
                  %div star
              %tr
                %td
                  %div Entertainment
                %td
                  %div www.loremipsum.org
                %td
                  %div -None-
                %td
                  %div star
              %tr
                %td
                  %div Entertainment
                %td
                  %div www.loremipsum.org
                %td
                  %div -None-
                %td
                  %div star
              %tr
                %td
                  %div Entertainment
                %td
                  %div www.loremipsum.org
                %td
                  %div -None-
                %td
                  %div star
        / table grid block end
      .extra_spacer.clear_all
        %span
      / table grid block
      / table grid block
      .grid_wrapper{:style => "border:0"}
        .heading_block
          %h3#2 Recent Tasks
        .sample.2
          %table.myTable02{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %thead
              %tr
                %th{:width => "25%"}
                  .head Tasks
                %th{:width => "25%"}
                  .head Project Manager
                %th{:width => "25%"}
                  .head Delivery Date
                %th{:width => "25%"}
                  .head Status
            %tbody
              %tr
                %td
                  %div Entertainment
                %td
                  %div www.loremipsum.org
                %td
                  %div -None-
                %td
                  %div star
              %tr
                %td
                  %div Entertainment
                %td
                  %div www.loremipsum.org
                %td
                  %div -None-
                %td
                  %div star
              %tr
                %td
                  %div Entertainment
                %td
                  %div www.loremipsum.org
                %td
                  %div -None-
                %td
                  %div star
        / table grid block end
      .extra_spacer.clear_all
        %span
      .grid_wrapper{:style => "border:0"}
        .heading_block
          %h3#3 Latest Activities
        .sample.3
          #comment_block
            .status_comment
              %span 2 Comments
            .extra_spacer.clear_all
              %span
            .fl_left.sts_comment_left_column
              %h4 John Doe
              %p Posted 30 minutes ago
              %img{:height => "32", :src => "images/clients/avatar_cmt.gif", :width => "33"}/
            .fl_left.sts_comment_right_column
              .sts_comment_right_inner
              %p
                Learn how to use Macromedia Dreamweaver 8 documentation and other resources, and set up the Dreamweaver workspace to fit your preferred working style. Then plan and set up a site, and begin to create pages.
            .clear_all
              %span
          / table grid block end
      .extra_spacer.clear_all
        %span
      .grid_wrapper{:style => "border:0"}
        #3.heading_block
          %h3#4 Glossary Statistics
        / table grid block end
        %p.glossary
          %b Educational:
          English - Arabic
        %p.glossary{:style => "padding-top:3px; font-size:16px"}
          %b.numb 10.2340
          translated words
    .clear_all
#leftcolumn
  / vertical menu
  .glossymenu
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "images/new_page/view_details.png"}>/
      Dashboard
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "images/clients/new_icon.png"}>/
      New Assignment
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "images/clients/new_icon.png"}>/
      New Task
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "images/new_page/view_details.png"}>/
      Recent Activities
    .clear_all