

%script{:type => "text/javascript"}

  jQuery(document).ready( function() {

  setTimeout(function(){ jQuery("#message").fadeOut(); }, 5000);  
  });
 


  });


#contentwrapper
  #contentcolumn
    #accordion.innertube-1
      / head block wrapper
      .head_project_wrapper
        / heading
        .heading_project_blocks
          %h2.fl_left Nord Anglia Education - Image Management
        / heading end
        %br.clear_all/
      / head block wrapper end
      .spacer.clear_all
        %span
      #search_block.fl_left
        %input.search_field{:type => "text"}/
        %input.search_input{:type => "submit", :value => " "}/
      .spacer.clear_all{:style => "height:15px;"}
        %span
      #image_mangement_wrapper
        %ul
          - for manage_image in @manage_images
            %li
              .avatar
                = image_tag manage_image.image.url(:thumb)
              .user_image_actions
                %ul
                  %li.image_view
                    %a{:href => "#"}
                  %li.image_download
                    %a{:href => "#"}
                  %li.image_edit
                    %a{:href => "#"}
                  %li.image_delete
                    %a{:href => "#"}
              %br.clear_all/
              %div
                = truncate(manage_image.subject.titleize,:length => 35, :omission => '...')
    .clear_all
 
#leftcolumn
  / vertical menu
  .glossymenu
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Dashboard
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/clients/new_icon.png"}>/
      New Assignment
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/clients/new_icon.png"}>/
      New Task
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Recent Activities
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Project Activities
    .clear_all
    

