#mid.glossary {
  span.iso639-1{
    display: inline-block;
    span.flag {
      @include replace-text('/images/locales/unknown.png', 50%, 50%, 15px, 10px);
      &.en {background-image: url('/images/locales/en.png');}
      &.ar {background-image: url('/images/locales/ar.png');}
      &.es {background-image: url('/images/locales/es.png');}
      &.it {background-image: url('/images/locales/it.png');}
      &.fr {background-image: url('/images/locales/fr.png');}
      &.de {background-image: url('/images/locales/de.png');}
    }
  }
  
  #parent{
    .tabs {
      @include horizontalist;
      padding-left: 20px;
      padding-top: 0.75em;
      border-bottom: 2px solid #666;
        li a {
          font-size: 1.2em;
          line-height: 1.25;
          padding: 0 5px;
          display: block;
          position: relative;
          top: 2px;
          border: 1px solid #666;
          
          &:hover, &:visited{
            text-decoration: none;
          }
          &.current{
            border-bottom: 2px solid $gigaworx-backgorund;
            //background-color: #666;
          }
        }
      }
    .panes{
      & > div{
        border:1px solid #666;
        border-width:0 1px 1px 1px;
        form{
          input[type=text]{
            width: 200px;
          }
        }
      }
    }
  }
  #glossary-words, #glossary-sentences {
    margin: 10px;
    padding: 0;
    li {
      list-style-type: none;
      a {
        color: $darkest;
        a.active{color: $darkest;}
        a:hover{color:  $darkest;}
      }
    }
  }
  
  #main {
    .box{
      @include column(16);
      @include border-radius(3px);
      padding: 0.5em;
      margin: 0 20px;
      background-color: #FDFFF0;
      @include box-shadow( 0px, 0px, 6px, #2F3029);

      form{
        textarea{
          height: 70px;
          width: 500px;
        }
      }
    }
  }
}