#mid.glossary {
  
  em.disabled {
    color: $gigavine-light-grey-bg;
  }
  
  span.iso639-1{
    display: inline-block;
    span.flag {
      @include replace-text('/images/locales/unknown.png', 50%, 50%, 15px, 10px);
      &.en {background-image: url('/images/locales/en.png');}
      &.ar {background-image: url('/images/locales/ar.png');}
      &.es {background-image: url('/images/locales/es.png');}
      &.it {background-image: url('/images/locales/it.png');}
      &.fr {background-image: url('/images/locales/fr.png');}
      &.de {background-image: url('/images/locales/de.png');}
    }
  }
  
  #parent{
    #glossary-search{
      margin-top: 1em;
      #glossary-search-box{
        padding-left: 5px;
        padding-top: 5px;
        h3 {color: $gigavine-white; text-shadow:1px 1px 1px $gigavine-dark-grey;}
        background-color: $gigavine-light-grey;
        margin: 0 3px;
        @include box-shadow( 0px, 3px, 2px, $gigavine-dark-grey);
        
        form{
          p      { position: relative; }
          label  { position: absolute; height: 0; top:10px; left:6px; color: $gigavine-medium-grey;}
          input[type=text]{
            width: 200px;
          }
        }
      }
    }
  }
  #glossary-sentences {
    ul {
      margin: 10px;
      padding: 0;
      li {
        list-style-type: none;
        a {
          color: $darkest;
          a.active{color: $darkest;}
          a:hover{color:  $darkest;}
        }
      }
    }
  }
  
  #main {
    #glossary-page {
      a.flag {
        @include replace-text('/images/flag_not_flagged.png', 50%, 50%, 24px, 24px);
        display: block;
        float: right;
        
        &:hover {background-image: url('/images/flag_flag.png');}
        &.flagged {
          background-image: url('/images/flag_flagged.png');
          &:hover {background-image: url('/images/flag_unflag.png');}
        }
      }
      em.flag {
        @include replace-text('/images/flag_not_flagged.png', 50%, 50%, 24px, 24px);
        display: block;
        float: right;
        &.flagged {background-image: url('/images/flag_flagged.png');}
      }
      .box {
        @include column(16);
        @include border-radius(3px);
        padding: 0.5em;
        margin: 3em 20px;
        background-color: #FDFFF0;
        @include box-shadow( 0px, 0px, 6px, #2F3029);

        form {
          textarea {
            height: 70px;
            width: 500px;
          }
        }
      }
      .comment-box {
        @include column(16);
        @include border-radius(3px);
        padding: 0.5em;
        margin: -2em 20px;
        background-color: #FDFFF0;
        @include box-shadow( 0px, 0px, 6px, #2F3029);
        p {
          span {color: red;}
        }
        ul {
          li {
            list-style-type: none;
            p {padding: 0px; margin: 0px;}
            .comment-line {margin: 1em;}
            .comment-buttons {font-size: 0.8em;}
          }
        }
      }
    }
  }
}