/*
==== MULTICOLUMN section ====
No need to break the paragraph 

.three-col {
       -moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap : 20px;
       -moz-column-rule-color:  #ccc;
       -moz-column-rule-style:  solid;
       -moz-column-rule-width:  1px;
       -webkit-column-rule-color:  #ccc;
       -webkit-column-rule-style: solid ;
       -webkit-column-rule-width:  1px;
}*/

@mixin placehold($width, $height, $color: #bbb){
  display: block;
  width: $width;
  height: $height;
  background: $color;}

@mixin horizontalist{
  @include clearfix;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  li {
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    &.first {padding-left: 0px;}
    &.last  {padding-right: 0px;}
  }
}