/*
==== MULTICOLUMN section ====
No need to break the paragraph 

.three-col {
       -moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap : 20px;
       -moz-column-rule-color:  #ccc;
       -moz-column-rule-style:  solid;
       -moz-column-rule-width:  1px;
       -webkit-column-rule-color:  #ccc;
       -webkit-column-rule-style: solid ;
       -webkit-column-rule-width:  1px;
}*/

@mixin placehold($width, $height, $color: #bbb){
  display: block;
  width: $width;
  height: $height;
  background: $color;}

@mixin horizontalist{
  @include clearfix;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  li {
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    &:first-child {padding-left: 0px;};
    &:last-child  {padding-right: 0px;};
  }
}

@mixin hide-text {
  $approximate_em_value: 12px / 1em;
  $wider_than_any_screen: -9999em;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left; }
  
@mixin replace-text($img, $px: 50%, $py: 50%, $x: false, $y: false) {
  @include hide-text;
  @if $x {width:  $x; }
  @if $y {height: $y;}
  display: block;
  background: {
    image: image-url($img);
    repeat: no-repeat;
    position: $px $py; }; }