// MAIN NAVIGATION WIDGETS

#room-switcher-menu{
  @include horizontalist;
  margin-left: 10px;
  li {
    padding: 4px;
    //@include box-shadow(#F0F09E, -1px, 1px);
    box-shadow:         inset 0px -1px 2px 0px rgba(255, 255, 255, 0.82);
    -webkit-box-shadow: inset 0px -1px 2px 0px rgba(255, 255, 255, 0.82);
    -moz-box-shadow:    inset 0px -1px 2px 0px rgba(255, 255, 255, 0.82);
    
    margin-left:  8px;
    margin-right: 8px;
    @include border-radius(3px);
    background: #ddd;
    @include opacity(0.8);
    &.notifiable {width: 60px;}
  }
  a {@include replace-text('/images/bare/room-switch-temp.png', 0, 0, 32px, 32px);}
  #room-switch-contacts   {background-image: url('/images/bare/room-switch-contacts.png')}
  #room-switch-schedule   {background-image: url('/images/bare/room-switch-schedule.png')}
  #room-switch-leads      {background-image: url('/images/bare/room-switch-leads.png')}
  #room-switch-glossary   {background-image: url('/images/bare/room-switch-glossary.png')}
  #room-switch-admin      {background-image: url('/images/bare/room-switch-admin.png')}
}


#account-panel{
  #account-avatar {display: block; float:left; margin-right:10px;}
  h4 {
    display: inline;
    color: #0a226c;
    a         {color: #0a226c;}
    a:hover   {color: #51a4dd; text-decoration: underline;}
    .sign-out {
      font-size: 0.6em;
      font-weight: bold;
      margin-bottom: 0.8em;
    }
  }
  #account-menu {
    @include horizontalist;
    li {&.notifiable {width: 32px;}}
    #account-feedback   {@include replace-text('/images/bare/account-feedback.png', 0, 0, 16px, 16px);}
    #account-statistics {@include replace-text('/images/bare/account-statistics.png', 0, 0, 16px, 16px);}
  }
}

.simple_overlay {
  display:none;
  z-index:10000;
  background-color:#FDFFF0;
  width:475px;	
  min-height:200px;
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;	
  @include border-radius(3px);
  padding: 0.5em;
  margin: -2em 20px;
  background-color: #FDFFF0;
  &.long {
    height: 80%;
    & > div {
      overflow-y: scroll;
      height: 100%;
      min-height:150px;
    }
  }
  .close{
    background-image:url(/images/overlay/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
  }
}