
%br
%br

.two-thirds
  %h4 About us
  %div
    %p Gigavine was founded in 2004 by a designer and a marketer, both multilingual, who shared the belief that existing business communication channels were not meeting the challenge of an increasingly globalised world. The pair began drawing on their diverse cultural backgrounds to create innovative forms of communication and technology that crossed cultural and regional boundaries.
    %p Today, Gigavine has offices across three continents, in London, New York and Dubai, and has grown to employ around 40 talented people in Europe, the Middle East and America – a collection of individuals from different countries and backgrounds, bound together by a passion for creating, translating and delivering cutting-edge global communications.
    %p Our in-house team is enhanced by a network of 500+ specialist professionals around the globe, whose skills we call upon whenever a project requires it.
    %p Learn more about our team on our key people page.

.box.equalized.azure.expand
  %h4 How we work
  %div
    %p We have a policy of regularly reviewing and assessing how we work, discarding what’s ineffective and exploring new and better ways to do things. It’s an evolutionary approach designed to keep us improving with each new project.
    %p This proactive approach means we don’t repeat ourselves. Our work for our clients is always evolving – and therefore innovative.

%br.clear
%div
  %h4 Delivering the right result, right on time
  %div.content
    %p It’s good to know we offer a very wide range of resources, but you also need an excellent working relationship with one or two individuals. We assign a single project manager to each project who acts as your point of contact.
    %p Good project management is so essential to successful delivery. It reduces risk and ensures we keep within budget and on schedule. With complex, multi-disciplinary international projects, it’s even more important.
    %p That’s why we use GigaWorks, our own web-based customer portal, to optimise project management by involving our clients as the project unfolds. This allows us to head off issues before they grow and gives clients project management transparency and control.
    %p GigaWorks was developed by our own in-house IT technicians and offers optimum security. You can use it to:
    
    %ul
      %li Request and receive online quotations
      %li Access our filing systems to upload/download documents
      %li Monitor the progress of ongoing projects in real-time
      %li Specify and limit budgets for your employees as they use our services
      %li Access detailed reports on levels of spending per service or time period
      %li Access and reprint invoices

