#highlight
  .header
    %h2 Join our team
    %p We are always looking for talented individuals to join our network of specialists around the world who we call upon for particular projects, or to fill staff vacancies.
    %p We’d like to hear from you if you have skills in marketing, design, artworking, motion graphics, writing, translation, interpreting, localisation, developing or programming. We’ll keep your details on file and match you to an appropriate project which involves your skills and your location.
    %p Please send us your CV and samples of your work.
    %p We’re looking forward to hearing from you.
    =link_to 'signup now', '#', :class => 'signup-now'

  %br
  
  .highlights
    %h3.border-bottom HIGHLIGHTS
    .box.building
      %h4 Building & Showcasing
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .box.connectinog
      %h4 Connecting & Collaborating
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .box.exposure
      %h4 Exposure & Promotion
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  %br.clear
  %br
  
  #feature-list
    %h3.border-bottom THE NETWORK AT A GLANCE
    %ul#tabs
      %li
        %a.first header title 1
      %li
        %a header title 1
      %li
        %a.current header title 1
      %li
        %a.last header title 1
    %ul#output
      %li
        .text
          %h3 TITLES GOES HERE 1
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .image
          %img{:src => '/images/bags.png'}
      %li
        .text
          %h3 TITLES GOES HERE 2
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .image
          %img{:src => '/images/bags.png'}
      %li
        .text
          %h3 TITLES GOES HERE 3
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .image
          %img{:src => '/images/bags.png'}
      %li
        .text
          %h3 TITLES GOES HERE 4
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .image
          %img{:src => '/images/bags.png'}

  %br.clear
  %br
  
  %div.follow
    %h3 SIGN UP TO FOLLOW
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      =link_to 'eiusmod tempor', '#'
      incididunt ut labore et dolore magna aliqua.

  %br
  %br